.rogue-seed-page {

  .rogue-seed-form {
    width: 80%;
    margin: auto;
    .rogue-seed-tag-form {
      display: flex;
      border-radius: 4px;
      border: 1px solid var(--c-border-color);
      width: 95%;
      align-items: center;
      flex-wrap: wrap;
      .rogue-seed-tag-box {
        display: flex;

        .rogue-seed-tag {
          background-color: var(--c-btn-blue-light);
          border-radius: 3px;
          padding:0 8px;
          margin: 4px;
          font-weight: bolder;
          font-size: 14px;
          color: white;
        }
      }
      .rogue-seed-tag-input{
        border: none;
        outline: none;
        height: 36px;
        width: auto;
      }
      .rogue-seed-tag-button{
        cursor: pointer;
        border-radius: 3px;
        padding:0 4px;
      }

      .rogue-seed-tag-button:hover{
        background-color: var(--c-btn-blue-light);
      }
    }
  }

  .rogue-seed-form :deep(.el-select){
    width: 600px;
  }

}