@media screen and (max-width: 600px){
  .control-line-label {
    line-height: 28px;
    font-weight: 600;
    border-radius: 2px;
    font-size: 14px;
  }

  .control-line-tip {
    font-size: 10px;
  }
}
