.control-header {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  top: 4px;
  z-index: 1000;
  width: 98%;
  box-shadow: 1px 1px 10px var(--c-box-shadow-color);
  background-color: var(--c-page-background-color);
  margin: auto auto 6px;
  padding: 4px 0 4px 16px;
  box-sizing: border-box;
}

.control-box {
  width: 98%;
  margin: 4px auto;
  padding:4px 12px;
  box-shadow: 1px 1px 10px var(--c-box-shadow-color);;
  background-color: var(--c-page-background-color);
  border-radius: 2px;
  box-sizing: border-box;
}

.control-line {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.control-line-label {
  line-height: 16px;
  font-weight: 600;
  border-radius: 2px;
  font-size: 16px;
  margin: 8px 0;
  width: 80px;
}

.control-checkbox {
  display: flex;
  flex-wrap: wrap;

}

.control-line-tip {
  margin: 8px 0;
  line-height: 18px;
  font-size: 14px;
  font-style: italic;
  color: var(--c-text-tip-color);
}

.popup_action_tip {
  width: 90%;
  margin: auto;
  line-height: 32px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding: 16px 8px 20px 8px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  height: 1px;
  margin: 4px 0;
}

.href-black {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* 填写说明 */

.intro_wrap {
  /* width: 540px; */
  margin: 12px 32px 20px 32px;
  line-height: 28px;

}

.intro_title {
  font-weight: 600;
  font-size: 20px;
  /* padding: 2px; */
  margin-top: 10px;
  line-height: 32px;
  margin-bottom: 10px;
  /* margin-left: 20px; */
}

.intro_tip_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px grey solid;
}

.intro_tip_wrap {
  width: 500px;
  /* border: 1px rgb(132, 120, 226) solid; */
  font-weight: 600;
  margin: 10px auto 20px;
}

.intro_tip {
  padding: 2px;
  display: flex;
}

.intro_tip_switch {
  margin: 4px;
  /* margin-top: -10px; */
}