@media screen and (max-width: 600px) {
  .account-home-page {
    .user-info-card-container {
      width: 100%;
    }

    .user-info-card {
      max-width: 95%;
      padding: 12px;
      margin-top: 12px;
    }

    .user-info-card-title {
      font-size: 20px;
      font-weight: 600;
    }

    .user-info-card-input {
      width: 200px;
    }

    .user-info-card-tip {
      font-size: 10px;
    }
  }
}
