@media screen and (max-width: 600px) {

  .survey-login-page {

    .login_card {
      width: 350px;
      padding: 12px 4px;
    }

    .login-checkbox {
      width: 320px;
    }

    .login-form{
      width: 280px;
      font-size: 14px;
    }

    .login-form-item{
      padding: 4px 8px;
    }

    .login-form-input {
      width: 120px;
    }

    .login-btn{
      width: 130px;
      margin:12px 4px;
    }

    .login-tip {
      font-size: 12px;
    }
  }

}