.login-page {
  padding: 1px;
  min-height: 95vh;

  .login-form {
    width: 500px;
    height: 100%;
    margin: 20px auto;
    box-shadow: 0px 2px 15px var(--c-box-shadow-color);
    padding: 1px;
    font-weight: 500;
  }

  .login-checkbox {
    width: 400px;
    margin: 20px auto 0;
  }

  .checkbox-option-login {
    margin: 0 20px 0 0;
  }

  .login-form-content {
    margin: 20px auto;
    height: 280px;
  }

  .login-form-content-1 {
    margin: 20px auto;
    height: 200px;
  }


  .login-form-content-item {
    position: relative;
    width: 360px;
    margin: 20px auto;
  }

  .login-form-content-item-label {
    display: block;
    font-size: 16px;
    padding: 4px 0;
  }

  .login-form-content-item-tip {
    position: absolute;
    font-size: 12px;
    color: var(--c-text-tip-color);
    font-style: italic;
    top: 40px;
    left: 0;
  }

  .login-form-content-item-warn {
    position: absolute;
    font-size: 12px;
    color: red;
    font-style: italic;
    top: 60px;
    left: 0;
  }

  .login-form-input {
    outline: none;
    border: none;
    width: 360px;
    line-height: 24px;
    border-bottom: 1px solid var(--c-input-border-color);
    position: relative;
    background-color: transparent;
    font-size: 15px;
    z-index: 3;
  }

  .login-form-input:focus {
    border-bottom: 2px solid rgb(147, 180, 255);
  }

  .login-form-btn-send {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 12px;
    font-size: 16px;
    border-left: 1px solid var(--c-input-border-color);
    top: 30px;
    z-index: 4;
    cursor: pointer;
  }

  .login-form-content-tip-btn {
    display: block;
    width: 95%;
    text-align: right;
    cursor: pointer;
  }

  .login-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
  }

  .login-btn-line {
    margin: 20px;
  }

  .login-form-notice {
    width: 450px;
    margin: 30px auto;
    font-size: 14px;

    .title {

      margin: 8px 0;
    }
  }


  .login-retrieve {
    margin: 130px auto;
    text-align: center;
  }


  .retrieve-form-scroll-wrap {
    margin: 20px auto;
    width: 400px;
    //border: 1px solid red;
    overflow: hidden;
    height: 400px;
    position: relative;
  }

  .retrieve-form-scroll {
    width: auto;
    display: flex;
    height: 400px;
    position: absolute;
    transition: all 0.3s;
    left: 0;
  }

  .retrieve-form-scroll-item {
    width: 400px;
    height: 400px;
  }

  .retrieve-method {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid var(--c-border-color);
  }


}