@media screen and (max-width: 600px) {

  .survey-login-page {

    .login-card {
      width: 350px;
      padding: 12px 4px;
    }

    .login-checkbox {
      width: 320px;
    }

    .login-form{
      width: 300px;
      font-size: 12px;
    }

    .login-form-item{
      padding: 4px 8px;
    }

    .input-label{
      width: 50px;
    }

    .input-btn{
      width: 60px;
    }

    .login-form-item{
      padding: 4px 8px;
    }

    .login-form-input {
      width: 160px;
      height: 24px;
      line-height: 24px;
    }

    .login-btn{
      width: 130px;
      margin:12px 4px;
    }

    .login-tip {
      font-size: 12px;
    }
  }

}