.operator-info-bar {
  display: flex;
  align-items: center;
  width: 500px;
  box-shadow: 0px 0px 2px 1px var(--c-box-shadow-color);

  .operator-elite-image {
    width: 28px;
    filter: drop-shadow(2px 2px 2px rgb(100, 100, 100))
  }

  .operator-level-image {
    width: 28px;
    height: 28px;
    color: white;
    background: url("/image/survey/rank/lv-bg.png");
    background-size: 28px;
    font-size: 12px;
    line-height: 12px;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
  }

  .bar-operator-skill-item {
    position: relative;
    text-align: center;
    margin: 0 8px;

    width: 40px;
    height: 54px;
    overflow: hidden;

    .skill-name {
      text-align: center;
      font-size: 10px;
      line-height: 12px;
    }

    .operator-skill-rank-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      box-shadow: 1px 1px 2px white;
    }
  }

  .operator-equip-group {
    width: 40px;
    margin: 0 8px;
  }



  .bar-operator-equip {
    width: 40px;
    height: 40px;
    position: relative;
    padding-top: 4px;

    .bar-equip-icon-image {
      height: 40px;
      width: 40px;
      display: block;
      margin: auto;
      filter: drop-shadow(2px 2px 2px rgb(100, 100, 100))
    }
  }

  .bar-equip-rank-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
  }

  .bar-equip-name {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }

  .operator-ap-cost {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin: auto;
  }

  .operator-rank-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    box-shadow: 1px 1px 2px white;
  }
}


