
.opr_form{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.opr_card{
    padding: 4px;
    display: flex;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
    margin: 8px;
    width: 500px;
}


.opr_sprite_avatar_bg{
    width: 70px;
    height: 90px;
    position: relative;
    margin: 0 4px;
}

.opr_sprite_avatar {
    transform: scale(0.32);
    border-radius: 0;
    position: absolute;
    top: -64px;
    left: -55px;
}

.sprite_alt_name{
    width: 90px;
    position: absolute;
    text-align: center;
    top: 56px;
    font-size: 14px;
    left: -10px;
    color: darkorange;
}



.opr_sprite_skill_bg{
    width: 52px;
    height: 52px;
    position: relative;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}

.opr_sprite_mod_bg{
    width: 52px;
    height: 72px;
    position: relative;
    margin: 0 4px;
    /*border: 1px solid red;*/
}


.sprite_alt {
    width: 60px;
    text-align: center;
    position: absolute;
    top: 56px;
    color: darkorange;
    /*background-color: red;*/
    font-size: 14px;
}


.opr_sprite_elite {
    transform: scale(0.08);
    position: absolute;
    top: -46px;
    left: -68px;
}

.opr_level{
    width: 22px;
    height: 22px;
    color: white;
    background: url("/image/survey/rank/lv-bg.png");
    background-size:22px ;
    position: absolute;
    top:34px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
}



.opr_elite{
    width: 22px;
    position: absolute;
    top: 36px;
    left: 42px;
    filter: drop-shadow(2px 2px 2px #000000)
}

.opr_sprite_skill {
    transform: scale(0.375);
    /* border: 1px solid red; */
    border-radius: 0;
    position: absolute;
    top: -34px;
    left: -38px;
    opacity: 0.8;
}

.opr_skill_rank{
    position: absolute;
    left:0px;
    top: 2px;
    width: 16px;
}

.opr_equip_image{
    height: 44px;
    max-width: 44px;
    filter: drop-shadow(2px 2px 2px #000000)
}

.opr_equip_rank {
    transform: scale(0.20);
    border-radius: 0;
    position: absolute;
    top: -92px;
    left: -92px;
}



.opr_apCost{
    transform: scale(0.3);
    /* border: 1px solid red; */
    border-radius: 0;
    position: absolute;
    top: -70px;
    left: -64px;
}

.opr_option_bar_wrap{
    display: flex;
    padding: 4px;
    justify-content: center;
}

.opr_options{
   margin: 8px;
   box-shadow: var(--c-box-shadow);
}

.opr_option_title{
    /*font-size: 18px;*/
    text-align: center;
    padding: 4px;
}

.opr_option_bar{
    display: flex;
    margin: 4px 0;
}

.opr_option{
    width: 60px;
    height: 52px;
    position: relative;

}

.opr_option_selected{
    width: 60px;
    height: 52px;
    position: relative;
    background-color: #ff925b;
}


.opr_option_elite{
    transform: scale(0.235);
    position: absolute;
    top: -76px;
    left: -100px;
}

.img_skill_rank{
    width: 60px;
}

.img_mod_rank{
    width: 48px;
    margin:2px 6px;
}

.recommend_text{
    line-height: 40px;
    margin: 0 12px;
}

.survey_operator_plan_wrap{
    
}

