.survey-operator-page {
   width: 98%;
   margin: auto;


  .control-checkbox {
    .my-button {
      margin: 2px;
    }
  }

  .control-header {
    .my-button {
      margin: 2px 4px;
    }
  }


  .operator-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .operator-card {
    //padding: 4px;
    display: flex;
    align-items: center;
    //box-shadow: 1px 1px 10px var(--c-box-shadow-color);;
    //background-color: var(--c-card-background-color);
    margin: 8px;
    width: 500px;
    //box-sizing: border-box;
  }


  .operator-level-image {
    width: 28px;
    height: 28px;
    color: white;
    background: url("/image/survey/rank/lv-bg.png");
    background-size: 28px;
    font-size: 12px;
    line-height: 12px;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
  }


  .operator-elite-image {
    width: 28px;
    filter: drop-shadow(2px 2px 2px rgb(100, 100, 100))
  }


  .operator_potential {
    width: 22px;
    position: absolute;
    top: 22px;
    right: 0;
    filter: drop-shadow(2px 2px 2px rgb(100, 100, 100))
  }

  .operator-avatar-wrap {
    width: 80px;
  }

  .operator-avatar {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    margin-bottom: 4px;
  }

  .operator-avatar div {
    position: absolute;
    transform: scale(calc(50 / 180));
    top: calc((50px - 180px) / 2);
    left: calc((50px - 180px) / 2);
  }

  .operator-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    //color: darkorange;
  }

  .operator-skill-icon-item {
    width: 60px;
    text-align: center;
  }

  .operator-skill-icon-sprite {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
  }

  .operator-skill-icon-sprite div {
    position: absolute;
    transform: scale(calc(40 / 128));
    top: calc((40px - 128px) / 2);
    left: calc((40px - 128px) / 2);
  }

  .operator-skill-rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    box-shadow: 1px 1px 2px white;
  }

  .skill-name {
    text-align: center;
    font-size: 12px;
  }

  .operator-equip-image-wrap {
    width: 60px;
    position: relative;
  }

  .operator-equip-image {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    filter: drop-shadow(2px 2px 2px rgb(100, 100, 100))
  }

  .equip-name {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }

  .operator-equip-rank {
    position: absolute;
    left: 10px;
    top: 0;
    width: 16px;
  }

  .opr-loading-btn {
    background-color: #007af5;
    color: #ffffff;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 8px 14px;
    text-align: center;
    box-sizing: border-box;
    line-height: 18px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--c-box-shadow-color);;
  }




  .not-own-operator {
    width: 60px;
    height: 74px;
    text-align: center;
  }

  .not-own-operator-name {
    font-size: 12px;
    line-height: 12px;
  }

  .not-own-avatar-sprite {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 1px 8px var(--c-box-shadow-color);
  }

  .not-own-avatar-sprite div {
    position: absolute;
    transform: scale(calc(50 / 180));
    top: calc((50px - 180px) / 2);
    left: calc((50px - 180px) / 2);
  }


  .statistical-module-text {
    box-sizing: border-box;
    line-height: 20px;
  }

  .statistical-ap-rank-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .operator-statistical-table {
    border-collapse: collapse;
    margin: 4px auto;
    text-align: center;
  }

  .operator-statistical-table td {
    padding: 8px;
    border: 1px solid var(--c-border-color);
  }

  .item-cost-group{
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
  }

  .item-cost-item {
    height: 50px;
    width: 70px;
    position: relative;
    margin: 4px 8px;
  }

  .item-cost-num {
    top: 32px;
    font-size: 16px;
    display: block;
    background: #595959;
    width: 70px;
    color: white;
    text-align: center;
    position: absolute;
  }

  /*干员推荐弹窗卡片样式*/
  .operator-recommend-popup-container {
    padding: 12px;
    max-width: 800px;
    box-sizing: border-box;
  }

  .operator-recommend-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .operator-recommend-card {
    padding: 4px;
    display: flex;
    box-shadow: 1px 1px 10px var(--c-box-shadow-color);;
    background-color: var(--c-background-white-transparent);
    margin: 4px;
    width: 340px;
  }


  .recommend-text {
    font-size: 14px;
    line-height: 32px;
  }

  .item-ap-sprite {
    width: 40px;
    height: 40px;
    margin: 8px auto 6px;
    position: relative;
  }

  .item-ap-sprite div {
    position: absolute;
    transform: scale(calc(40 / 183));
    top: calc((40px - 183px) / 2);
    left: calc((40px - 183px) / 2);
  }

  .item-ap-cost {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }

  .updateOperatorPopup {
    padding: 12px;
  }

  .operator-own-switch-wrap {
    display: flex;
    align-items: center;
  }

  .operator-own-switch-wrap span {
    padding: 0 12px;
  }

  .operator-rank-checkbox {
    margin-top: 12px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 10px var(--c-box-shadow-color);;
  }

  .operator-rank-checkbox-button-group {
    display: flex;
    width: 200px;
  }

  .is-selected {
    background-color: #cde3ff;
  }

  .operator-rank-checkbox-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin: 0 10px;
  }

  .operator-rank-checkbox-button-icon {
    display: block;
    height: 36px;
    margin: 2px 0;
  }


  .survey-guide-content-container {
    padding: 16px;
    box-sizing: border-box;
    max-width: 800px;

    h1 {
      margin: 12px 0;
    }

    h2 {
      margin-top: 24px;
    }

    p {
      line-height: 24px;
      padding: 0 32px;
    }

    .tip {
      font-style: italic;
      color: grey;
    }

    .warn {
      font-style: italic;
      color: #ff3d3d;
      font-size: 14px;
    }

    .info {
      color: #148bff;
      cursor: pointer;
    }

    img {
      width: 80%;
      margin: 0 32px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }


  }
}


/*干员统计容器样式*/
.operator-statistical-page {
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .operator-statistical-card {
    width: 500px;


    .operator-statistical-item {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 8px 8px;
      border-bottom: 1px solid var(--c-border-color);

      .operator-info-label {

      }

      .operator-info-value {
        text-align: right;
      }

    }

    .detail-card-title {
      font-weight: bolder;
      font-size: 16px;
      padding: 12px 0 4px;
    }

    .item-cost-data{
      background-color: var(--c-card-background-color);
    }

    .operator-info-table {
      margin: 4px auto;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 1px 1px 4px var(--c-box-shadow-color),-1px -1px 4px var(--c-box-shadow-color);
      background-color: var(--c-card-background-color);


    }



  }
}
