@media screen and (max-width: 600px) {
  .operator-info-card {
    width:100%;
    margin: 4px 0;

    .operator-info {
      width: 50px;
      height: 32px;
      position: relative;
      //border: 1px solid red;
    }

    .operator-name {
      font-size: 8px;
      position: absolute;
      left: 0;
    }

    .operator-elite-image {
      width: 18px;
      top: 14px;
      left: 0;
    }

    .operator-level-image {
      width: 16px;
      height: 16px;
      background-size: 16px;
      font-size: 8px;
      padding-top: 6px;
      top: 14px;
      left: 28px;
    }


    .bar-operator-skill-item {
      width: 30px;
      height: 30px;
      margin: 0 2px;
    }

    .skill-name {
      font-size: 8px;
    }

    .operator-skill-rank-icon {
      left: -1px;
      top: -1px;
      width: 14px;
    }

    .operator-equip-group {
      width: 30px;
      height: 30px;
      margin: 0 2px;
      padding: 1px;

    }


    .operator-equip {
      width: 28px;
      height: 28px;
    }

    .equip-icon {
      left: 5px;
    }

    .equip-rank-icon {
      position: absolute;
      left: -2px;
      top: -2px;
      width: 14px;
    }

    .equip-name {
      font-size: 8px;
      top: 16px;
    }

    .operator-rank-icon {
      left: -2px;
      top: -2px;
      width: 14px;
    }

    .operator-ap-cost {
      font-size: 10px;
    }

  }
}