
.operator-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operator-card {
    padding: 4px;
    display: flex;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-background-white-transparent);
    margin: 4px;
    width: 500px;
}




.operator-sprite-avatar-bg {
    width: 90px;
    height: 90px;
    position: relative;
    margin: 0 4px 0 0;
}



.operator-sprite-avatar {
    transform: scale(0.32);
    border-radius: 0;
    position: absolute;
    top: -64px;
    left: -55px;
}

.sprite-alt-name {
    width: 90px;
    position: absolute;
    text-align: center;
    top: 58px;
    font-size: 12px;
    left: -10px;
    color: darkorange;
}


.operator-sprite-icon-bg {
    width: 52px;
    height: 52px;
    position: relative;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}

.operator-sprite-mod-bg {
    width: 52px;
    height: 72px;
    position: relative;
    margin: 0 4px;
    /*border: 1px solid red;*/
}


.sprite-alt {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 58px;
    color: darkorange;
    /*background-color: red;*/
    font-size: 12px;
}


.operator-level {
    width: 22px;
    height: 22px;
    color: white;
    background: url("/image/survey/rank/lv-bg.png");
    background-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
}

.operator_potential {
    width: 22px;
    position: absolute;
    top: 22px;
    right: 0;
    filter: drop-shadow(2px 2px 2px #000000)
}

.operator-elite {
    width: 22px;
    position: absolute;
    top: 44px;
    right: 0;
    filter: drop-shadow(2px 2px 2px #000000)
}

.operator-sprite-skill {
    transform: scale(0.375);
    /* border: 1px solid red; */
    border-radius: 0;
    position: absolute;
    top: -34px;
    left: -38px;
    opacity: 0.8;
}

.operator-skill-rank {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 16px;
}

.operator-equip-image {
    height: 44px;
    max-width: 44px;
    filter: drop-shadow(2px 2px 2px #000000)
}


.operator-ap-cost {
    transform: scale(0.3);
    /* border: 1px solid red; */
    border-radius: 0;
    position: absolute;
    top: -70px;
    left: -64px;
}

.operator-option-bar-wrap {
    display: flex;
    padding: 4px;
    justify-content: center;
}

.operator-options {
    margin: 8px;
    box-shadow: var(--c-box-shadow);
}

.operator-option-title {
    /*font-size: 18px;*/
    text-align: center;
    padding: 4px;
}

.operator-option-bar {
    display: flex;
    margin: 4px 0;
}

.operator-option {
    width: 60px;
    height: 52px;
    position: relative;

}

.operator-option-selected {
    width: 60px;
    height: 52px;
    position: relative;
    background-color: #ff925b;
}


.image-skill-rank {
    width: 60px;
}

.image-mod-rank {
    width: 48px;
    margin: 2px 6px;
}


.operator-recommend-card{
    padding: 4px;
    display: flex;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-background-white-transparent);
    margin: 4px;
    width: 270px;
}

.operator-recommend-avatar-wrap {
    width: 66px;
    height: 90px;
    position: relative;
    /*background-color: #b3e19d;*/
}

.operator-recommend-avatar {
    transform: scale(0.32);
    border-radius: 0;
    position: absolute;
    top: -60px;
    left: -58px;
}

.recommend-operator-name {
    width: 90px;
    position: absolute;
    text-align: center;
    top: 64px;
    font-size: 12px;
    left: -12px;
    color: darkorange;
}

.recommend-text {
    font-size: 14px;
    line-height: 40px;
    margin: 0 12px;
}


.opr-loading-btn {
    background-color: #007af5;
    color: #ffffff;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 8px 14px;
    text-align: center;
    box-sizing: border-box;
    line-height: 18px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    box-shadow: var(--c-box-shadow);
}


