@media screen and (max-width: 600px) {
  .operator-info-bar {
    width: 98%;

    .operator-level-image {
      width: 20px;
      height: 20px;
      background-size: 20px;
      font-size: 8px;
      line-height: 8px;
      padding-top: 10px;
      overflow: hidden;
    }

    .operator-elite-image {
      width: 20px;
    }

    .bar-operator-skill-item {
      width: 44px;
      height: 44px;
    }

    .skill-name {
      font-size: 8px;
    }

    .operator-skill-rank-icon {
      left: -2px;
      top: -2px;
      width: 14px;
    }

    .operator-equip-group {
      width: 40px;
      position: relative;
    }


    .operator-equip {
      width: 32px;
      height: 32px;
    }

    .equip-icon {
      width: 28px;
      height: 28px;
    }

    .bar-equip-rank-icon {
      position: absolute;
      left: 2px;
      top: 2px;
      width: 14px;
    }

    .equip-name {
      font-size: 8px;
    }

    .operator-rank-icon {
      left: -2px;
      top: -2px;
      width: 14px;
    }

    .operator-ap-cost {
      font-size: 10px;
    }

  }
}