.questionnaire-page {

  width: 1200px;
  margin: auto;
  padding: 12px;

  .question {
    width: 80%;
    margin: auto;
  }

  .question-title {
    font-size: 30px;
    font-weight: bolder;
    padding: 12px 0;
  }

  .team-box {
    // border: 1px solid #00000080;
    display: inline-block;
    background-color: #505050b0;
    color: white;
    font-weight: 600;
    vertical-align: top;
    padding: 8px;
    text-shadow: 1px 1px 2px #505050;
  }

  .teams-area :first-child {
  }

  .operator-team {
    display: flex;
    flex-wrap: wrap;
    height: 192px;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-start;
    // background-color: aqua;
    // box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  #team12 {
    width: 576px;
  }

  #team4 {
    width: 192px;
  }

  .operator-team-item {
    margin: 8px;
    text-align: center;
    font-size: 14px;
    box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  .profession-filter-single {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: black;
    padding: 4px 10px 0px 10px;
  }

  .profession-mask {
    height: 100%;
    width: 66px;
    background: linear-gradient(to top, rgb(127, 127, 255) 5%, rgba(63, 63, 127, 0.8) 5%, rgba(0, 0, 0, 0) 40%);
    position: absolute;
    bottom: 0px;
    right: 2px
  }

  .profession-count {
    color: white;
    position: absolute;
    bottom: -2px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0);
  }

  .profession-checkbox {
    margin: 20px 0;
  }

  .operator-checkbox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #505050;
    max-width: 1160px;
    // box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  .operator-option {
    width: 80px;
    height: 106px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #80808080;
    text-align: center;
    font-size: 14px;
    background-color: #505050;
    color: whitesmoke;
    overflow: hidden;
    //border: 1px solid red;
  }

  .operator-selected {
    background: linear-gradient(to top, rgb(255, 174, 127) 3%, rgba(127, 97, 63, 0.8) 3%, #505050 40%);

  }

  .operator_name_shell {
    height: 30px;
  }

  .operator-name {
    padding: 4px 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  .operator-avatar {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
  }

  .operator-option span {
    display: block;
    height: 18px;
    overflow: hidden;
    font-size: 14px;
  }

  .operator-avatar div {
    position: absolute;
    transform: scale(0.44444);
    //transform: scale(0.53);
    top: -50px;
    left: -50px;
  }

  .item-placeholder {
    height: 80px;
    width: 80px;
    background-color: blue;
    color: aliceblue;
    font-size: 12px;
  }

  .team-operator-avatar {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;

    .cancel-icon {
      width: 20px;
      position: absolute;
      top: -4px;
      left: 66px;
    }

  }

  .survey_result_operator {
    border: 1px solid #00000040;
    border-radius: 16px;
    height: 96px;
    width: 480px;
    min-width: 480px;
    margin: 8px;
  }

  .team-operator-avatar div {
    position: absolute;
    transform: scale(0.44444);
    top: -50px;
    left: -50px;
  }

}