.questionnaire-page {

  width: 1200px;
  margin: auto;
  padding: 12px;

  .question {
    width: 80%;
    margin: auto;
  }

  .question-title {
    font-size: 30px;
    font-weight: bolder;
    padding: 12px 0;
  }

  .team-box {
    // border: 1px solid #00000080;
    display: inline-block;
    background-color: #505050b0;
    color: white;
    font-weight: 600;
    vertical-align: top;
    padding: 8px;
    text-shadow: 1px 1px 2px #505050;
  }

  .teams-area :first-child {
  }

  .operator-team {
    display: flex;
    flex-wrap: wrap;
    height: 192px;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-start;
    // background-color: aqua;
    // box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  #team12 {
    width: 576px;
  }

  #team4 {
    width: 192px;
  }

  .operator-team-item {
    margin: 8px;
    text-align: center;
    font-size: 14px;
    box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  .profession-filter-single {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: black;
    padding: 4px 10px 0px 10px;
  }

  .profession-mask {
    height: 100%;
    width: 66px;
    background: linear-gradient(to top, rgb(127, 127, 255) 5%, rgba(63, 63, 127, 0.8) 5%, rgba(0, 0, 0, 0) 40%);
    position: absolute;
    bottom: 0px;
    right: 2px
  }

  .profession-count {
    color: white;
    position: absolute;
    bottom: -2px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0);
  }

  .profession-checkbox {
    margin: 20px 0;
  }

  .operator-checkbox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #505050;
    max-width: 1160px;
    // box-shadow: 1px 1px 1px 0 var(--c-box-shadow-color);
  }

  .operator-option {
    width: 80px;
    height: 106px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #80808080;
    text-align: center;
    font-size: 14px;
    background-color: #505050;
    color: whitesmoke;
    overflow: hidden;
    //border: 1px solid red;
  }

  .operator-selected {
    background: linear-gradient(to top, rgb(255, 174, 127) 3%, rgba(127, 97, 63, 0.8) 3%, #505050 40%);

  }

  .operator_name_shell {
    height: 30px;
  }

  .operator-name {
    padding: 4px 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  .operator-avatar {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
  }

  .operator-option span {
    display: block;
    height: 18px;
    overflow: hidden;
    font-size: 14px;
  }

  .operator-avatar div {
    position: absolute;
    transform: scale(0.44444);
    //transform: scale(0.53);
    top: -50px;
    left: -50px;
  }

  .item-placeholder {
    height: 80px;
    width: 80px;
    background-color: blue;
    color: aliceblue;
    font-size: 12px;
  }

  .team-operator-avatar {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;

    .cancel-icon {
      width: 20px;
      position: absolute;
      top: -4px;
      left: 66px;
    }

  }

  .team-operator-avatar div {
    position: absolute;
    transform: scale(0.44444);
    top: -50px;
    left: -50px;
  }


  .survey-result-table {

  }

  .survey-result-table-title {
    display: flex;
  }

  .survey-result-table-content {
    display: flex;
  }

  .survey-result-table-content-item {

  }

  .survey-result-table-tr {
    width: 550px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--c-border-color);
  }

  .survey-result-table-tr > div {
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
  }

  .survey-result-table-operator-name {
    width: 160px;
  }

  .survey-result-table-avatar {
    position: relative;
    width: 50px;
    height: 50px;
  }

  .survey-result-table-avatar div {
    position: absolute;
    transform: scale(0.277777);
    top: -65px;
    left: -65px;
  }

  .survey-result-table-avatar span {
    position: absolute;
    line-height: 50px;
    left: 54px;
    width: 80px;
    padding: 0 12px 0;
    text-align: left;
  }

  .profession-icon-w-20 {
    position: absolute;
    top: 0;
    left: -4px;
    width: 20px;
  }

  .survey-result-personal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }


  .survey-result-operator {
    border: 1px solid var(--c-border-color);
    border-radius: 16px;
    height: 96px;
    width: 480px;
    min-width: 480px;
    margin: 8px;
    display: flex;
  }


  .survey-result-info {
    vertical-align: top;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    height: 72px;
    margin: auto;
  }

  .survey-result-info-profession {
    padding: 2px 4px;
    font-size: 16px;
    height: 20px;
  }

  .survey-result-info-profession-icon {
    width: 24px;
    height: 24px;
  }

  .survey-result-info-name {
    width: 160px;
    font-size: 20px;
    line-height: 22px;
  }

  .survey-result-avatar {
    width: 96px;
    height: 96px;
    overflow: hidden;
  }

  .survey-result-rarity-icon {
    height: 20px;
  }

  .survey-result-avatar div {
    background-color: chocolate;
    border-radius: 20px;
    scale: 0.4;
    position: relative;
    top: -42px;
    left: -42px;
    display: inline-block;
  }


  .survey-result-data {
    height: 72px;
    margin: auto;
    border-left: 1px dashed #00000020;
    padding-left: 8px;
  }

  .survey-ranking-table {
    width: 1000px;
  }

  .survey-ranking-tier {
    display: flex;
  }

  .survey-ranking-tier-interval {
    min-width: 100px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .survey-ranking-tier-operators {
    display: flex;
    flex-wrap: wrap;
  }

  .survey-ranking-tier-avatar {
    width: 60px;
    height: 60px;
    position: relative;
  }

  .survey-ranking-tier-avatar div {
    position: absolute;
    transform: scale(0.3333);
    top: -60px;
    left: -60px;
  }
}