.survey_rank_page {
    width: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 2px;
}

.sort-desc-icon {
    width: 0;
    height: 0;
    color: #2692fd;
    border-top: 8px solid #c4c4c4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin: 4px;
}

.sort-asc-icon {
    width: 0;
    height: 0;
    border-bottom: 8px solid #c4c4c4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin: 4px;
}

.rank-table-legend{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin:12px auto;
}

.rank-legend{
    height: 6px;
    width: 50px;
}

.rank-legend-3{
    background-color: #f5a14d;
}

.rank-legend-2{
    background-color: #d4a8dc;
}

.rank-legend-1{
    background-color: #80b5e7;
}

.rank-legend-0{
    background-color: #bebebe;
}

.legend-description{
    padding: 0 8px;
}

.rank-table-box{
    /*width: 99%;*/
    /*margin: auto;*/
    /*overflow: auto;*/
}

.rank-table {
    min-width:1300px;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

.rank_table_tr td {
    /*border-bottom: 1px #9d9d9d solid;*/
}

.rank-table td {
    padding: 0 12px;
    margin: 0;
    text-align: center;
}

.tr-background{
    background-color: var(--c-table-tr-background-color);
}

.rank-table-title {
    display: flex;
    line-height: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rank-table-1 {

}

.rank_table_2 {

}

.rank_table_3 {

}

.rank-table-skill {
    display: flex;
    align-items: center;
}



.rank_table_avatar-v2 {
    height: 90px;
    padding: 8px;
    box-sizing: border-box;
}

.rank-avatar-wrap {
    height: 60px;
    width: 60px;
    margin: auto;
}

.rank-avatar {
    transform: scale(0.333);
    position: relative;
    top: -60px;
    left: -60px;
    /* border-radius: 50%; */
}

.rank-operator-name {
    text-align: center;
    padding: 4px 0;
    font-weight: bolder;
}

.proportion-bar-wrap {
    font-size: 12px;
    width: 86px;
    margin:0 8px;
}

.proportion-bar{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    margin: 4px 0;
}

.proportion-bar div{
    height: 8px;
}

.proportion-bar span{
    width: 40px;
}

.rarity_6 {
    background: linear-gradient(to right, #ff581a, #ffffffff);
}

.rarity_5 {
    background: linear-gradient(to right, #ffaf00, #ffffffff);
}

.rarity_4 {
    background: linear-gradient(to right, #752eff, #ffffffff);
}

.rarity_3 {
    background: linear-gradient(to right, #4d67ff, #ffffffff);
}




.rank_image_skill_wrap {
    height: 36px;
    width: 36px;
    background-color: #0b73dc;
    /* border: 1px red solid; */
}

.rank_sprite_skill {
    transform: scale(0.281);
    position: relative;
    top: -46px;
    left: -46px;
    /*  */
}

.skill-name {
    font-size: 14px;
    padding-left: 4px;
    line-height: 36px;
}

.rank_table_skill_text {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 6px 0px 0px 12px;
}

.rank_table_skill_text :first-child {
    font-size: 12px;
    line-height: 16px;
}

.rank-mod-type-icon{
    height: 36px;
    width: 36px;
    filter: drop-shadow(2px 2px 2px #000000)
}


