.survey_rank_page {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 2px;

    .control-checkbox{
        .my-button{
            margin: 2px;
        }
    }
    .control-header{
        .my-button{
            margin:2px 4px;
        }
    }
}

.sort_desc_icon{
    width: 0;
    height: 0;
    color: #2692fd;
    border-top: 8px solid #c4c4c4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin: 4px;
}

.sort_asc_icon{
    width: 0;
    height: 0;
    border-bottom: 8px solid #c4c4c4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin: 4px;
}

/*.rank_table_tr{*/
/*  height: 96px;*/
/*}*/

/*.rank_table_tr td{*/
/*  padding: 0px !important;*/
/*}*/

.rank_table{
    /*min-width:700px;*/
    border-collapse: separate;
    border-spacing: 0;
    margin:auto;
}

#rank_table {

}

@media screen and (max-width: 600px){
    #rank_table {
      overflow: scroll;
    }
}

.rank_table > thead {
    position: sticky;
    top: 0;
    background-color: white;
}
.rank_table_tr td{
    border-bottom: 1px #9d9d9d solid;
}

.rank_table td{
    padding: 0;
    margin: 0;
}

.rank_table_title{
    display: flex;
    line-height: 18px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.rank_table_1{
    width: 216px;

}
.rank_table_2{
    width: 80px;
    text-align: center !important;
    margin: 0;

}
.rank_table_3{
    width: 80px;

    text-align: center !important;
    margin: 0;
}

.rank_table_skill{
    display: flex;
}

.rank_table_4{
    width: 150px;
    /*padding: 8px !important;*/

    box-sizing: border-box;
    margin: 0;
}
.rank_table_5{
    width: 150px;
    /*padding: 8px !important;*/

}
.rank_table_6{
    width: 150px;
    /*padding: 8px !important;*/

}
.rank_table_7{
    min-width: 96px;
    /*padding: 8px !important;*/

    text-align: center !important;
}
.rank_table_8{
    min-width: 96px;
    /*padding: 8px !important;*/

    text-align: center !important;
}
.rank_table_avatar{
    display: flex;
    padding: 4px;
    /*width: 240px;*/
    height:70px;
}

.rank_operator_name{
    /* z-index: 1; */
    text-align: left;
    display: inline-block;
    background: linear-gradient(to right,#3f51b580,#ffffffff);
    vertical-align: top;
    margin:36px 0 0 -20px;
    padding-left: 32px;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
}

.proportion-bar-wrap{
    height: 12px;
    display: flex;
    align-items: center;
    width: 112px;
    justify-content: space-between;
}

.rarity_6{
    background: linear-gradient(to right, #ff581a,#ffffffff);
}
.rarity_5{
    background: linear-gradient(to right, #ffaf00,#ffffffff);
}
.rarity_4{
    background: linear-gradient(to right, #752eff,#ffffffff);
}
.rarity_3{
    background: linear-gradient(to right, #4d67ff,#ffffffff);
}

.rank_avatar_wrap {
    height: 80px;
    width: 80px;
    /* border-radius: 50%; */
    /* border: 1px rgb(231, 231, 231) solid; */
    margin: 8px;
    overflow: hidden;
    display: inline-block;
    /* background-color: gray; */
    /* z-index: 2; */
}

.rank_avatar {
    transform: scale(0.46);
    position: relative;
    top: -51px;
    left: -50px;
    /* border-radius: 50%; */
}


.rank_image_skill_wrap {
    height: 60px;
    width: 60px;
    display: inline-block;
    /* border: 1px red solid; */
}

.rank_sprite_skill {
    transform: scale(0.39);
    position: relative;
    top: -32px;
    left: -24px;
    /*  */
}

.rank_table_skill_text{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 6px 0px 0px 12px;
}

.rank_table_skill_text :first-child{
    font-size: 12px;
    line-height: 16px;
}




