.query_result_wrap {

    display: flex;
}

.query_result {
    margin: 4px;
    height: 76px;
    width: 100px;
}

.query_result_name {
    position: absolute;
    top: 60px;
    left: -20px;
    text-align: center;
    width: 100px;
}

.query_result_title {
    margin: 4px;
    width: 100%;
}



.plan_popup_card {
    width: 470px;
    margin: auto;
}

.plan_popup_title {
    display: flex;
    margin: 12px;
}

.avatar_image_wrap {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #b6b6b6;
}

.avatar_image {
    transform: scale(0.333);
    position: absolute;
    top: -60px;
    left: -60px;
}

.selected_avatar_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 8px auto;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
}

.delete_icon {
    position: absolute;
    top: -4px;
    left: 46px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3b3b3b;
    text-align: center;
}

.plan_detail_title {
    padding: 8px;
    font-size: 18px;
}

.item_image_wrap_small {
    width: 90px;
    height: 30px;
    position: relative;
}

.item_image_small {
    transform: scale(0.164);
    position: absolute;
    top: -76px;
    left: -76px;
}

.cal_item_count {
    width: 30px;
    top: 8px;
    left: 32px;
    position: absolute;
}

.cal_operator_name {
    height: 60px;
    line-height: 60px;
    margin: 0 12px;
    font-size: 20px;
}


.option_column_wrap {
    display: flex;
    justify-items: center;
}

.option_column {
    margin: 4px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
    padding: 4px;
}

.option_row {
    display: flex;
    margin: 4px 0;
}

.option {
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}

.option_small {
    min-width: 26px;
    width: auto;
    height: 30px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;

}

.option_bg_selected {
    background-color: #ff925b;
}

.elite_image {
    transform: scale(0.235);
    position: absolute;
    top: -76px;
    left: -95px;
}

.skill_icon {
    transform: scale(0.375);
    /* border: 1px solid red; */
    border-radius: 0;
    position: absolute;
    top: -38px;
    left: -33px;
    opacity: 0.8;
}

.skill_rank_icon {
    position: absolute;
    left: 5px;
    top: 2px;
    width: 16px;
}

.skill_rank {
    width: 60px;
}

.mod_rank {
    width: 48px;
    margin: 2px 6px;
}

.item_info_card_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_info_card {
    width: 240px;
    display: flex;
    border-left: 3px solid;
    margin: 8px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
}

.item_info_card_left {
    width: 90px;
    text-align: center;
    font-size: 14px;
}

.item_info_card_right {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_image_wrap {
    width: 60px;
    height: 60px;
    position: relative;
    left: 15px;
}


.item_image {
    transform: scale(0.327);
    position: absolute;
    top: -61px;
    left: -61px;
}

.item_name {
    padding: 8px 0;
}


.rarity_5 {
    border-color: #ff9900;
}

.rarity_4 {
    border-color: #904eee;
}

.rarity_3 {
    border-color: #0b73dc;
}

.rarity_2 {
    border-color: #179b09;
}

.rarity_1 {
    border-color: #d5d5d5;
}

