.survey_character_page {
  background: white;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  margin: auto auto 100px;
}

.char_forms {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char_card {
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  width: 570px;
  height: 222px;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 1);
  margin: 8px;
  position: relative;
}

.char_card_simple {
  transition: all 0.2s;
  width: 124px;
  height: 170px;
  overflow: hidden;
  margin: 8px;
}


.card_title {
  font-weight: 600;
  font-size: 16px;
  border-left: 1px rgb(197, 197, 197) solid;
  height: 30px;
  line-height: 30px;
  /* margin-bottom: -6px; */
}

.card_option_left_basic {
  margin: 8px 0 ;
  display: flex;
}

.card_option_left {
  margin: 8px 0 8px 4px;
}

.card_option_top_left_basic {
  margin: 8px 0;
  padding-top: 20px;
}

.card_option_top_left {
  display: flex;
  
}


.avatar_at_top {
  position: relative;
  z-index: 20;
  margin-right: 12px;
  overflow: hidden;
  height: 146px;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.3);
}

.image_avatar {
  height: 120px;
  width: 100px;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  /* background-color: rgba(0, 0, 0); */
}

.character_own_label {
   width: 100px;
   text-align: center;
   height: 24px;
   line-height: 24px;
   position: absolute;
   left:28px;
   top: 8px;
   z-index: 21;
   font-weight: 600;
   color: white;   
   font-size: 16px;
   background-color: rgb(255, 123, 0);
   transform: rotate(40deg);
}

.character_not_own_label {
  width: 100px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  position: absolute;
  left:28px;
  top: 8px;
  z-index: 21;
  font-weight: 600;
  color: white;   
  font-size: 16px;
  background-color: rgb(204, 204, 204);
  transform: rotate(40deg);
}

.char_name {
  text-align: center;
  margin-top: 0;
  /* margin-left:10px; */
  width: 100px;
  height: 26px;
  line-height: 26px;
  border-radius: 0;
  font-weight: 700;
  position: relative;
  top: 120px;
  background: rgb(230, 230, 230);
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(24px);
}

.card-overlay-title {
  font-size: 48px;
  font-weight: bold;
  margin: 54px 0 0 280px;
}

.card-overlay-detail {
  font-size: 24px;
  margin: 10px 0 0 220px;
}



.potential_wrap_basic {
  display: none;

}

.potential_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 100px;
  margin-left: 8px;
}

.image_potential {
  width: 40px;
  height: 40px;
  margin: 6px;
  background: rgba(127, 127, 127, 0.1);
  /* border: 1px solid red; */
}

.elite_wrap_basic {

  margin-top: -8px;
  padding-right: 8px;
}

.elite_wrap {
  display: flex;
  margin-left: -12px;

}


.level_wrap{
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 0;
  background: rgba(127, 127, 127, 0.1);
}

.image_elite {
  height: 40px;
  width: 40px;
  /* border: 1px solid red; */
  /* margin-left: 6px; */
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 0px;
  background: rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.image_elite:hover {
  background: rgb(142, 222, 255);
}

.card_option_right {
  margin: 8px 0;
  display: flex;
}

.skill_wrap_basic {
  margin-right: 16px;
}

.skill_wrap {
  margin-right: 10px;
}

.skill_delimiter_basic {
  width: 16px;
}

.skill_delimiter {
  width: 4px;
}

.image_skill {
  width: 42px;
  height: 42px;
  /*border: 1px grey solid;*/

}

.image_mod {
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  /*background: #afafaf;*/
}

.image_rank {
  margin: 6px auto 4px;
  width: 40px;
  height: 40px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0px;
  background: rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.image_rank:hover {
  background: rgb(142, 222, 255);
}

.image_rank_disable {
  margin: 6px auto 4px;
  width: 40px;
  height: 40px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  background: rgba(127, 127, 127, 0.1);
  cursor: not-allowed;
}

.switch_select {
  background: rgba(0, 102, 255, 0.3);
}

.footer_info {
  margin: 30px auto auto;
  width: 80%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.image_lvMax {
  width: 55px;
  margin-left: -8px;
  margin-top: 2px;
}

.image_null {
  width: 40px;
  margin-top: 0px;
}

.sprite_skill {
  transform: scale(0.18);
  position: relative;
  top: -94px;
  left: -98px;
}

.sprite_skill_icon {
  transform: scale(0.3);
  position: relative;
  top: -43px;
  left: -43px;
}

.sprite_elite {
  transform: scale(0.23, 0.2);
  position: relative;
  top: -86px;
  left: -108px;
}

.sprite_mod {
  transform: scale(0.44);
  position: relative;
  border: 1px solid red;
  top: -30px;
  left: -30px;
  z-index: 3000;
}

.sprite_mod_rank {
  transform: scale(0.16);
  position: relative;
  top: -98px;
  left: -98px;
}

.sprite_avatar {
  transform: scale(0.56);
  /* border: 1px solid red; */
  border-radius: 0;
  position: absolute;
  top: -20px;
  left: -40px;
}

.sprite_potential {
  transform: scale(0.16);
  position: relative;
  top: -130px;
  left: -130px;
}

.skland_url{
  padding:0 8px 0 8px ;
  color: dodgerblue;
  cursor: pointer;
}

.skland_login_btn{
  width: 270px;
  margin: 8px 0 0 0;
  padding: 4px;
  border-radius: 4px;
  background-color: #b5e6ff;
  text-align: center;
  color: #006fe0;
  cursor: pointer;
}

.skland_notice_btn{
  color: #f56c6c;
  cursor: pointer;
  font-weight: 600;
}

.skland_desc{
  margin: 4px;
  height: 20px;
  padding: 4px;
  line-height: 20px;
}

.skland_input{
  margin: 4px;
  height: 20px;
  padding: 4px;
  line-height: 20px;
  width: 230px;
  border:none;
  border-bottom: solid black 1px;
  outline: none;
  background-color: white;
}

.skland_input:hover{
  border-bottom: solid rgb(0, 98, 255) 2px;
}

.skland_import_image{
  width: 400px;
  display: inline-block;
  margin: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.item_cost_card{
  display: flex;
  margin: 4px;
}

.item_cost_wrap{
  display: flex;
  flex-wrap: wrap;
}

.image_item_wrap{
  height:50px;
  width: 70px;
  position: relative;
  /* border: 1px red solid; */
  margin: 4px;
}

.image_item{
  transform: scale(0.25);
  position: absolute;
  left: -66px;
  top:-66px
}

.item_count{
  height: 20px;
  line-height: 20px;
  /*font-size: 18px;*/
  width:70px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  top: 40px;
  left: -8px;
  text-align: center;
  border-radius: 1px;
}

.stats_classify {
  display: flex;
  background-color: #eeeeee;
  margin: 12px;
  border-radius: 4px;
  padding: 8px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.stats_module {
  width: 144px;
  height: 48px;
}

.stats_title {
  font-style: italic;
  height: 24px;
}

.stats_content {
  font-family: Arial, Helvetica, sans-serif;
}
