
.login-btn-text {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    padding:0 4px 0 8px;
}


.survey-login-btn{
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

.survey_nav_menu_arrow{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 10px solid  #262f3e;
    position: relative;
    left: 64px;
}

.survey_nav_menu {
    background-color: var(--c-background-white-transparent);
    padding:1px;
    border-radius: 4px;
    width: fit-content;
}

.survey_nav_menu_item{
    display: block;
    height: 28px;
    line-height: 28px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    white-space:nowrap;
}

.survey_nav_menu_item:hover{
    background-color: rgba(0, 111, 255, 0.3);
}

.menu_href{
    text-decoration: none;
    color: var(--c-text-color);
}

.nav-avatar-image-wrap{
    height: 42px;
    width: 42px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 1px solid #d2d2d2;
    margin: 0 4px;

}

.nav-user-name{
    font-size: 14px;
    position: absolute;
    left: 44px;
    line-height: 42px;
}

.nav_avatar_image {
    transform: scale(0.28);
    position: absolute;
    top: -68px;
    left: -68px;
}