.survey-operator-page {
  color: var(--c-text-color);
  margin: auto;
}

.footer_info {
  margin: 30px auto auto;
  width: 80%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}



.item-cost-wrap{
  display: flex;
  flex-wrap: wrap;
}




