
.setup_top {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    top: 4px;
    z-index: 1000;
    width: 95%;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-background-white-transparent);
    margin: auto auto 6px;
    padding: 4px 0 4px 16px;
    box-sizing: border-box;
}

.href_black {
    text-decoration: none;
    color: rgb(255, 255, 255);
}




.survey_btn_blue_left {
    color: #409eff;
    background-color: #ecf5ff;
    border: 1px solid #b3d8ff;
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px 8px;
    margin: 4px 0 4px 4px;
    cursor: pointer;
    font-size: 16px;
}

.survey_btn_blue_center {
    color: #409eff;
    background-color: #ecf5ff;
    border-top: 1px solid #b3d8ff;
    border-bottom: 1px solid #b3d8ff;
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    /*border-radius: 4px;*/
    padding: 4px 8px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.survey_btn_blue_right {
    color: #409eff;
    background-color: #ecf5ff;
    border: 1px solid #b3d8ff;
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px 8px;
    margin: 4px 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}



#updateTime {
    padding: 0;
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 6px;
    margin-left: 8px;
}


.btn_switch_wrap {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}


.control_tip {
    margin: 4px 0;
    font-style: italic;
}




.switch_btns_wrap {

}

.input_upload_wrap {
    position: relative;
}


.input_upload {
    width: 100%;
    height: 100%;
    outline: none;
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    /* z-index: 2000; */
    position: absolute;
    top: 0;
    left: 0;
}

.upload_file_name {
    margin: 6px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(158, 158, 158);
    font-style: italic;
}

.selected_color {
    /* background: rgb(97, 173, 255); */
    color: #ffffff;
    background-color: #6795ff !important;
    box-shadow: 1px 1px 2px #cccccc !important;
}

.popup_action_tip {
    width: 90%;
    margin: auto;
    line-height: 32px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 16px 8px 20px 8px;
}


.survey_control_wrap {
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.survey_control {
    padding: 1px;
}




/* 填写说明 */

.intro_wrap {
    /* width: 540px; */
    margin: 12px 32px 20px 32px;
    line-height: 28px;

}

.intro_title {
    font-weight: 600;
    font-size: 20px;
    /* padding: 2px; */
    margin-top: 10px;
    line-height: 32px;
    margin-bottom: 10px;
    /* margin-left: 20px; */
}

.intro_tip_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px grey solid;
}

.intro_tip_wrap {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    /* border: 1px rgb(132, 120, 226) solid; */
    font-weight: 600;
    margin-bottom: 20px;
}

.intro_tip {
    padding: 2px;
    display: flex;
}

.intro_tip_switch {
    margin: 4px;
    /* margin-top: -10px; */
}