stats.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/frontend-v2-plus.code-workspace

.node-version
/frontend-v2-plus.zip
/public/image/avatar/

/public/image/avatar-ori-4/
/public/image/avatar-ori-5/
/public/image/avatar-ori-6/
/public/image/portrait-ori-4/
/public/image/portrait-ori-5/
/public/image/portrait-ori-6/
/src/test/
/src/pages/dev/sklandTest.vue
