.account-home-page {
  .user-card {
    width: 600px;
    margin: 8px;

    .v-list-item-title {
      font-weight: bolder;
    }

    min-width: 330px;
  }

  .card-description {
    opacity: 0.8;
    display: block;
    font-size: 12px;
    margin: 0 0 12px 0;
  }

  .user-avatar-checkbox {
    height: 300px;
  }


  .stage-checkbox{
     height: 500px;
     overflow-y: auto;
  }

  .out-item-unselected{
    filter: grayscale(1);
  }

}

@media screen and (max-width: 600px) {
  .account-home-page {
    .user-card {
      max-width: none;
      width: 99%;
      margin: 4px;

    }
  }
}



