.login-page {
  padding: 1px;
  min-height: 95vh;
  @media screen and (max-width: 600px){
    .login-form {
      width: 360px;
      overflow: auto;
    }

    .login-checkbox {
      width: 320px;
    }

    .login-form-content-item {
      width: 300px;
    }

    .login-form-content-item-label {
      font-size: 14px;
    }

    .login-form-content-item-tip {
      font-size: 12px;
      top: 36px;
    }

    .login-form-content-item-warn {
      font-size: 12px;
      top: 62px;
    }

    .login-form-input {
      width: 280px;
      font-size: 14px;
    }

    .login-form-notice {
      width: 320px;
    }


    .retrieve-form-scroll-wrap {
      margin: 20px auto;
      width: 360px;
      //border: 1px solid red;
      overflow: hidden;
      height: 300px;
      position: relative;
    }

    .retrieve-form-scroll {
      width: auto;
      display: flex;
      height: 300px;
      position: absolute;
      transition: all 0.3s;
      left: 0;
    }

    .retrieve-form-scroll-item {
      width: 360px;
      height: 300px;
    }

    .retrieve-method {
      width: 300px;
      height: 100px;
      margin: 0 auto;
      border-radius: 4px;
      border: 1px solid var(--c-border-color);
    }

  }
}