.btn{
    padding:0 12px;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    height: 28px;
    line-height: 24px;
    font-size: 14px;
    border:none;
    font-weight: bold;
    color: var(--c-btn-color);
    background-color: var(--c-background-color);
    border: var(--c-btn-border);
}


.btn-blue{
    color: var(--c-btn-color-blue);
    border: 1px solid var(--c-btn-border-blue);
    /*background-color:var(--c-btn-bg-blue);*/
}

.btn-orange{
    color: var(--c-btn-color-orange);
    border: 1px solid var(--c-btn-border-orange);
    /*background-color:var(--c-btn-bg-blue);*/
}

.btn-green{
    color: var(--c-btn-color-green);
    border: 1px solid var(--c-btn-border-green);
    /*background-color:var(--c-btn-bg-blue);*/
}

.btn-red{
    color: var(--c-btn-color-red);
    border: 1px solid var(--c-btn-border-red);
    /*background-color:var(--c-btn-bg-blue);*/
}

.warning-color{
    font-weight: 600;
}

.input{
    border: none;
    outline: none;
    color: var(--c-input-text-color);
    border-bottom: var(--c-input-border);
    background-color: var(--c-input-bg);
}


@media screen and (max-width: 600px){
    .btn{
        padding:0 8px;
        min-width: 70px;
        height: 22px;
        line-height: 20px;
        font-size: 12px;
    }
}