.collapse_item_wrap {
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.collapse_item {
    padding: 1px;
}

.collapse_bar_wrap {
    max-width: 95%;
    margin: auto auto 6px;
    padding: 4px 0px 4px 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.collapse_bar {
    width: 98%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px;
    margin: auto;
}

.collapse_title {
    float: left;
    margin: 4px;
    width: 96px;
    height: 20px;
    padding: 4px 0px 4px 12px;
    line-height: 20px;
    font-weight: 500;
    /* background: rgb(199, 226, 255); */
    border-radius: 2px;
}



