.doc-page {

  padding: 8px;
  display: flex;

  .doc-menu{
    min-width: 200px;
  }

  .menu-item{
    padding-left: 28px !important;
  }

  h1 {
    margin: 16px 0;
  }

  h2 {
    margin: 12px 0;
  }

  h3 {
    margin: 8px 0;
  }

  h4 {
    margin: 4px 0;
  }

  img{
    width: 600px;
    margin: auto;
    display: block;
  }

  p{
    margin: 16px 0;
  }

  code{
    background-color: #222222;
    color: white;
    padding: 12px;
    display: block;
    margin: 12px;
    border-radius: 4px;
  }

  button{
    background-color: rgba(0, 102, 255, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
  }


}