.color-primary {
  color: rgb(var(--v-theme-primary));
}

.red {
  color: #D54034;
}

.orange {
  color: #FF9800;
}

.yellow {
  color: #d89f0f;
}

.green {
  color: #4CAF50;
}

.blue {
  color: #2196F3;
}

.purple {
  color: #9C27B0;
}

.gray {
  color: #808080;
}
