.m-a{
  margin: auto;
}

.m-2{
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-12 {
  margin: 12px;
}

.m-16 {
  margin: 16px;
}

.m-20 {
  margin: 20px;
}

.m-24 {
  margin: 24px;
}

.m-28 {
  margin: 28px;
}

.m-32 {
  margin: 32px;
}

.m-36 {
  margin: 36px;
}

.m-a-4 {
  margin: auto 4px;
}

.m-a-8 {
  margin: auto 8px;
}

.m-a-12 {
  margin: auto 12px;
}

.m-a-16 {
  margin: auto 16px;
}

.m-a-20 {
  margin: auto 20px;
}

.m-a-24 {
  margin: auto 24px;
}

.m-a-28 {
  margin: auto 28px;
}

.m-a-32 {
  margin: auto 32px;
}

.m-a-36 {
  margin: auto 36px;
}

.m-4-a {
  margin: 4px auto;
}

.m-8-a {
  margin: 8px auto;
}

.m-12-a {
  margin: 12px auto;
}

.m-16-a {
  margin: 16px auto;
}

.m-20-a {
  margin: 20px auto;
}

.m-24-a {
  margin: 24px auto;
}

.m-28-a {
  margin: 28px auto;
}

.m-32-a {
  margin: 32px auto;
}

.m-36-a {
  margin: 36px auto;
}

.m-4-0 {
  margin: 4px 0;
}

.m-8-0 {
  margin: 8px 0;
}

.m-12-0 {
  margin: 12px 0;
}

.m-16-0 {
  margin: 16px 0;
}

.m-20-0 {
  margin: 20px 0;
}

.m-24-0 {
  margin: 24px 0;
}

.m-28-0 {
  margin: 28px 0;
}

.m-32-0 {
  margin: 32px 0;
}

.m-36-0 {
  margin: 36px 0;
}

.m-0-4 {
  margin: 0 4px;
}

.m-0-8 {
  margin: 0 8px;
}

.m-0-12 {
  margin: 0 12px;
}

.m-0-16 {
  margin: 0 16px;
}

.m-0-20 {
  margin: 0 20px;
}

.m-0-24 {
  margin: 0 24px;
}

.m-0-28 {
  margin: 0 28px;
}

.m-0-32 {
  margin: 0 32px;
}

.m-0-36 {
  margin: 0 36px;
}