.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.p-28 {
  padding: 28px;
}

.p-32 {
  padding: 32px;
}

.p-36 {
  padding: 36px;
}

.p-4-0 {
  padding: 4px 0;
}

.p-8-0 {
  padding: 8px 0;
}

.p-12-0 {
  padding: 12px 0;
}

.p-16-0 {
  padding: 16px 0;
}

.p-20-0 {
  padding: 20px 0;
}

.p-24-0 {
  padding: 24px 0;
}

.p-28-0 {
  padding: 28px 0;
}

.p-32-0 {
  padding: 32px 0;
}

.p-36-0 {
  padding: 36px 0;
}

.p-0-4 {
  padding: 0 4px;
}

.p-0-8 {
  padding: 0 8px;
}

.p-0-12 {
  padding: 0 12px;
}

.p-0-16 {
  padding: 0 16px;
}

.p-0-20 {
  padding: 0 20px;
}

.p-0-24 {
  padding: 0 24px;
}

.p-0-28 {
  padding: 0 28px;
}

.p-0-32 {
  padding: 0 32px;
}

.p-0-36 {
  padding: 0 36px;
}