@media screen and (max-width: 600px) {
  .stage-page {

    .stage-legend-table {
      font-size: 9px;
    }

    .stage-legend-text-1 {

    }

    .stage-legend-text-2 {
      font-weight: bold;
    }

    .stage-legend-text-3 {
      font-style: italic;
      line-height: 12px;
    }

    .stage-legend-text-bold {
      font-weight: bold;

    }

    .stage-legend-text-underline {
      border-bottom: 1px solid var(--c-border-color);
      line-height: 16px;

    }

    .stage-legend-text-4 {
      padding: 4px;
      font-style: italic;
    }

    .stage-card-wrap {
      font-size: 10px;
    }

    .stage-card {
      width: 160px;
      height: 96px;
      margin: 2px;
    }

    .stage-card-bar-container {
      width: calc(100% - 40px);
      left: 36px;
      height: 96px;
    }

    .stage-card-bar {
      height: 20px;
      line-height: 14px;
      font-size: 10px;
    }

    .stage-card-bg-sprite {
      transform: scale(0.8);
      left: -100px;
      top: -44px;
    }

    .stage-card-bar-stage-code {
      width: 50px;
      font-size: 12px;
    }

    .stage-card-bar-stage-efficiency {
      width: fit-content;
    }

    .stage-detail-table {
      font-size: 12px;
    }

    .stage-detail-table-item-icon {
      width: 20px;
      height: 20px;
    }

    .stage-detail-table-item-icon div {
      transform: scale(calc(20 / 183));
      top: calc((-183px + 20px) / 2);
      left: calc((-183px + 20px) / 2);
    }

    .stage-legend-description span {
      line-height: 12px;
      margin-left: 12px;
      font-size: 10px;
    }


    .activity-table-phone-card {
      display: block;
      width: 99%;
      margin: auto;
    }

    .activity-table-phone {
      font-size: 10px;
    }

    .activity-pickup-item {
      width: 30px;
      height: 30px;
    }

    .activity-pickup-item div {
      transform: scale(calc(30 / 183));
      top: calc((-183px + 30px) / 2);
      left: calc((-183px + 30px) / 2);
    }

    .activity-drop-detail {
      padding: 0 4px;
      line-height: 14px;
      font-weight: 600;
    }


    .activity-table-pc-card {
      display: none;
    }

    .activity-name-pc {
      min-width: 70px;
      max-width: 70px;
      font-weight: 600;
    }

    .activity-table-pc {
      font-size: 10px;
    }

    .activity-pickup-item-pc {
      width: 24px;
      height: 24px;
    }

    .activity-pickup-item-pc div {
      transform: scale(calc(24 / 183));
      top: calc((-183px + 24px) / 2);
      left: calc((-183px + 24px) / 2);
    }
  }
}