@media screen and (max-width: 600px) {

    .activity-store-content {
        justify-content: flex-start;
        margin: 2px;
    }

    .activity-store-good {
        width: 110px;
        margin: 2px;
        height: 60px;
    }

    .activity-store-good-sprite {
        margin: 4px;
        width: 52px;
        height: 52px;
    }

    .activity-store-good-sprite div {

        transform: scale(calc(52 / 183));
        top: calc((-183px + 52px) / 2);
        left: calc((-183px + 52px) / 2);
    }

    .activity-store-good-info {
        padding-left: 4px;
    }

    .activity-store-good-name,
    .activity-store-good-price {
        font-size: 8px;
    }

    .activity-store-good-efficiency {
        font-size: 16px;
        line-height: 16px;
    }

    .permanent-store-checkbox {
        display: flex;
    }

    .permanent-store-checkbox-button {
        width: 28px;
        height: 28px;
        margin: 0 4px;
        filter: grayscale(100%);
        position: relative;
    }

    .permanent-store-checkbox-button div {
        position: absolute;
        transform: scale(calc(28 / 44));
        top: calc((-44px + 28px) / 2);
        left: calc((-44px + 28px) / 2);
    }

    .permanent-store-icon {
        position: relative;
    }

    .permanent-store-icon div {
        position: absolute;
        transform: scale(0.6);
        top: -16px;
        left: -22px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5))
    }

    .permanent-store-content {
        margin: 4px;
        padding: 4px;
        padding-left:12px ;
    }

    .permanent-store-good {
        text-align: center;
        border-collapse: collapse;
        border: none;
        height: 50px;
        width: 50px;
        margin: 4px 2px;
    }

    .permanent-store-good-sprite {
        position: relative;
        width: 36px;
        height: 36px;
        margin: auto;
    }

    .permanent-store-good-sprite div {
        position: absolute;
        transform: scale(calc(36 / 183));
        top: calc((-183px + 36px) / 2);
        left: calc((-183px + 36px) / 2);
    }

    .permanent-store-good-text {
        background-color: rgba(112, 112, 112, 0.3);
        border-radius: 25px;
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin: 2px;
    }

    .store_sprite_perm_wrap {
        position: relative;
        width: 60px;
        height: 60px;
    }



}






