.bg-icon_4001 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -10px -10px;
}



.bg-icon_4002 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -74px -10px;

}



.bg-icon_4003 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -10px -74px;
}



.bg-icon_4004 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -74px -74px;
}



.bg-icon_4005 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -138px -10px;
}



.bg-icon_4006 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -138px -74px;
}



.bg-icon_7003 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -10px -138px;
}



.bg-icon_7004 {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -74px -138px;
}



.bg-icon_EPGS_COIN {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -138px -138px;
}



.bg-icon_REP_COIN {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -202px -10px;
}



.bg-icon_SOCIAL_PT {
    width: 44px; height: 44px;
    background: url('/image/sprite/plane-icon.png') -202px -74px;
}