.bg-0 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -0px;
    width: 183px;
    height: 183px;
}

.bg-voucher_levelmax_4 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -2562px;
    width: 183px;
    height: 183px;
}

.bg-voucher_levelmax_5 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -2562px;
    width: 183px;
    height: 183px;
}

.bg-3243 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -1281px;
    width: 183px;
    height: 183px;
}

.bg-31074 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -915px;
    width: 183px;
    height: 183px;
}

.bg-3242 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -1281px;
    width: 183px;
    height: 183px;
}

.bg-31073 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -915px;
    width: 183px;
    height: 183px;
}

.bg-3241 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -1281px;
    width: 183px;
    height: 183px;
}

.bg-voucher_levelmax_6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -2562px;
    width: 183px;
    height: 183px;
}

.bg-voucher_skill_specialLevelMax_6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -2745px;
    width: 183px;
    height: 183px;
}

.bg-voucher_skill_specialLevelMax_5 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -2745px;
    width: 183px;
    height: 183px;
}

.bg-30024 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -183px;
    width: 183px;
    height: 183px;
}

.bg-30145 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -732px;
    width: 183px;
    height: 183px;
}

.bg-30023 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -183px;
    width: 183px;
    height: 183px;
}

.bg-voucher_skill_specialLevelMax_4 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -2745px;
    width: 183px;
    height: 183px;
}

.bg-voucher_recruitR6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -2745px;
    width: 183px;
    height: 183px;
}

.bg-30022 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -183px;
    width: 183px;
    height: 183px;
}

.bg-3114 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -1098px;
    width: 183px;
    height: 183px;
}

.bg-30021 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -183px;
    width: 183px;
    height: 183px;
}

.bg-3113 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -1098px;
    width: 183px;
    height: 183px;
}

.bg-REP_COIN {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -2196px;
    width: 183px;
    height: 183px;
}

.bg-30093 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -549px;
    width: 183px;
    height: 183px;
}

.bg-31063 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -915px;
    width: 183px;
    height: 183px;
}

.bg-3253 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -1464px;
    width: 183px;
    height: 183px;
}

.bg-30094 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -549px;
    width: 183px;
    height: 183px;
}

.bg-3252 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -1464px;
    width: 183px;
    height: 183px;
}

.bg-business_card_theme {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -2013px;
    width: 183px;
    height: 183px;
}

.bg-3251 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -1464px;
    width: 183px;
    height: 183px;
}

.bg-SOCIAL_PT {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -2379px;
    width: 183px;
    height: 183px;
}



.bg-30013 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -0px;
    width: 183px;
    height: 183px;
}

.bg-1 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -0px;
    width: 183px;
    height: 183px;
}

.bg-30012 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -0px;
    width: 183px;
    height: 183px;
}

.bg-voucher_skin {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -2745px;
    width: 183px;
    height: 183px;
}

.bg-30014 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -0px;
    width: 183px;
    height: 183px;
}

.bg-30135 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -732px;
    width: 183px;
    height: 183px;
}

.bg-premium_material_issue_voucher {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -2196px;
    width: 183px;
    height: 183px;
}

.bg-31064 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -915px;
    width: 183px;
    height: 183px;
}

.bg-3401 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -1647px;
    width: 183px;
    height: 183px;
}

.bg-30011 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -0px;
    width: 183px;
    height: 183px;
}

.bg-3003 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -183px;
    width: 183px;
    height: 183px;
}

.bg-voucher_5chipPackage {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -2562px;
    width: 183px;
    height: 183px;
}

.bg-ap_supply_lt_010 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -2013px;
    width: 183px;
    height: 183px;
}

.bg-30084 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -549px;
    width: 183px;
    height: 183px;
}

.bg-30083 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -549px;
    width: 183px;
    height: 183px;
}

.bg-3263 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -1464px;
    width: 183px;
    height: 183px;
}

.bg-3141 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -1098px;
    width: 183px;
    height: 183px;
}

.bg-3262 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -1464px;
    width: 183px;
    height: 183px;
}

.bg-3261 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -1464px;
    width: 183px;
    height: 183px;
}

.bg-30125 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -732px;
    width: 183px;
    height: 183px;
}

.bg-31054 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -915px;
    width: 183px;
    height: 183px;
}

.bg-31053 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -915px;
    width: 183px;
    height: 183px;
}

.bg-avatar_special {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -2013px;
    width: 183px;
    height: 183px;
}

.bg-voucher_elite_II_6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -2562px;
    width: 183px;
    height: 183px;
}

.bg-mod_update_token_1 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -2196px;
    width: 183px;
    height: 183px;
}

.bg-mod_update_token_2 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -2196px;
    width: 183px;
    height: 183px;
}

.bg-theme_scene {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -2379px;
    width: 183px;
    height: 183px;
}

.bg-voucher_elite_II_4 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -2562px;
    width: 183px;
    height: 183px;
}

.bg-EPGS_COIN {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -2013px;
    width: 183px;
    height: 183px;
}

.bg-voucher_elite_II_5 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -2562px;
    width: 183px;
    height: 183px;
}

.bg-itempack_main {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -2196px;
    width: 183px;
    height: 183px;
}

.bg-4001 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -1647px;
    width: 183px;
    height: 183px;
}

.bg-4002 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -1647px;
    width: 183px;
    height: 183px;
}

.bg-4003 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -1647px;
    width: 183px;
    height: 183px;
}

.bg-UI_Theme {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -2379px;
    width: 183px;
    height: 183px;
}

.bg-30073 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -549px;
    width: 183px;
    height: 183px;
}

.bg-4003sp {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -1647px;
    width: 183px;
    height: 183px;
}

.bg-3273 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -1464px;
    width: 183px;
    height: 183px;
}

.bg-3272 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -1464px;
    width: 183px;
    height: 183px;
}

.bg-3271 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -1464px;
    width: 183px;
    height: 183px;
}

.bg-base_ap {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -2013px;
    width: 183px;
    height: 183px;
}

.bg-RETRO_COIN {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -2379px;
    width: 183px;
    height: 183px;
}

.bg-31043 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -915px;
    width: 183px;
    height: 183px;
}

.bg-3303 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -1647px;
    width: 183px;
    height: 183px;
}

.bg-30074 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -549px;
    width: 183px;
    height: 183px;
}

.bg-3302 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -1647px;
    width: 183px;
    height: 183px;
}

.bg-3301 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -1647px;
    width: 183px;
    height: 183px;
}

.bg-31044 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -915px;
    width: 183px;
    height: 183px;
}

.bg-30115 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -549px;
    width: 183px;
    height: 183px;
}

.bg-7002 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -1830px;
    width: 183px;
    height: 183px;
}

.bg-7001 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -1830px;
    width: 183px;
    height: 183px;
}

.bg-7004 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -1830px;
    width: 183px;
    height: 183px;
}

.bg-7003 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -1830px;
    width: 183px;
    height: 183px;
}

.bg-advanced_material_issue_voucher {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -1830px;
    width: 183px;
    height: 183px;
}

.bg-30062 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -366px;
    width: 183px;
    height: 183px;
}

.bg-ap_supply_lt_80 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -2013px;
    width: 183px;
    height: 183px;
}

.bg-30061 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -366px;
    width: 183px;
    height: 183px;
}

.bg-3283 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -1647px;
    width: 183px;
    height: 183px;
}

.bg-3282 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -1647px;
    width: 183px;
    height: 183px;
}

.bg-3281 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -1464px;
    width: 183px;
    height: 183px;
}

.bg-act24side_melding_5 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -1830px;
    width: 183px;
    height: 183px;
}

.bg-empty {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -2013px;
    width: 183px;
    height: 183px;
}

.bg-30103 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -549px;
    width: 183px;
    height: 183px;
}

.bg-EXP_PLAYER {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -2196px;
    width: 183px;
    height: 183px;
}

.bg-30064 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -549px;
    width: 183px;
    height: 183px;
}

.bg-32001 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -1098px;
    width: 183px;
    height: 183px;
}

.bg-30063 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -366px;
    width: 183px;
    height: 183px;
}

.bg-31034 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -915px;
    width: 183px;
    height: 183px;
}

.bg-31033 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -732px;
    width: 183px;
    height: 183px;
}

.bg-4004 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -1830px;
    width: 183px;
    height: 183px;
}

.bg-4005 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -1830px;
    width: 183px;
    height: 183px;
}

.bg-4006 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -1830px;
    width: 183px;
    height: 183px;
}

.bg-voucher_item_pick6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -2562px;
    width: 183px;
    height: 183px;
}

.bg-30104 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -549px;
    width: 183px;
    height: 183px;
}

.bg-AP_GAMEPLAY {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -2013px;
    width: 183px;
    height: 183px;
}

.bg-2001 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -0px;
    width: 183px;
    height: 183px;
}

.bg-3211 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -1098px;
    width: 183px;
    height: 183px;
}

.bg-30051 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -366px;
    width: 183px;
    height: 183px;
}

.bg-31024 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -732px;
    width: 183px;
    height: 183px;
}

.bg-30053 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -366px;
    width: 183px;
    height: 183px;
}

.bg-voucher_recruitR5_pick {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -2745px;
    width: 183px;
    height: 183px;
}

.bg-30052 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -366px;
    width: 183px;
    height: 183px;
}

.bg-31023 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -732px;
    width: 183px;
    height: 183px;
}

.bg-30054 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -366px;
    width: 183px;
    height: 183px;
}

.bg-randomMaterial {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -2196px;
    width: 183px;
    height: 183px;
}

.bg-skin_27 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -2379px;
    width: 183px;
    height: 183px;
}

.bg-voucher_class_pick6 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -2562px;
    width: 183px;
    height: 183px;
}

.bg-skin_24 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -2379px;
    width: 183px;
    height: 183px;
}

.bg-skin_21 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -2379px;
    width: 183px;
    height: 183px;
}

.bg-5001 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -1830px;
    width: 183px;
    height: 183px;
}

.bg-31094 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -1098px;
    width: 183px;
    height: 183px;
}

.bg-3222 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -1281px;
    width: 183px;
    height: 183px;
}

.bg-31093 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -1098px;
    width: 183px;
    height: 183px;
}

.bg-3221 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -1281px;
    width: 183px;
    height: 183px;
}

.bg-classic_gacha {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -2013px;
    width: 183px;
    height: 183px;
}

.bg-31014 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -732px;
    width: 183px;
    height: 183px;
}

.bg-31013 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -732px;
    width: 183px;
    height: 183px;
}

.bg-30042 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -366px;
    width: 183px;
    height: 183px;
}

.bg-2004 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -0px;
    width: 183px;
    height: 183px;
}

.bg-30041 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -183px;
    width: 183px;
    height: 183px;
}

.bg-2003 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -0px;
    width: 183px;
    height: 183px;
}

.bg-30044 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -366px;
    width: 183px;
    height: 183px;
}

.bg-30165 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -732px;
    width: 183px;
    height: 183px;
}

.bg-3213 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -1281px;
    width: 183px;
    height: 183px;
}

.bg-2002 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -0px;
    width: 183px;
    height: 183px;
}

.bg-30043 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -366px;
    width: 183px;
    height: 183px;
}

.bg-3212 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -1098px;
    width: 183px;
    height: 183px;
}

.bg-skin_18 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -366px -2379px;
    width: 183px;
    height: 183px;
}

.bg-skin_15 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -2379px;
    width: 183px;
    height: 183px;
}

.bg-31083 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1647px -915px;
    width: 183px;
    height: 183px;
}

.bg-3112 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -1098px;
    width: 183px;
    height: 183px;
}

.bg-3233 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -1281px;
    width: 183px;
    height: 183px;
}

.bg-3232 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -1281px;
    width: 183px;
    height: 183px;
}

.bg-STORY_REVIEW_COIN {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -2379px;
    width: 183px;
    height: 183px;
}

.bg-3231 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -732px -1281px;
    width: 183px;
    height: 183px;
}

.bg-31084 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -1098px;
    width: 183px;
    height: 183px;
}

.bg-30034 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -183px;
    width: 183px;
    height: 183px;
}

.bg-30155 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -732px;
    width: 183px;
    height: 183px;
}

.bg-voucher_chipPackage {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -183px -2562px;
    width: 183px;
    height: 183px;
}

.bg-30031 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -915px -183px;
    width: 183px;
    height: 183px;
}

.bg-30033 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -183px;
    width: 183px;
    height: 183px;
}

.bg-30032 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1098px -183px;
    width: 183px;
    height: 183px;
}

.bg-3223 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -1281px;
    width: 183px;
    height: 183px;
}

.bg-recruitment10 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1464px -2196px;
    width: 183px;
    height: 183px;
}

.bg-classic_gacha_10 {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -1281px -2013px;
    width: 183px;
    height: 183px;
}

.bg-mod_unlock_token {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -549px -2196px;
    width: 183px;
    height: 183px;
}

.bg-EXP {
    background-image: url("https://cos.yituliu.cn/sprite/item2025-10-25-11-06-16.webp");
    background-position: -0px -2196px;
    width: 183px;
    height: 183px;
}

