.bg-char_003_kalts_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -10px;
}

.bg-char_010_chen_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -10px;
}

.bg-char_136_hsguma_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -10px;
}

.bg-char_017_huang_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -10px;
}

.bg-char_103_angel_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -390px;
}

.bg-char_112_siege_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -390px;
}

.bg-char_113_cqbw_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -390px;
}

.bg-char_134_ifrit_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -390px;
}

.bg-char_147_shining_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -10px;
}

.bg-char_172_svrash_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -390px;
}

.bg-char_179_cgbird_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -10px;
}

.bg-char_180_amgoat_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -390px;
}

.bg-char_188_helage_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -770px;
}

.bg-char_197_poca_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -770px;
}

.bg-char_202_demkni_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -770px;
}

.bg-char_206_gnosis_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -770px;
}

.bg-char_213_mostma_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -770px;
}

.bg-char_220_grani_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -770px;
}

.bg-char_293_thorns_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -10px;
}

.bg-char_311_mudrok_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -390px;
}

.bg-char_1028_texas2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -770px;
}

.bg-char_2015_dusk_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -10px;
}

.bg-char_2023_ling_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -390px;
}

.bg-char_4027_heyak_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -770px;
}

.bg-char_4039_horn_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -1150px;
}

.bg-char_4048_doroth_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -1150px;
}

.bg-char_4064_mlynar_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -1150px;
}

.bg-char_4065_judge_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -1150px;
}

.bg-char_4080_lin_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -1150px;
}

.bg-char_4082_qiubai_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -1150px;
}

.bg-char_222_bpipe_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -1150px;
}

.bg-char_225_haak_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -1150px;
}

.bg-char_248_mgllan_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -10px;
}

.bg-char_249_mlyss_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -390px;
}

.bg-char_250_phatom_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -770px;
}

.bg-char_263_skadi_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -1150px;
}

.bg-char_264_f12yin_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -10px;
}

.bg-char_291_aglina_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -390px;
}

.bg-char_300_phenxi_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -770px;
}

.bg-char_322_lmlee_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -1150px;
}

.bg-char_332_archet_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -1530px;
}

.bg-char_340_shwaz_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -1530px;
}

.bg-char_350_surtr_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -1530px;
}

.bg-char_358_lisa_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -1530px;
}

.bg-char_362_saga_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -1530px;
}

.bg-char_377_gdglow_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -1530px;
}

.bg-char_391_rosmon_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -1530px;
}

.bg-char_400_weedy_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -1530px;
}

.bg-char_416_zumama_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -1530px;
}

.bg-char_420_flamtl_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -1530px;
}

.bg-char_423_blemsh_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -10px;
}

.bg-char_426_billro_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -390px;
}

.bg-char_427_vigil_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -770px;
}

.bg-char_430_fartth_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -1150px;
}

.bg-char_437_mizuki_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -1530px;
}

.bg-char_456_ash_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -10px;
}

.bg-char_472_pasngr_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -390px;
}

.bg-char_474_glady_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -770px;
}

.bg-char_479_sleach_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -1150px;
}

.bg-char_485_pallas_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -1530px;
}

.bg-char_1012_skadi2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -10px -1910px;
}

.bg-char_1013_chen2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -210px -1910px;
}

.bg-char_1014_nearl2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -410px -1910px;
}

.bg-char_1016_agoat2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -610px -1910px;
}

.bg-char_1020_reed2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -810px -1910px;
}

.bg-char_1023_ghost2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1010px -1910px;
}

.bg-char_1026_gvial2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1210px -1910px;
}

.bg-char_1029_yato2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1410px -1910px;
}

.bg-char_1031_slent2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1610px -1910px;
}

.bg-char_1032_excu2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -1810px -1910px;
}

.bg-char_1033_swire2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2010px -1910px;
}

.bg-char_1034_jesca2_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2210px -1910px;
}

.bg-char_2012_typhon_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -10px;
}

.bg-char_2013_cerber_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -390px;
}

.bg-char_2014_nian_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -770px;
}

.bg-char_2024_chyue_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -1150px;
}

.bg-char_4009_irene_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -1530px;
}

.bg-char_4042_lumen_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2410px -1910px;
}

.bg-char_4046_ebnhlz_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2610px -10px;
}

.bg-char_4055_bgsnow_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2610px -390px;
}

.bg-char_4072_ironmn_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2610px -770px;
}

.bg-char_4087_ines_1 {
  width: 180px;
  height: 360px;
  background: url('/image/sprite/portrait-6-1.webp') -2610px -1150px;
}