.sprite-avatar { background: url('https://cos.yituliu.cn/sprite/avatar20250501.webp') no-repeat top left; width: 180px; height: 180px;  }
.bg-char_002_amiya { background-position: 0 0; }
.bg-char_003_kalts { background-position: -182px 0; }
.bg-char_009_12fce { background-position: -364px 0; }
.bg-char_010_chen { background-position: -546px 0; }
.bg-char_017_huang { background-position: -728px 0; }
.bg-char_101_sora { background-position: -910px 0; }
.bg-char_102_texas { background-position: 0 -182px; }
.bg-char_103_angel { background-position: -182px -182px; }
.bg-char_106_franka { background-position: -364px -182px; }
.bg-char_107_liskam { background-position: -546px -182px; }
.bg-char_108_silent { background-position: -728px -182px; }
.bg-char_109_fmout { background-position: -910px -182px; }
.bg-char_110_deepcl { background-position: 0 -364px; }
.bg-char_113_cqbw { background-position: -182px -364px; }
.bg-char_115_headbr { background-position: -364px -364px; }
.bg-char_117_myrrh { background-position: -546px -364px; }
.bg-char_118_yuki { background-position: -728px -364px; }
.bg-char_120_hibisc { background-position: -910px -364px; }
.bg-char_121_lava { background-position: 0 -546px; }
.bg-char_122_beagle { background-position: -182px -546px; }
.bg-char_123_fang { background-position: -364px -546px; }
.bg-char_124_kroos { background-position: -546px -546px; }
.bg-char_126_shotst { background-position: -728px -546px; }
.bg-char_128_plosis { background-position: -910px -546px; }
.bg-char_129_bluep { background-position: 0 -728px; }
.bg-char_130_doberm { background-position: -182px -728px; }
.bg-char_131_flameb { background-position: -364px -728px; }
.bg-char_133_mm { background-position: -546px -728px; }
.bg-char_134_ifrit { background-position: -728px -728px; }
.bg-char_135_halo { background-position: -910px -728px; }
.bg-char_136_hsguma { background-position: 0 -910px; }
.bg-char_137_brownb { background-position: -182px -910px; }
.bg-char_140_whitew { background-position: -364px -910px; }
.bg-char_141_nights { background-position: -546px -910px; }
.bg-char_143_ghost { background-position: -728px -910px; }
.bg-char_144_red { background-position: -910px -910px; }
.bg-char_145_prove { background-position: 0 -1092px; }
.bg-char_147_shining { background-position: -182px -1092px; }
.bg-char_148_nearl { background-position: -364px -1092px; }
.bg-char_149_scave { background-position: -546px -1092px; }
.bg-char_150_snakek { background-position: -728px -1092px; }
.bg-char_151_myrtle { background-position: -910px -1092px; }
.bg-char_154_morgan { background-position: 0 -1274px; }
.bg-char_155_tiger { background-position: -182px -1274px; }
.bg-char_157_dagda { background-position: -364px -1274px; }
.bg-char_158_milu { background-position: -546px -1274px; }
.bg-char_159_peacok { background-position: -728px -1274px; }
.bg-char_163_hpsts { background-position: -910px -1274px; }
.bg-char_164_nightm { background-position: 0 -1456px; }
.bg-char_166_skfire { background-position: -182px -1456px; }
.bg-char_171_bldsk { background-position: -364px -1456px; }
.bg-char_172_svrash { background-position: -546px -1456px; }
.bg-char_173_slchan { background-position: -728px -1456px; }
.bg-char_179_cgbird { background-position: -910px -1456px; }
.bg-char_180_amgoat { background-position: 0 -1638px; }
.bg-char_181_flower { background-position: -182px -1638px; }
.bg-char_183_skgoat { background-position: -364px -1638px; }
.bg-char_185_frncat { background-position: -546px -1638px; }
.bg-char_187_ccheal { background-position: -728px -1638px; }
.bg-char_188_helage { background-position: -910px -1638px; }
.bg-char_190_clour { background-position: 0 -1820px; }
.bg-char_192_falco { background-position: -182px -1820px; }
.bg-char_193_frostl { background-position: -364px -1820px; }
.bg-char_194_leto { background-position: -546px -1820px; }
.bg-char_195_glassb { background-position: -728px -1820px; }
.bg-char_196_sunbr { background-position: -910px -1820px; }
.bg-char_197_poca { background-position: 0 -2002px; }
.bg-char_198_blackd { background-position: -182px -2002px; }
.bg-char_199_yak { background-position: -364px -2002px; }
.bg-char_201_moeshd { background-position: -546px -2002px; }
.bg-char_202_demkni { background-position: -728px -2002px; }
.bg-char_204_platnm { background-position: -910px -2002px; }
.bg-char_206_gnosis { background-position: 0 -2184px; }
.bg-char_208_melan { background-position: -182px -2184px; }
.bg-char_209_ardign { background-position: -364px -2184px; }
.bg-char_210_stward { background-position: -546px -2184px; }
.bg-char_211_adnach { background-position: -728px -2184px; }
.bg-char_212_ansel { background-position: -910px -2184px; }
.bg-char_213_mostma { background-position: 0 -2366px; }
.bg-char_214_kafka { background-position: -182px -2366px; }
.bg-char_218_cuttle { background-position: -364px -2366px; }
.bg-char_219_meteo { background-position: -546px -2366px; }
.bg-char_220_grani { background-position: -728px -2366px; }
.bg-char_222_bpipe { background-position: -910px -2366px; }
.bg-char_225_haak { background-position: 0 -2548px; }
.bg-char_226_hmau { background-position: -182px -2548px; }
.bg-char_230_savage { background-position: -364px -2548px; }
.bg-char_235_jesica { background-position: -546px -2548px; }
.bg-char_236_rope { background-position: -728px -2548px; }
.bg-char_237_gravel { background-position: -910px -2548px; }
.bg-char_240_wyvern { background-position: 0 -2730px; }
.bg-char_241_panda { background-position: -182px -2730px; }
.bg-char_242_otter { background-position: -364px -2730px; }
.bg-char_243_waaifu { background-position: -546px -2730px; }
.bg-char_245_cello { background-position: -728px -2730px; }
.bg-char_248_mgllan { background-position: -910px -2730px; }
.bg-char_249_mlyss { background-position: 0 -2912px; }
.bg-char_250_phatom { background-position: -182px -2912px; }
.bg-char_252_bibeak { background-position: -364px -2912px; }
.bg-char_253_greyy { background-position: -546px -2912px; }
.bg-char_254_vodfox { background-position: -728px -2912px; }
.bg-char_258_podego { background-position: -910px -2912px; }
.bg-char_260_durnar { background-position: 0 -3094px; }
.bg-char_261_sddrag { background-position: -182px -3094px; }
.bg-char_263_skadi { background-position: -364px -3094px; }
.bg-char_264_f12yin { background-position: -546px -3094px; }
.bg-char_265_sophia { background-position: -728px -3094px; }
.bg-char_271_spikes { background-position: -910px -3094px; }
.bg-char_272_strong { background-position: 0 -3276px; }
.bg-char_274_astesi { background-position: -182px -3276px; }
.bg-char_275_breeze { background-position: -364px -3276px; }
.bg-char_277_sqrrel { background-position: -546px -3276px; }
.bg-char_278_orchid { background-position: -728px -3276px; }
.bg-char_279_excu { background-position: -910px -3276px; }
.bg-char_281_popka { background-position: 0 -3458px; }
.bg-char_282_catap { background-position: -182px -3458px; }
.bg-char_283_midn { background-position: -364px -3458px; }
.bg-char_284_spot { background-position: -546px -3458px; }
.bg-char_285_medic2 { background-position: -728px -3458px; }
.bg-char_286_cast3 { background-position: -910px -3458px; }
.bg-char_290_vigna { background-position: 0 -3640px; }
.bg-char_293_thorns { background-position: -182px -3640px; }
.bg-char_297_hamoni { background-position: -364px -3640px; }
.bg-char_298_susuro { background-position: -546px -3640px; }
.bg-char_300_phenxi { background-position: -728px -3640px; }
.bg-char_301_cutter { background-position: -910px -3640px; }
.bg-char_302_glaze { background-position: 0 -3822px; }
.bg-char_304_zebra { background-position: -182px -3822px; }
.bg-char_308_swire { background-position: -364px -3822px; }
.bg-char_311_mudrok { background-position: -546px -3822px; }
.bg-char_322_lmlee { background-position: -728px -3822px; }
.bg-char_325_bison { background-position: -910px -3822px; }
.bg-char_326_glacus { background-position: 0 -4004px; }
.bg-char_328_cammou { background-position: -182px -4004px; }
.bg-char_332_archet { background-position: -364px -4004px; }
.bg-char_333_sidero { background-position: -546px -4004px; }
.bg-char_336_folivo { background-position: -728px -4004px; }
.bg-char_337_utage { background-position: -910px -4004px; }
.bg-char_338_iris { background-position: 0 -4186px; }
.bg-char_340_shwaz { background-position: -182px -4186px; }
.bg-char_341_sntlla { background-position: -364px -4186px; }
.bg-char_343_tknogi { background-position: -546px -4186px; }
.bg-char_344_beewax { background-position: -728px -4186px; }
.bg-char_345_folnic { background-position: -910px -4186px; }
.bg-char_346_aosta { background-position: 0 -4368px; }
.bg-char_347_jaksel { background-position: -182px -4368px; }
.bg-char_348_ceylon { background-position: -364px -4368px; }
.bg-char_349_chiave { background-position: -546px -4368px; }
.bg-char_350_surtr { background-position: -728px -4368px; }
.bg-char_355_ethan { background-position: -910px -4368px; }
.bg-char_356_broca { background-position: 0 -4550px; }
.bg-char_358_lisa { background-position: -182px -4550px; }
.bg-char_362_saga { background-position: -364px -4550px; }
.bg-char_363_toddi { background-position: -546px -4550px; }
.bg-char_365_aprl { background-position: -728px -4550px; }
.bg-char_366_acdrop { background-position: -910px -4550px; }
.bg-char_367_swllow { background-position: 0 -4732px; }
.bg-char_369_bena { background-position: -182px -4732px; }
.bg-char_373_lionhd { background-position: -364px -4732px; }
.bg-char_376_therex { background-position: -546px -4732px; }
.bg-char_377_gdglow { background-position: -728px -4732px; }
.bg-char_378_asbest { background-position: -910px -4732px; }
.bg-char_379_sesa { background-position: 0 -4914px; }
.bg-char_381_bubble { background-position: -182px -4914px; }
.bg-char_383_snsant { background-position: -364px -4914px; }
.bg-char_385_finlpp { background-position: -546px -4914px; }
.bg-char_388_mint { background-position: -728px -4914px; }
.bg-char_400_weedy { background-position: -910px -4914px; }
.bg-char_401_elysm { background-position: 0 -5096px; }
.bg-char_402_tuye { background-position: -182px -5096px; }
.bg-char_405_absin { background-position: -364px -5096px; }
.bg-char_411_tomimi { background-position: -546px -5096px; }
.bg-char_415_flint { background-position: -728px -5096px; }
.bg-char_416_zumama { background-position: -910px -5096px; }
.bg-char_421_crow { background-position: 0 -5278px; }
.bg-char_422_aurora { background-position: -182px -5278px; }
.bg-char_426_billro { background-position: -364px -5278px; }
.bg-char_433_windft { background-position: -546px -5278px; }
.bg-char_436_whispr { background-position: -728px -5278px; }
.bg-char_437_mizuki { background-position: -910px -5278px; }
.bg-char_440_pinecn { background-position: 0 -5460px; }
.bg-char_445_wscoot { background-position: -182px -5460px; }
.bg-char_446_aroma { background-position: -364px -5460px; }
.bg-char_449_glider { background-position: -546px -5460px; }
.bg-char_450_necras { background-position: -728px -5460px; }
.bg-char_451_robin { background-position: -910px -5460px; }
.bg-char_452_bstalk { background-position: 0 -5642px; }
.bg-char_455_nothin { background-position: -182px -5642px; }
.bg-char_456_ash { background-position: -364px -5642px; }
.bg-char_457_blitz { background-position: -546px -5642px; }
.bg-char_458_rfrost { background-position: -728px -5642px; }
.bg-char_459_tachak { background-position: -910px -5642px; }
.bg-char_464_cement { background-position: 0 -5824px; }
.bg-char_466_qanik { background-position: -182px -5824px; }
.bg-char_469_indigo { background-position: -364px -5824px; }
.bg-char_472_pasngr { background-position: -546px -5824px; }
.bg-char_473_mberry { background-position: -728px -5824px; }
.bg-char_474_glady { background-position: -910px -5824px; }
.bg-char_476_blkngt { background-position: 0 -6006px; }
.bg-char_478_kirara { background-position: -182px -6006px; }
.bg-char_479_sleach { background-position: -364px -6006px; }
.bg-char_484_robrta { background-position: -546px -6006px; }
.bg-char_485_pallas { background-position: -728px -6006px; }
.bg-char_486_takila { background-position: -910px -6006px; }
.bg-char_487_bobb { background-position: 0 -6188px; }
.bg-char_488_buildr { background-position: -182px -6188px; }
.bg-char_489_serum { background-position: -364px -6188px; }
.bg-char_493_firwhl { background-position: -546px -6188px; }
.bg-char_494_vendla { background-position: -728px -6188px; }
.bg-char_497_ctable { background-position: -910px -6188px; }
.bg-char_498_inside { background-position: 0 -6370px; }
.bg-char_499_kaitou { background-position: -182px -6370px; }
.bg-char_500_noirc { background-position: -364px -6370px; }
.bg-char_501_durin { background-position: -546px -6370px; }
.bg-char_502_nblade { background-position: -728px -6370px; }
.bg-char_503_rang { background-position: -910px -6370px; }
.bg-char_504_rguard { background-position: 0 -6552px; }
.bg-char_505_rcast { background-position: -182px -6552px; }
.bg-char_506_rmedic { background-position: -364px -6552px; }
.bg-char_507_rsnipe { background-position: -546px -6552px; }
.bg-char_508_aguard { background-position: -728px -6552px; }
.bg-char_509_acast { background-position: -910px -6552px; }
.bg-char_510_amedic { background-position: 0 -6734px; }
.bg-char_511_asnipe { background-position: -182px -6734px; }
.bg-char_512_aprot { background-position: -364px -6734px; }
.bg-char_4025_aprot2 { background-position: -546px -6734px; }
.bg-char_514_rdfend { background-position: -728px -6734px; }
.bg-char_600_cpione { background-position: -910px -6734px; }
.bg-char_601_cguard { background-position: 0 -6916px; }
.bg-char_602_cdfend { background-position: -182px -6916px; }
.bg-char_603_csnipe { background-position: -364px -6916px; }
.bg-char_604_ccast { background-position: -546px -6916px; }
.bg-char_605_cmedic { background-position: -728px -6916px; }
.bg-char_606_csuppo { background-position: -910px -6916px; }
.bg-char_607_cspec { background-position: 0 -7098px; }
.bg-char_609_acguad { background-position: -182px -7098px; }
.bg-char_610_acfend { background-position: -364px -7098px; }
.bg-char_611_acnipe { background-position: -546px -7098px; }
.bg-char_612_accast { background-position: -728px -7098px; }
.bg-char_613_acmedc { background-position: -910px -7098px; }
.bg-char_614_acsupo { background-position: 0 -7280px; }
.bg-char_615_acspec { background-position: -182px -7280px; }
.bg-char_1001_amiya2 { background-position: -364px -7280px; }
.bg-char_1011_lava2 { background-position: -546px -7280px; }
.bg-char_1012_skadi2 { background-position: -728px -7280px; }
.bg-char_1013_chen2 { background-position: -910px -7280px; }
.bg-char_1014_nearl2 { background-position: 0 -7462px; }
.bg-char_1016_agoat2 { background-position: -182px -7462px; }
.bg-char_1020_reed2 { background-position: -364px -7462px; }
.bg-char_1021_kroos2 { background-position: -546px -7462px; }
.bg-char_1023_ghost2 { background-position: -728px -7462px; }
.bg-char_1024_hbisc2 { background-position: -910px -7462px; }
.bg-char_1026_gvial2 { background-position: 0 -7644px; }
.bg-char_1027_greyy2 { background-position: -182px -7644px; }
.bg-char_1028_texas2 { background-position: -364px -7644px; }
.bg-char_1030_noirc2 { background-position: -546px -7644px; }
.bg-char_1031_slent2 { background-position: -728px -7644px; }
.bg-char_1032_excu2 { background-position: -910px -7644px; }
.bg-char_1033_swire2 { background-position: 0 -7826px; }
.bg-char_1036_fang2 { background-position: -182px -7826px; }
.bg-char_1038_whitw2 { background-position: -364px -7826px; }
.bg-char_1039_thorn2 { background-position: -546px -7826px; }
.bg-char_1041_angel2 { background-position: -728px -7826px; }
.bg-char_1502_crosly { background-position: -910px -7826px; }
.bg-char_2014_nian { background-position: 0 -8008px; }
.bg-char_2015_dusk { background-position: -182px -8008px; }
.bg-char_2023_ling { background-position: -364px -8008px; }
.bg-char_2024_chyue { background-position: -546px -8008px; }
.bg-char_2025_shu { background-position: -728px -8008px; }
.bg-char_2026_yu { background-position: -910px -8008px; }
.bg-char_4004_pudd { background-position: 0 -8190px; }
.bg-char_4006_melnte { background-position: -182px -8190px; }
.bg-char_4009_irene { background-position: -364px -8190px; }
.bg-char_4010_etlchi { background-position: -546px -8190px; }
.bg-char_4011_lessng { background-position: -728px -8190px; }
.bg-char_4013_kjera { background-position: -910px -8190px; }
.bg-char_4014_lunacu { background-position: 0 -8372px; }
.bg-char_4015_spuria { background-position: -182px -8372px; }
.bg-char_4016_kazema { background-position: -364px -8372px; }
.bg-char_4017_puzzle { background-position: -546px -8372px; }
.bg-char_4019_ncdeer { background-position: -728px -8372px; }
.bg-char_4023_rfalcn { background-position: -910px -8372px; }
.bg-char_4026_vulpis { background-position: 0 -8554px; }
.bg-char_4027_heyak { background-position: -182px -8554px; }
.bg-char_4032_provs { background-position: -364px -8554px; }
.bg-char_4036_forcer { background-position: -546px -8554px; }
.bg-char_4039_horn { background-position: -728px -8554px; }
.bg-char_4040_rockr { background-position: -910px -8554px; }
.bg-char_4041_chnut { background-position: 0 -8736px; }
.bg-char_4042_lumen { background-position: -182px -8736px; }
.bg-char_4043_erato { background-position: -364px -8736px; }
.bg-char_4045_heidi { background-position: -546px -8736px; }
.bg-char_4046_ebnhlz { background-position: -728px -8736px; }
.bg-char_4047_pianst { background-position: -910px -8736px; }
.bg-char_4052_surfer { background-position: 0 -8918px; }
.bg-char_4054_malist { background-position: -182px -8918px; }
.bg-char_4055_bgsnow { background-position: -364px -8918px; }
.bg-char_4062_totter { background-position: -546px -8918px; }
.bg-char_4063_quartz { background-position: -728px -8918px; }
.bg-char_4064_mlynar { background-position: -910px -8918px; }
.bg-char_4065_judge { background-position: 0 -9100px; }
.bg-char_4066_highmo { background-position: -182px -9100px; }
.bg-char_4067_lolxh { background-position: -364px -9100px; }
.bg-char_4071_peper { background-position: -546px -9100px; }
.bg-char_4072_ironmn { background-position: -728px -9100px; }
.bg-char_4077_palico { background-position: -910px -9100px; }
.bg-char_4078_bdhkgt { background-position: 0 -9282px; }
.bg-char_4079_haini { background-position: -182px -9282px; }
.bg-char_4080_lin { background-position: -364px -9282px; }
.bg-char_4081_warmy { background-position: -546px -9282px; }
.bg-char_4083_chimes { background-position: -728px -9282px; }
.bg-char_4087_ines { background-position: -910px -9282px; }
.bg-char_4088_hodrer { background-position: 0 -9464px; }
.bg-char_4093_frston { background-position: -182px -9464px; }
.bg-char_4100_caper { background-position: -364px -9464px; }
.bg-char_4102_threye { background-position: -546px -9464px; }
.bg-char_4105_almond { background-position: -728px -9464px; }
.bg-char_4106_bryota { background-position: -910px -9464px; }
.bg-char_4107_vrdant { background-position: 0 -9646px; }
.bg-char_4109_baslin { background-position: -182px -9646px; }
.bg-char_4110_delphn { background-position: -364px -9646px; }
.bg-char_4116_blkkgt { background-position: -546px -9646px; }
.bg-char_4117_ray { background-position: -728px -9646px; }
.bg-char_4119_wanqin { background-position: -910px -9646px; }
.bg-char_4121_zuole { background-position: 0 -9828px; }
.bg-char_4123_ela { background-position: -182px -9828px; }
.bg-char_4124_iana { background-position: -364px -9828px; }
.bg-char_4125_rdoc { background-position: -546px -9828px; }
.bg-char_4126_fuze { background-position: -728px -9828px; }
.bg-char_4130_luton { background-position: -910px -9828px; }
.bg-char_4131_odda { background-position: 0 -10010px; }
.bg-char_4133_logos { background-position: -182px -10010px; }
.bg-char_4136_phonor { background-position: -364px -10010px; }
.bg-char_4137_udflow { background-position: -546px -10010px; }
.bg-char_4139_papyrs { background-position: -728px -10010px; }
.bg-char_4140_lasher { background-position: -910px -10010px; }
.bg-char_4141_marcil { background-position: 0 -10192px; }
.bg-char_4142_laios { background-position: -182px -10192px; }
.bg-char_4143_sensi { background-position: -364px -10192px; }
.bg-char_4144_chilc { background-position: -546px -10192px; }
.bg-char_4145_ulpia { background-position: -728px -10192px; }
.bg-char_4146_nymph { background-position: -910px -10192px; }
.bg-char_4148_philae { background-position: 0 -10374px; }
.bg-char_4151_tinman { background-position: -182px -10374px; }
.bg-char_4155_talr { background-position: -364px -10374px; }
.bg-char_4163_rosesa { background-position: -546px -10374px; }
.bg-char_4164_tecno { background-position: -728px -10374px; }
.bg-char_4165_ctrail { background-position: -910px -10374px; }
.bg-char_4172_xingzh { background-position: 0 -10556px; }
.bg-char_4173_nowell { background-position: -182px -10556px; }
.bg-char_4177_brigid { background-position: -364px -10556px; }
.bg-char_4178_alanna { background-position: -546px -10556px; }
.bg-char_4179_monstr { background-position: -728px -10556px; }
.bg-char_4188_confes { background-position: -910px -10556px; }
.bg-char_4193_lemuen { background-position: 0 -10738px; }
.bg-char_4194_rmixer { background-position: -182px -10738px; }
.bg-char_112_siege { background-position: -364px -10738px; }
.bg-char_127_estell { background-position: -546px -10738px; }
.bg-char_174_slbell { background-position: -728px -10738px; }
.bg-char_215_mantic { background-position: -910px -10738px; }
.bg-char_289_gyuki { background-position: 0 -10920px; }
.bg-char_291_aglina { background-position: -182px -10920px; }
.bg-char_294_ayer { background-position: -364px -10920px; }
.bg-char_306_leizi { background-position: -546px -10920px; }
.bg-char_391_rosmon { background-position: -728px -10920px; }
.bg-char_420_flamtl { background-position: -910px -10920px; }
.bg-char_423_blemsh { background-position: 0 -11102px; }
.bg-char_427_vigil { background-position: -182px -11102px; }
.bg-char_430_fartth { background-position: -364px -11102px; }
.bg-char_431_ashlok { background-position: -546px -11102px; }
.bg-char_475_akafyu { background-position: -728px -11102px; }
.bg-char_491_humus { background-position: -910px -11102px; }
.bg-char_492_quercu { background-position: 0 -11284px; }
.bg-char_496_wildmn { background-position: -182px -11284px; }
.bg-char_513_apionr { background-position: -364px -11284px; }
.bg-char_608_acpion { background-position: -546px -11284px; }
.bg-char_1019_siege2 { background-position: -728px -11284px; }
.bg-char_1029_yato2 { background-position: -910px -11284px; }
.bg-char_1034_jesca2 { background-position: 0 -11466px; }
.bg-char_1035_wisdel { background-position: -182px -11466px; }
.bg-char_1037_amiya3 { background-position: -364px -11466px; }
.bg-char_1040_blaze2 { background-position: -546px -11466px; }
.bg-char_2012_typhon { background-position: -728px -11466px; }
.bg-char_2013_cerber { background-position: -910px -11466px; }
.bg-char_4000_jnight { background-position: 0 -11648px; }
.bg-char_4048_doroth { background-position: -182px -11648px; }
.bg-char_4058_pepe { background-position: -364px -11648px; }
.bg-char_4082_qiubai { background-position: -546px -11648px; }
.bg-char_4091_ulika { background-position: -728px -11648px; }
.bg-char_4098_vvana { background-position: -910px -11648px; }
.bg-char_4104_coldst { background-position: 0 -11830px; }
.bg-char_4114_harold { background-position: -182px -11830px; }
.bg-char_4122_grabds { background-position: -364px -11830px; }
.bg-char_4132_ascln { background-position: -546px -11830px; }
.bg-char_4134_cetsyr { background-position: -728px -11830px; }
.bg-char_4138_narant { background-position: -910px -11830px; }
.bg-char_4147_mitm { background-position: 0 -12012px; }
.bg-char_4162_cathy { background-position: -182px -12012px; }
.bg-char_4171_wulfen { background-position: -364px -12012px; }
.bg-char_4187_graceb { background-position: -546px -12012px; } 