.bg-elite0 {
  width: 256px;
  height: 210px;
  background: url("/image/sprite/sprites-rank-1.webp") -266px -906px;
}

.bg-elite1 {
  width: 256px;
  height: 210px;
  background: url("/image/sprite/sprites-rank-1.webp") -542px -906px;
}

.bg-elite2 {
  width: 256px;
  height: 210px;
  background: url("/image/sprite/sprites-rank-1.webp") -818px -906px;
}

.bg-mod0 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -10px -650px;
}

.bg-mod1 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -266px -650px;
}

.bg-mod2 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -522px -650px;
}

.bg-mod3 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -970px -10px;
}

.bg-potential1 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -10px -10px;
}

.bg-potential2 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -330px -10px;
}

.bg-potential3 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -10px -330px;
}

.bg-potential4 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -330px -330px;
}

.bg-potential5 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -650px -10px;
}

.bg-skill1 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -970px -266px;
}

.bg-skill2 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -970px -522px;
}

.bg-skill3 {
  width: 236px;
  height: 236px;
  background: url("/image/sprite/sprites-rank-1.webp") -10px -906px;
}

.bg-potential6 {
  width: 300px;
  height: 300px;
  background: url("/image/sprite/sprites-rank-1.webp") -650px -330px;
}
