.label-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dev-card- {
    width: 288px;
    height: 96px;
    margin: 8px;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.dev-card-member {
    height: 120px;
}

.dev-card-member-ref {
    height: 120px;
    width: 360px;
}

.dev-card-member .dev-card-icon {
    margin-top: 36px;
}

.dev-card-member-ref .dev-card-icon {
    margin-top: 36px;
}
.dev-card-icon {
    float: left;
    width: 48px;
    margin: 24px;
    border-radius: 36px;
}

.dev-card-text {
    margin: 8px 8px 8px 48px;
}

.dev-card-text-title {
    font-weight: 700;
    font-size: 20px;
    height: auto;
    margin-top: 16px;
    line-height: 32px;
}

.dev-card-text-content {
    color: rgb(94, 94, 94);
    font-size: 16px;
    line-height: 28px;
}

.label-content {
    display: flex;
}

.label-name {
    font-weight: 700;
    font-size: 18px;
    height: auto;
    margin-top: 6px;
}

.label-desc {
    color: rgb(94, 94, 94);
    font-size: 16px;
}

.label-icon-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.label-icon {
    width: 55px;
    margin: 5px;
    border-radius: 50%;
}

.label-work {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
}
