.aside_table {
    color: white;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
     margin-bottom: 50px;
}

.aside_title {
    font-size: 30px;
    text-align: center;
    height: 54px;
    line-height: 54px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
   
}

.aside_nav {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    height: 30px;
    padding-left: 4px;
    font-weight: 600;
}

.aside_nav_selected {
    color: rgb(255, 217, 0);
    border-left: 2px solid rgb(255, 217, 0);
}

.aside_nav_child_wrap {
    overflow: hidden;
    height: 0px;
    transition: all 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 6px;
    font-weight: 500;
    /* border: 1px red solid; */
}

.aside_nav_child_wrap_init {
    height: auto;
    transition: all 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 6px;
    font-weight: 500;
    /* border: 1px red solid; */
}

.aside_nav_text {
    font-size: 24px;
    width: 200px;
}

.aside_nav_child {
    font-size: 18px;
    margin-top: 20px;
}

.child_icon {
    height: 26px;
    width: 26px;
    margin-top: 4px;
}

.child_icon svg{
    height: 26px;
    width: 26px;
}

.nav_href {
    color: white;
    text-decoration: none;
    display: flex;
}