.aside_table {
  color: white;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  margin-bottom: 50px;
  height: 100%;
  overflow-y: scroll;
}

.nav_href {
  color: white;
  text-decoration: none;
  background-color: pink;
  /* display: flex; */
}

.aside_table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #94b9ff;
}

.aside_table::-webkit-scrollbar {
  width: 4px;
  background-color: #0059ff;
}

.aside_table::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 2px;
}

.aside_title {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  font-weight: 900;
  padding-left: 20px;
  transition: background-color 0.2s;
}

.aside_title:hover {
  background-color: dimgray;
}

.aside_nav {
  margin-top: 8px;
  margin-left: 40px;
  margin-right: 12px;
  display: flex;
  height: 32px;
  line-height: 32px;
  padding-left: 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.aside_nav:hover {
  background-color: dimgray;
}

.aside_nav_selected {
  /* color: #ffd04b; */
  background-color: rgba(255, 255, 255, 0.2);
  /* border-left: 2px solid #ffd04b; */
}

.aside_divider{
  margin: auto;
  width: 85%;
  border-bottom: 1px solid rgb(255, 255, 255,0.4);
  margin-top:10px;
}

.aside_parent{
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffd257;
}

/* .aside_menu_parent_icon {
  width: 16px;
  height: 16px;
  margin: 8px 20px 8px 8px;
  display: inline-block;
  background-color: #ffd04b;
  border-radius: 6px;
} */

/* .aside_menu_child_icon {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 0px;
  display: inline-block;

} */

@media (max-width: 1080px) {
  .aside_title{
    font-size: 28px;
    height: 80px;
    line-height: 80px;
  }

  .aside_nav{
     margin-top: 16px;
     font-size: 20px;
  }

  .aside_parent{
    font-size: 24px;
  }
}
