.v-data-table-header__content {
  font-weight: bolder;
}


.disabled{
  filter: grayscale(1);
  opacity: 0.6;
}

.active{
  filter: grayscale(0);
  opacity: 1;
}

//间隔

.p-4{
  padding: 4px;
}

.p-12{
  padding: 12px;
}

.p-16-0{
  padding: 16px 0;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8{
  margin: 8px;
}

.m-12{
  margin: 8px;
}

.m-a{
  margin: auto;
}

.m-4-a{
  margin:4px auto;
}

.m-0-4{
  margin: auto 4px;
}

.m-0-8{
  margin:0 8px;
}

.m-12-4{
  margin: 12px 4px;
}

//布局
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: end;
}

.justify-space-between{
  justify-content: space-between;
}

.flex-grow{
  flex-grow: 1;
}


.overflow-auto{
  overflow: auto;
}


.shadow-md{
  box-shadow: 0 0 1px 1px rgb(0,0,0,0.1);
}


//透明度
.opacity-30{
  opacity:0.3;
}

.opacity-50{
  opacity:0.5;
}

.opacity-70{
  opacity:0.7;
}

//文本
.no-wrap {
  white-space: nowrap;
}

.font-bold{
  font-weight: bold;
}

.spacer-12{
  width: 12px;
  height: 4px;

}

.spacer-40{
  width: 40px;
}