.v-data-table-header__content {
  font-weight: bolder;
}

.flex-grow{
  flex-grow: 1;
}


//间隔

.p-4{
  padding: 4px;
}

.p-12{
  padding: 12px;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8{
  margin: 8px;
}

.m-12{
  margin: 8px;
}

.m-a{
  margin: auto;
}

.m-0-4{
  margin: auto 4px;
}

.m-0-8{
  margin:0 8px;
}

.m-12-4{
  margin: 12px 4px;
}

//布局
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}



//透明度
.opacity-70{
  opacity:0.7;
}

//文本
.no-wrap {
  white-space: nowrap;
}

.font-bold{
  font-weight: bold;
}