.btn{
    font-family: 'black', SimHei, sans-serif;
    padding:4px 8px;
    font-weight: 500;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    height: 28px;
    font-size: 18px;
    line-height: 20px;
    border:none;
    color: var(--c-btn-color);
    background-color: var(--c-btn-bg);
}


.btn_blue{
    color: var(--c-btn-text-color);
    background-color:var(--c-btn-bg-blue);
}



.btn_green{
    color: var(--c-btn-text-color);
    background-color: var(--c-btn-bg-green);
}

.btn_red{
    color: var(--c-btn-text-color);
    background-color: var(--c-btn-bg-red);
}

.warning_color{
    font-weight: 600;
}