.item_area {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.value_half {
  margin-top: 8px;
  display: flex;
  flex: 1;
  max-width: 720px;
  min-width: 360px;
  justify-content: space-around;
}

/* 材料卡 */
.itemAll {
  margin-top: 10px;
  margin-left: 1%;
  width: 100%;
  height: auto;
}

.itemAll_collapse {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.value_subList {
  margin: 2px;
  width: 150px;
}

.value_subList_value_font {
  font-size: 18px;
  width: 68px;
  padding: 0px;
  color: gray;
  text-align: right;
}

.item_img_size {
  width: 24px;
  height: 24px;
}

.item_img_size_secondary {
  width: 30px;
  height: 30px;
}

.item_img_size_type {
  /* opacity: 0.9; */
  width: 130px;
  height: 140px;
  margin-left: -55px;
  margin-top: -15px;
}

.item_img_size_act {
  width: 40px;
  height: 40px;
}

.item_img_size_dialog {
  width: 60px;
  height: 60px;
}

.item_img_size_dialog_title {
  width: 60px;
  height: 60px;
  margin-left: -10px;
  margin-top: -10px;
}

.hidden {
  display: none;
}

.itemHeight {
  height: 60px;
  overflow: hidden;
}

.item_color_type_orange {
  border-left: 3px solid rgb(240, 136, 0);
}

.item_color_type_purple {
  border-left: 3px solid rgb(195, 128, 221);
}

.item_color_type_green {
  border-left: 3px solid rgb(0, 171, 177);
}

.item_color_type_grey {
  border-left: 3px solid rgb(197, 197, 197);
}

.item_color_type_blue {
  border-left: 3px solid rgb(0, 111, 214);
}

.item_color_type_5 {
  border-left: 3px solid rgb(240, 136, 0);
}

.item_color_type_4 {
  border-left: 3px solid rgb(195, 128, 221);
}

.item_color_type_3 {
  border-left: 3px solid rgb(0, 111, 214);
}

.item_color_type_2 {
  border-left: 3px solid rgb(0, 171, 177);
}

.item_color_type_1 {
  border-left: 3px solid rgb(197, 197, 197);
}
