html {
  .v-responsive {
    overflow: visible !important;
  }
}


.navigation-drawer {

  .drawer-navigation {
    .v-list-item {
      --indent-padding: 32px;
    }

    .navigation-item-content {
      display: flex;
      align-items: center;

      .navigation-item-content-spacer {
        width: 16px;
      }
    }
  }

  .router-link {
    text-decoration: none;
    color: inherit;
  }



}

.app-bar-content {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.app-bar-content-spacer {
  width: 20px;
}

@media screen and (max-width: 700px) {
  .v-container {
    padding: 0 !important;
  }
}