.header {
    height: 54px;
    line-height: 50px;
    /* border: 1px solid rgb(223, 223, 223); */
}

.container {
    display: flex;
    flex: 1;
    /* border: 1px solid rgb(0, 119, 255); */
    height: calc(100vh - 0px);
    overflow: hidden;
}

.is_vertical {
    flex-direction: column;
}

.aside_hidden {
    width: 0px;
    overflow: auto;
    transform: translateX(-500px);
}

.aside {
    width: 280px;
    transition: all 0.2s;
    transform: translateX(0) !important;
    background-color: rgb(52, 68, 104);
}


.main {
    display: block;
    flex: 1;
    overflow: auto;
    /* background-color: #bb0000ce */
}

.footer {
    height: 40px;
    line-height: 40px;
    background-color: rgb(52, 68, 104);
}


@media (max-width: 1080px) {
    .header {
        height: 78px;
    }

    .aside {
       display: none;
    }
}