.header_wrap {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
    height: 54px;
    align-items: center;
    background-color: rgb(52, 68, 104);
    z-index: 100;
    box-shadow: none;
    gap: 8px;
    padding: 0 10px 0 10px;
}

.bar-wrapper {
    display: flex;
    /* border: 1px solid red; */
}

.bar {
    height: 100%;
    padding: 0 14px;
    font-size: 18px;
    vertical-align: center;
    line-height: 54px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 4px;
    /* border: 1px solid red; */
}

.bar:hover .bar-wrapper2 {
    display: block;
}

.bar-wrapper2 {
    width: 250px;
    background-color: rgb(52, 68, 104);
    position: absolute;
    top: 56px;
    /* margin-left: -10px; */
    display: none;
    z-index: 2000;
}

.menu-button {
    display: none;
    width: 33px;
    height: 33px;
    padding: 6px 8px;
    margin-left: 12px;
    border: 2px solid white;
    border-radius: 6px;
}

.menu-button div {
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.page-title {
    color: white;
    font-size: 28px;
    display: none;
    padding-left: 24px;
}

@media (max-width: 1080px) {
    .bar-wrapper {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .page-title {
        display: block;
    }

    .header_wrap {
        height: 80px;
    }

    .bar {
        line-height: 80px;
    }

    .el-switch {
        transform: scale(1.5);
    }
}

.activate {
    color: #ffd04b;
    border-bottom: 3px solid #ffd04b;
}

.navbar-switch {
    --el-switch-on-color: rgb(52, 68, 104);
    --el-switch-off-color: rgb(52, 68, 104);
    --el-switch-border-color: white;
    /* padding-right: 28px; */
}

.spacer {
    flex-grow: 1;
}

.drawer_wrap {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    /* border: solid red 1px; */
}

.drawer {
    position: absolute;
    top: 0;
    width: 380px;
    height: 100vh;
    transform: translateX(-500px);
    transition: all 0.15s;
    background-color: rgb(52, 68, 104);
    overflow: auto;
}

.nav_open {

    white-space: nowrap;
    text-align: center;

    transform: translateX(0) !important;
}

.menu-mask {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: none;
}

.menu_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.menu_title {
    width: 100%;
    height: 80px;
    /* border: 1px red solid; */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    /* height: 1px; */
    background: white;
    box-shadow: 0 0 1px 1px rgb(208, 208, 208);
    margin-bottom: 10px;
}

.nav_phone {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    height: 50px;
    padding-left: 4px;
    font-weight: 600;
}

.nav_text_phone {
    font-size: 30px;
    width: 260px;
}

.child_icon_phone {
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.child_icon_phone svg{
    width: 40px;
    height: 40px;
}

.child_icon_phone_selected{
    transform: rotate(180deg);
}

.nav_child_wrap_phone_init{
    height: auto;
    transition: all 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 6px;
    font-weight: 500;
}

.nav_child_wrap_phone {
    overflow: hidden;
    height: 0px;
    transition: all 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 6px;
    font-weight: 500;
    /* border: 1px red solid; */
}


.nav_child_phone{
    font-size: 24px;
    margin-top: 10px;
}

.menu_item {
    width: 250px;
    height: 80px;
    font-size: 28px;
    text-align: left;
    margin-left: 50px;
}

.menu_item a {
    color: white;
    text-decoration: none;
}

:global(.navbar-switch .el-icon) {
    font-size: 16px !important;
}