a {
  text-decoration: none;
}

#maa_recruit_poster {
  background: url("/image/website/立绘_梓兰_1.png") 0 110% / cover no-repeat, #444444;
  background-size: 500px;
  background-attachment: fixed;
}

.bg {
  position: fixed;
  bottom: 0;
  width: 80%;
  max-width: 640px;
  opacity: 0.1;
  margin-bottom: 0px;
}

#maa_recruit_poster_main {
  max-width: 720px;
  background-color: #22222280;
  margin: auto;
}

#poster_title {
  height: 120px;
  padding: 16px;
}

#poster_title_main {
  color: #eeeeee;
  font-size: 48px;
  padding: 4px;
}

#poster_title_sub {
  color: #eeeeee;
  font-size: 36px;
  padding: 4px;
}

.poster_block {
  margin-top: -64px;
  margin-left: -20px;
  width: 80%;
  min-height: 384px;
  max-height: 540px;
  background: url("/image/website/hex.png") 0 50% / cover no-repeat;
  background-size: 80%;
  z-index: 1;
}

.poster_block:nth-child(even) {
  margin-left: 40%;
}

.poster_block_number {
  margin-left: 24px;
  font-size: 60px;
  font-weight: 600;
  width: 36px;
  color: orange;
  display: inline-block;
}

.poster_block_title {
  margin-top: 96px;
  font-size: 24px;
  color: white;
  display: inline-block;
}

.poster_block_content {
  margin-left: 66px;
}
.poster_block_p1 {
  font-size: 24px;
  height: 36px;
  color: white;
}
.poster_block_p2 {
  font-size: 24px;
  height: 36px;
  color: #aaaaaa;
}

#poster_foot {
  margin-top: -32px;
  margin-left: 64px;
  display: flex;
  justify-content: flex-end;
  padding-left: 64px;
  padding-bottom: 16px;
}

.poster_button {
  border: 1px solid #eeeeee;
  background-color: #222222ee;
  font-size: 24px;
  border-radius: 6px;
  margin: 16px;
  padding: 8px;
  color: #ffffff;
  height: 64px;
}

.text_special {
  color: coral;
  font-size: 28px;
  font-weight: 600;
}
