.recruit_area {
  min-height: 1200px;
}

.recruit_area_ {
  margin: 5px;
  margin-top: 3px;
  width: 99%;
  height: auto;
  min-height: 1200px;
}

.checkBox_recruit_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 95%;
}

.checkBox_recruit_card {
  margin-left: 50px;
  width: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.checkBox_recruit_title {
  margin: 3px;
  font-size: 20px;
  min-width: 80px;
  margin-top: 10px;
  margin-bottom: -37px;
  font-weight: 600;
}

.checkBox_recruit_word {
  margin: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  min-width: 60px;
  background-color: rgb(245, 245, 245);
  color: #000;
  font-weight: 600;
  box-shadow: rgb(116, 116, 116) 0px 0px 5px;
  height: auto;
}

.checkBox_recruit_switch {
  margin: 3px;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: -25px;
  font-size: 18px;
  min-width: 110px;
  font-weight: 600;
}

.checkBox_recruit_switch_re {
  background-color: #fef0f0;
  margin: 3px;
  color: #b94962;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: -25px;
  font-size: 18px;
  font-weight: 600;
  width: 90px;
  border-radius: 6px;
}

.result_recruit_area {
  margin-top: 20px;
  margin-left: 2%;
}

.result_recruit_title {
  font-size: 15px;
  font-weight: 600;
  height: auto;
  margin-left: 2%;
  width: 95%;
  border-bottom: solid rgb(116, 116, 116) 1px;
  /* box-shadow: rgb(116, 116, 116) 3px 3px 3px; */
}

.result_recruit_tip_word {
  font-size: 16px;

  color: rgb(0, 194, 168);
  font-weight: 600;
}

.result_recruit_card {
  width: 97%;

  border-bottom: solid white 1px;
}

.result_recruit_tags_color_size {
  margin: 8px;
  margin-left: 1.5%;
  font-size: 17px;
  color: rgb(41, 166, 255);
  font-weight: 700;
}

.result_recruit_table_size {
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;

  text-align: center;
}

.result_recruit_word_size_6 {
  margin: 2px;
  width: auto;
  font-size: 17px;
  background-color: rgb(253, 109, 72);
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  height: auto;
}

.result_recruit_word_size_5 {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: auto;
  font-size: 17px;
  background-color: rgb(253, 234, 66);
  text-align: center;
  color: #000;
  font-weight: 600;
}

.result_recruit_word_size_4 {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: auto;
  font-size: 17px;
  background-color: rgb(221, 155, 217);
  text-align: center;
  color: #000;
  font-weight: 600;
}

.result_recruit_word_size_3 {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: auto;
  font-size: 17px;
  color: #000;
  background-color: rgb(126, 161, 255);
  text-align: center;
  font-weight: 600;
}

.result_recruit_word_size_2 {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: auto;
  font-size: 17px;
  color: #000;
  background-color: rgb(201, 201, 201);

  text-align: center;
  font-weight: 600;
}

.role_img_size {
  width: 40px;
  height: 40px;
  margin-bottom: -8px;
}

.hidden_role_img {
  display: none;
}

/* .select_botton{
    width: 80px;
    height: 30px;
    font-size: 17px;
    font-weight: 600;
    background-color: deepskyblue;
    color: floralwhite;
    margin: 10px;
    margin-left: 20px;
} */
