.no-webp .bg-30013large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -10px -10px;
}

.no-webp .bg-30023large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -160px -10px;
}

.no-webp .bg-30033large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -10px -160px;
}

.no-webp .bg-30043large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -160px -160px;
}

.no-webp .bg-30053large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -310px -10px;
}

.no-webp .bg-30063large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -310px -160px;
}

.no-webp .bg-30073large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -10px -310px;
}

.no-webp .bg-30083large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -160px -310px;
}

.no-webp .bg-30093large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -310px -310px;
}

.no-webp .bg-30103large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -460px -10px;
}

.no-webp .bg-31013large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -460px -160px;
}

.no-webp .bg-31023large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -460px -310px;
}

.no-webp .bg-31033large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -10px -460px;
}

.no-webp .bg-31043large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -160px -460px;
}

.no-webp .bg-31053large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -310px -460px;
}

.no-webp .bg-31063large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -460px -460px;
}

.no-webp .bg-act24side_melding_5large {
  width: 130px;
  height: 130px;
  background: url("/image/sprite/sprites-large2.png") -610px -10px;
}
