.bg-CASTER {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -10px -10px;
}



.bg-light_1 {
    width: 142px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -10px -838px;
}



.bg-light_2 {
    width: 142px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -172px -838px;
}



.bg-light_4 {
    width: 142px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -334px -838px;
}



.bg-light_5 {
    width: 142px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -496px -838px;
}



.bg-light_6 {
    width: 143px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -838px -570px;
}



.bg-mask {
    width: 155px; height: 114px;
    background: url('/image/sprite/portrait-bg.webp') -820px -838px;
}



.bg-MEDIC {
    width: 255px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -286px -562px;
}



.bg-PIONEER {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -286px -10px;
}



.bg-portrait_bg_1 {
    width: 142px; height: 253px;
    background: url('/image/sprite/portrait-bg.webp') -1001px -290px;
}



.bg-portrait_bg_2 {
    width: 142px; height: 253px;
    background: url('/image/sprite/portrait-bg.webp') -1001px -563px;
}



.bg-portrait_bg_3 {
    width: 142px; height: 253px;
    background: url('/image/sprite/portrait-bg.webp') -561px -562px;
}



.bg-portrait_bg_4 {
    width: 143px; height: 260px;
    background: url('/image/sprite/portrait-bg.webp') -838px -10px;
}



.bg-portrait_bg_5 {
    width: 143px; height: 260px;
    background: url('/image/sprite/portrait-bg.webp') -838px -290px;
}



.bg-portrait_bg_6 {
    width: 143px; height: 260px;
    background: url('/image/sprite/portrait-bg.webp') -1001px -10px;
}



.bg-portrait_bg_tl_1 {
    width: 82px; height: 39px;
    background: url('/image/sprite/portrait-bg.webp') -838px -715px;
}



.bg-portrait_bg_tl_2 {
    width: 82px; height: 39px;
    background: url('/image/sprite/portrait-bg.webp') -838px -774px;
}



.bg-portrait_bg_tl_3 {
    width: 82px; height: 39px;
    background: url('/image/sprite/portrait-bg.webp') -723px -562px;
}



.bg-portrait_bg_tl_4 {
    width: 80px; height: 38px;
    background: url('/image/sprite/portrait-bg.webp') -723px -621px;
}



.bg-portrait_bg_tl_5 {
    width: 80px; height: 38px;
    background: url('/image/sprite/portrait-bg.webp') -723px -679px;
}



.bg-portrait_bg_tl_6 {
    width: 80px; height: 38px;
    background: url('/image/sprite/portrait-bg.webp') -723px -737px;
}



.bg-rarity_1 {
    width: 24px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -940px -774px;
}



.bg-rarity_2 {
    width: 37px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -940px -715px;
}



.bg-rarity_3 {
    width: 50px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -1091px -883px;
}



.bg-rarity_4 {
    width: 63px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -10px -983px;
}



.bg-rarity_5 {
    width: 76px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -995px -883px;
}



.bg-rarity_6 {
    width: 89px; height: 25px;
    background: url('/image/sprite/portrait-bg.webp') -995px -838px;
}



.bg-SNIPER {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -10px -286px;
}



.bg-SPECIAL {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -286px -286px;
}



.bg-SUPPORT {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -562px -10px;
}



.bg-TANK {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -562px -286px;
}



.bg-WARRIOR {
    width: 256px; height: 256px;
    background: url('/image/sprite/portrait-bg.webp') -10px -562px;
}



.bg-light_3 {
    width: 142px; height: 125px;
    background: url('/image/sprite/portrait-bg.webp') -658px -838px;
}