.bg-char_308_swire {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -10px -10px;
}



.bg-char_325_bison {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -210px -10px;
}



.bg-char_326_glacus {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -10px -210px;
}



.bg-char_333_sidero {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -210px -210px;
}



.bg-char_336_folivo {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -410px -10px;
}



.bg-char_338_iris {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -410px -210px;
}



.bg-char_343_tknogi {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -10px -410px;
}



.bg-char_344_beewax {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -210px -410px;
}



.bg-char_345_folnic {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -410px -410px;
}



.bg-char_346_aosta {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -610px -10px;
}



.bg-char_348_ceylon {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -610px -210px;
}



.bg-char_349_chiave {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -610px -410px;
}



.bg-char_356_broca {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -10px -610px;
}



.bg-char_363_toddi {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -210px -610px;
}



.bg-char_365_aprl {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -410px -610px;
}



.bg-char_367_swllow {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -610px -610px;
}



.bg-char_369_bena {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -810px -10px;
}



.bg-char_373_lionhd {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -810px -210px;
}



.bg-char_378_asbest {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -810px -410px;
}



.bg-char_379_sesa {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -810px -610px;
}



.bg-char_383_snsant {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -10px -810px;
}



.bg-char_388_mint {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -210px -810px;
}



.bg-char_401_elysm {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -410px -810px;
}



.bg-char_402_tuye {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -610px -810px;
}



.bg-char_405_absin {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -810px -810px;
}



.bg-char_411_tomimi {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -1010px -10px;
}



.bg-char_415_flint {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -1010px -210px;
}



.bg-char_421_crow {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -1010px -410px;
}



.bg-char_422_aurora {
    width: 180px; height: 180px;
    background: url('/image/sprite/sprites-char-5-part2.webp') -1010px -610px;
}