.no-webp .bg-0 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -10px;
}

.no-webp .bg-1 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -10px;
}

.no-webp .bg-2001 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -90px;
}

.no-webp .bg-2002 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -90px;
}

.no-webp .bg-2003 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -10px;
}

.no-webp .bg-2004 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -90px;
}

.no-webp .bg-3003 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -170px;
}

.no-webp .bg-3211 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -170px;
}

.no-webp .bg-3212 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -170px;
}

.no-webp .bg-3213 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -10px;
}

.no-webp .bg-3221 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -90px;
}

.no-webp .bg-3222 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -170px;
}

.no-webp .bg-3223 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -250px;
}

.no-webp .bg-3231 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -250px;
}

.no-webp .bg-3232 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -250px;
}

.no-webp .bg-3233 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -250px;
}

.no-webp .bg-3241 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -10px;
}

.no-webp .bg-3242 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -90px;
}

.no-webp .bg-3243 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -170px;
}

.no-webp .bg-3251 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -250px;
}

.no-webp .bg-3252 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -330px;
}

.no-webp .bg-3253 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -330px;
}

.no-webp .bg-3261 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -330px;
}

.no-webp .bg-3262 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -330px;
}

.no-webp .bg-3263 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -330px;
}

.no-webp .bg-3271 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -10px;
}

.no-webp .bg-3272 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -90px;
}

.no-webp .bg-3273 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -170px;
}

.no-webp .bg-3281 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -250px;
}

.no-webp .bg-3282 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -330px;
}

.no-webp .bg-3283 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -410px;
}

.no-webp .bg-3301 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -410px;
}

.no-webp .bg-3302 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -410px;
}

.no-webp .bg-3303 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -410px;
}

.no-webp .bg-3401 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -410px;
}

.no-webp .bg-4001 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -410px;
}

.no-webp .bg-4002 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -10px;
}

.no-webp .bg-4003 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -90px;
}

.no-webp .bg-4004 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -170px;
}

.no-webp .bg-4005 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -250px;
}

.no-webp .bg-4006 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -330px;
}

.no-webp .bg-5001 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -410px;
}

.no-webp .bg-7001 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -490px;
}

.no-webp .bg-7003 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -490px;
}

.no-webp .bg-7004 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -490px;
}

.no-webp .bg-30011 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -490px;
}

.no-webp .bg-30012 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -490px;
}

.no-webp .bg-30013 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -490px;
}

.no-webp .bg-30014 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -490px;
}

.no-webp .bg-30021 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -10px;
}

.no-webp .bg-30022 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -90px;
}

.no-webp .bg-30023 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -170px;
}

.no-webp .bg-30024 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -250px;
}

.no-webp .bg-30031 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -330px;
}

.no-webp .bg-30032 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -410px;
}

.no-webp .bg-30033 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -490px;
}

.no-webp .bg-30034 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -570px;
}

.no-webp .bg-30041 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -570px;
}

.no-webp .bg-30042 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -570px;
}

.no-webp .bg-30043 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -570px;
}

.no-webp .bg-30044 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -570px;
}

.no-webp .bg-30051 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -570px;
}

.no-webp .bg-30052 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -570px;
}

.no-webp .bg-30053 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -570px;
}

.no-webp .bg-30054 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -10px;
}

.no-webp .bg-30061 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -90px;
}

.no-webp .bg-30062 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -170px;
}

.no-webp .bg-30063 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -250px;
}

.no-webp .bg-30064 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -330px;
}

.no-webp .bg-30073 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -410px;
}

.no-webp .bg-30074 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -490px;
}

.no-webp .bg-30083 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -570px;
}

.no-webp .bg-30084 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -650px;
}

.no-webp .bg-30093 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -650px;
}

.no-webp .bg-30094 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -650px;
}

.no-webp .bg-30103 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -650px;
}

.no-webp .bg-30104 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -650px;
}

.no-webp .bg-30115 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -650px;
}

.no-webp .bg-30125 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -650px;
}

.no-webp .bg-30135 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -650px;
}

.no-webp .bg-30145 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -650px;
}

.no-webp .bg-30155 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -10px;
}

.no-webp .bg-31013 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -90px;
}

.no-webp .bg-31014 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -170px;
}

.no-webp .bg-31023 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -250px;
}

.no-webp .bg-31024 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -330px;
}

.no-webp .bg-31033 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -410px;
}

.no-webp .bg-31034 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -490px;
}

.no-webp .bg-31043 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -570px;
}

.no-webp .bg-31044 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -650px;
}

.no-webp .bg-31053 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -730px;
}

.no-webp .bg-31054 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -90px -730px;
}

.no-webp .bg-31063 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -170px -730px;
}

.no-webp .bg-31064 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -250px -730px;
}

.no-webp .bg-32001 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -330px -730px;
}

.no-webp .bg-act24side_melding_5 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -410px -730px;
}

.no-webp .bg-AP_GAMEPLAY {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -490px -730px;
}

.no-webp .bg-ap_supply_lt_010 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -570px -730px;
}

.no-webp .bg-base_ap {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -650px -730px;
}

.no-webp .bg-charm_coin_1 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -730px -730px;
}

.no-webp .bg-charm_coin_2 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -10px;
}

.no-webp .bg-charm_coin_3 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -90px;
}

.no-webp .bg-charm_coin_4 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -170px;
}

.no-webp .bg-EPGS_COIN {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -250px;
}

.no-webp .bg-mod_unlock_token {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -330px;
}

.no-webp .bg-mod_update_token_1 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -410px;
}

.no-webp .bg-mod_update_token_2 {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -490px;
}

.no-webp .bg-REP_COIN {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -570px;
}

.no-webp .bg-RETRO_COIN {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -650px;
}

.no-webp .bg-SOCIAL_PT {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -810px -730px;
}

.no-webp .bg-STORY_REVIEW_COIN {
  width: 60px;
  height: 60px;
  background: url("/image/sprite/sprites3.png") -10px -810px;
}
