.bg-char_009_12fce_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -10px;
}



.bg-char_109_fmout_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -10px;
}



.bg-char_118_yuki_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -10px;
}



.bg-char_122_beagle_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -10px;
}



.bg-char_123_fang_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -390px;
}



.bg-char_126_shotst_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -390px;
}



.bg-char_130_doberm_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -390px;
}



.bg-char_149_scave_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -390px;
}



.bg-char_193_frostl_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -10px;
}



.bg-char_199_yak_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -390px;
}



.bg-char_236_rope_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -10px;
}



.bg-char_240_wyvern_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -390px;
}



.bg-char_271_spikes_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -770px;
}



.bg-char_282_catap_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -770px;
}



.bg-char_284_spot_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -770px;
}



.bg-char_285_medic2_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -770px;
}



.bg-char_286_cast3_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -770px;
}



.bg-char_328_cammou_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -770px;
}



.bg-char_355_ethan_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -10px;
}



.bg-char_366_acdrop_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -390px;
}



.bg-char_376_therex_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -770px;
}



.bg-char_381_bubble_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -10px;
}



.bg-char_484_robrta_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -390px;
}



.bg-char_501_durin_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -770px;
}



.bg-char_502_nblade_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -1150px;
}



.bg-char_504_rguard_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -1150px;
}



.bg-char_505_rcast_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -1150px;
}



.bg-char_507_rsnipe_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -1150px;
}



.bg-char_514_rdfend_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -1150px;
}



.bg-char_4067_lolxh_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -1150px;
}



.bg-char_4093_frston_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -1150px;
}



.bg-char_110_deepcl_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -1150px;
}



.bg-char_117_myrrh_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -10px;
}



.bg-char_120_hibisc_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -390px;
}



.bg-char_121_lava_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -770px;
}



.bg-char_124_kroos_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -1150px;
}



.bg-char_127_estell_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -10px;
}



.bg-char_133_mm_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -390px;
}



.bg-char_137_brownb_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -770px;
}



.bg-char_141_nights_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -1150px;
}



.bg-char_150_snakek_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -1530px;
}



.bg-char_151_myrtle_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -1530px;
}



.bg-char_159_peacok_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -1530px;
}



.bg-char_181_flower_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -1530px;
}



.bg-char_183_skgoat_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -1530px;
}



.bg-char_185_frncat_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -1530px;
}



.bg-char_187_ccheal_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -1530px;
}



.bg-char_190_clour_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -1530px;
}



.bg-char_192_falco_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -1530px;
}



.bg-char_196_sunbr_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -1530px;
}



.bg-char_198_blackd_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -10px;
}



.bg-char_208_melan_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -390px;
}



.bg-char_209_ardign_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -770px;
}



.bg-char_210_stward_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -1150px;
}



.bg-char_211_adnach_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -1530px;
}



.bg-char_212_ansel_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -10px;
}



.bg-char_235_jesica_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -390px;
}



.bg-char_237_gravel_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -770px;
}



.bg-char_253_greyy_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -1150px;
}



.bg-char_258_podego_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -1530px;
}



.bg-char_260_durnar_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -1910px;
}



.bg-char_272_strong_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -1910px;
}



.bg-char_277_sqrrel_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -1910px;
}



.bg-char_278_orchid_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -1910px;
}



.bg-char_281_popka_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -810px -1910px;
}



.bg-char_283_midn_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1010px -1910px;
}



.bg-char_289_gyuki_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1210px -1910px;
}



.bg-char_290_vigna_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1410px -1910px;
}



.bg-char_298_susuro_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1610px -1910px;
}



.bg-char_301_cutter_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -1810px -1910px;
}



.bg-char_302_glaze_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2010px -1910px;
}



.bg-char_337_utage_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2210px -1910px;
}



.bg-char_347_jaksel_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -10px;
}



.bg-char_385_finlpp_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -390px;
}



.bg-char_440_pinecn_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -770px;
}



.bg-char_452_bstalk_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -1150px;
}



.bg-char_469_indigo_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -1530px;
}



.bg-char_491_humus_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2410px -1910px;
}



.bg-char_500_noirc_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -10px;
}



.bg-char_503_rang_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -390px;
}



.bg-char_506_rmedic_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -770px;
}



.bg-char_4000_jnight_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -1150px;
}



.bg-char_4004_pudd_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -1530px;
}



.bg-char_4041_chnut_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -2610px -1910px;
}



.bg-char_4062_totter_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -10px -2290px;
}



.bg-char_4063_quartz_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -210px -2290px;
}



.bg-char_4077_palico_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -410px -2290px;
}



.bg-char_4091_ulika_1 {
    width: 180px; height: 360px;
    background: url('/image/sprite/portrait-4.webp') -610px -2290px;
}