.sprite_large {
  transform: scale(1);
  margin-top: -10px;
  /* margin-left: -68px; */
}

.sprite_secondary {
  transform: scale(0.5);
  margin: -20px;
}

.sprite_large_title {
  transform: scale(1.2);
}

.sprite_icon_up {
  transform: scale(0.8);
  margin: -10px;
}

.sprite_icon_el {
  transform: scale(0.6);
  margin: -5px;
}

.sprite_icon_small {
  transform: scale(0.6);
  margin: -12px;
  /* margin-top: -8px; */
}

.sprite_store_icon {
  transform: scale(0.8);
  /* margin-top: -80px; */
  margin-left: 10px;
}

.sprite_store_perm {
  transform: scale(1);
  /* margin-left: 22px; */
  margin: auto;
}

.sprite_store_act {
  transform: scale(1.3);
  margin-top: 25px;
  margin-left: 18px;
}

.sprite_itemValue {
  transform: scale(0.8);
  margin: -6px;
}

.sprite_foot_icon {
  transform: scale(0.6);
  margin-top: -6px;
  margin-right: -12px;
}
