.bg-char_497_ctable_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -10px -10px;
}

.bg-char_508_aguard_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -210px -10px;
}

.bg-char_511_asnipe_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -410px -10px;
}

.bg-char_1011_lava2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -610px -10px;
}

.bg-char_1024_hbisc2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -10px -390px;
}

.bg-char_498_inside_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -210px -390px;
}

.bg-char_509_acast_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -410px -390px;
}

.bg-char_510_amedic_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -610px -390px;
}

.bg-char_512_aprot_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -810px -10px;
}

.bg-char_513_apionr_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -810px -390px;
}

.bg-char_1021_kroos2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1010px -10px;
}

.bg-char_1027_greyy2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1010px -390px;
}

.bg-char_1030_noirc2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -10px -770px;
}

.bg-char_4006_melnte_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -210px -770px;
}

.bg-char_4054_malist_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -410px -770px;
}

.bg-char_4013_kjera_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -610px -770px;
}

.bg-char_4014_lunacu_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -810px -770px;
}

.bg-char_4015_spuria_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1010px -770px;
}

.bg-char_4016_kazema_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1210px -10px;
}

.bg-char_4017_puzzle_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1210px -390px;
}

.bg-char_4019_ncdeer_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1210px -770px;
}

.bg-char_4025_aprot2_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1410px -10px;
}

.bg-char_4032_provs_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1410px -390px;
}

.bg-char_4036_forcer_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1410px -770px;
}

.bg-char_4040_rockr_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -10px -1150px;
}

.bg-char_4043_erato_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -210px -1150px;
}

.bg-char_4045_heidi_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -410px -1150px;
}

.bg-char_4047_pianst_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -610px -1150px;
}

.bg-char_4066_highmo_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -810px -1150px;
}

.bg-char_4071_peper_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1010px -1150px;
}

.bg-char_4078_bdhkgt_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1210px -1150px;
}

.bg-char_4083_chimes_1 {
  width: 180px;
  height: 360px;
  background: url("/image/sprite/portrait-5-2.webp") -1410px -1150px;
}
