.bg-30013large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -10px -10px;
}

.bg-30023large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -160px -10px;
}

.bg-30033large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -10px -160px;
}

.bg-30043large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -160px -160px;
}

.bg-30053large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -310px -10px;
}

.bg-30063large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -310px -160px;
}

.bg-30073large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -10px -310px;
}

.bg-30083large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -160px -310px;
}

.bg-30093large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -310px -310px;
}

.bg-30103large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -460px -10px;
}

.bg-31013large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -460px -160px;
}

.bg-31023large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -460px -310px;
}

.bg-31033large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -10px -460px;
}

.bg-31043large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -160px -460px;
}

.bg-31053large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -310px -460px;
}

.bg-31063large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -460px -460px;
}

.bg-act24side_melding_5large {
  width: 130px;
  height: 130px;
  background: url("https://image.yituliu.site/sprite/sprites-large2.webp") -610px -10px;
}
