.stage_detail_page {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.checkBox {
  width: 510px;
}

.stage_detail_title {
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}



.pieChartBlock {
  border: solid 1px rgb(0, 132, 255);
  width: 550px;
  height: 550px;
}

.stage_table_wrap{
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.stage_table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.zone_title{
  width: 100%;
  line-height: 48px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  /*border-radius: 4px;*/
  /*box-shadow: 0 0 2px #b6b6b6 ,0 1px 1px #b6b6b6;*/
  border-bottom: 1px solid #cecece;
}

.zone_table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}