.stage_detail_page {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.checkBox {
  width: 510px;
}

.stage_detail_title {
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}



.pieChartBlock {
  border: solid 1px rgb(0, 132, 255);
  border-radius: 4px;
  width: 500px;
  height: 500px;
}

.stage_type{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zone_title{
  line-height: 48px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.zone_table_wrap{
  width: 500px;
  border: 1px red solid;
  padding: 1px;
}

.zone_table{
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stage_table_wrap{
  margin: 2px;
}

.stage_table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

