#stage_3{
  display: flex;
  flex-wrap: wrap;
}
#stage_3_intro{
  display: flex;
  max-width: 1260px;
  flex-wrap: wrap;
}


.stage_card_wrap_3{
  display: flex;
  flex-wrap: wrap;
}

.stage_card_3{
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(128, 128, 128, 0.1);
  height: 120px;
  width: 240px;
  max-width: 330px;
  margin: 6px;
  /* display: flex; */
  border-radius: 8px;
  flex-grow: 1;
  border: 1px solid #80808020;
  min-width: 248px;
  /* box-shadow:1px 0px 4px 2px #80808040; */
  /* background-color: aquamarine; */
}

.stage_card_3_left{
  width: 102px;
  height: 100%;
  padding: 0 0;
  box-shadow: 2px 0 8px 4px #80808040;
  overflow: hidden;
  float: left;
  /*background-color: blueviolet;*/
}

.stage_card_3_mainImg{
  width: 178px;
  height: 192px;
  opacity: 1;
  -webkit-filter: grayscale(.1);
  filter: grayscale(.1);
  margin: 8px auto 4px auto;
  left: -40px;
  top: -50px;
  /*background-color: bisque;*/
}

.stage_card_3_cover{
  height: 110px;
  background-color: #dfdfdf4f;
}

.stage_card_3_best{
  color: #ff8438;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
  height: 64px;
  vertical-align: bottom;
  text-align: center;
  padding: 2px;
  background-color: #2e2e2eb2;
  background: linear-gradient(#2e2e2ec2, #202020ff);
}

.stage_card_3_best_chapter{
  font-size: 10px;
  line-height: 12px;
  font-weight: 100;
}

.stage_card_3_markText{
  color: rgb(128, 128, 128,0.8);
  /* float: right; */
  font-size: 12px;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  /* background-color: #dfdfdfaf; */
  /* padding-right: 8px; */
}
.stage_card_3_markText_l{
  color: rgba(255, 255, 255, 0.8);
  /* float: right; */
  font-size: 12px;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  /* background-color: #dfdfdfaf; */
  /* padding-right: 8px; */
}


.stage_card_3_right{
  /* width: 62%; */
  height: 100%;
  padding: 0 0px;
  /*background-color: rgb(112, 165, 42);*/
}

.stage_card_3_list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 144px;
  height: 105px;
  margin: 0px auto;
  /*background-color: bisque;*/
}

.stage_card_3_line{
  height: 28px;
  /*background-color: cadetblue;*/
  display: flex;
}
.stage_card_3_line_text{
  font-size: 18px;
  font-weight: 600;
  color: #263238e0;
  width: 60px;
  height: 28px;
  line-height: 32px;
  padding: 0 0px 0 4px ;
  /* display: inline-block; */
}
.stage_card_3_img{
  height: 28px;
  width: 28px;
  /*background-color: chocolate;*/
  /* display: inline-block; */
}

.stage_detail_table_3{
  text-align: center;
  border-collapse: collapse;
}

.stage_detail_table_3 td{

}