.stage_hint {
  display: flex;
  padding: 0px 12px;
  margin-top: 8px;
  justify-content: space-between;
}

.stage_hint div {
  border-radius: 4px;
  padding: 6px 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-color: #fde2e2;
  flex-grow: 1;
  margin: 4px;
  width: 120px;
}

.stage_hint_t5 {
  background-color: #ffeed5;
  color: #e85d06;
}

.stage_hint_t4 {
  background-color: #fef0f0;

  color: #a335ee;
}

.stage_hint_t2 {
  background-color: #f0f9eb;

  color: #00a2a2;
}

.stage_hint_t0 {
  background-color: #f0f9eb;

  color: #e80008;
}

.stage_card_t3 {
  border: 0px solid #ebeef5;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(128, 128, 128, 0.1);
  height: 110px;
  width: 240px;
  max-width: 330px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: flex;
  border-radius: 6px;
  flex-grow: 1;
}

.stage_card_t3_img {
  width: 110px;
  height: 110px;
  /* float: left; */
  /* text-align: right; */
  /* overflow: hidden; */
  opacity: 0.7;
  /* left: -1%; */
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  /* position: absolute; */
  /* margin-left: -1%; */
  margin-left: calc(40% - 160px);
  display: inline-block;
}

.stage_card_t3_img img {
  width: 165px;
  margin-left: -64px;
  margin-top: -28px;
}

.stage_img_secondary {
  height: 25px;
  /* width: 25px; */
  vertical-align: top;
}

.stage_card_t3_table {
  border: 0px;
  border-top: 7px solid;
  border-bottom: 12px solid;
  -o-border-image: linear-gradient(to right, rgba(34, 34, 34, 0), rgba(34, 34, 34, 1));
  border-image: linear-gradient(to right, rgba(34, 34, 34, 0), rgba(34, 34, 34, 1));
  font-size: 16px;
  font-weight: 600;
  height: 94px;
  width: 80%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(6px) grayscale(0.6);
  backdrop-filter: blur(12px) grayscale(0.6);
  border-radius: 0px 4px 4px 0px;
  max-width: 210px;
  float: right;
  margin-left: -100px;
  position: relative;
  left: 40px;
}

.stage_card_t3_table table {
  border-spacing: 0px;
  table-layout: fixed;
}

.stage_table_r {
  padding: 0px;
  height: 32px;
}

.stage_table_c1 {
  width: 75px;
  width: 135px;
  text-align: center;
  padding: 0px;
  /* width: 60px; */
}

.stage_table_c2 {
  width: 32px;
  vertical-align: middle;
  padding: 0px;
}

.stage_table_c3 {
  width: 80px;
  text-align: center;
  padding: 0px;
  /* width: 70px; */
}

.stage_table_c4 {
  width: 40px;
  text-align: center;
  padding: 0px;
  font-size: 13px;
  color: coral;
  /* font-weight: 300; */
}

.stage_table_c4 img {
  width: 24px;
  position: relative;
  top: 8px;
  right: 6px;
}

.stage_card_t2 {
  height: 75px;
  max-width: 540px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 0px solid #0070dd !important;
  border-radius: 8px;
  background: #80808020;
  flex-grow: 2;
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.stage_card_t2_img {
  height: 60px;
  width: 60px;
  padding-top: 8px;
}

.stage_card_t2_img img {
  width: 60px;
}

.card_plus {
  width: 420px;
  height: 240px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: rgb(255 253 253 / 8%) !important;
  border: 0px solid #0070dd !important;
  border-radius: 8px;
  font-size: 18px;
}

.card_plus_title {
  height: 50px;
}

.card_plus_title img {
  height: 45px;
  margin: 5px;
  vertical-align: middle;
}

.card_plus_title div {
  display: inline;
  vertical-align: middle;
}

.card_t2 .el-card__body {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.stage_t2_box {
  height: 60px;
  width: 60px;
  /*  border-right: 1px solid #aaaaaa;*/
}

.card_t2 .el-card__body div:last-child {
  border: none;
}

.card_t2 .el-card__body div img {
  width: 60px;
}

.card_plus_c1 {
  width: 90px;
}

.card_plus_c2 {
  width: 80px;
}

.card_plus_c3 {
  width: 85px;
}

.card_plus_c4 {
  width: 80px;
}

.card_plus_c5 {
  width: 50px;
}

#popup_background {
  z-index: 128;
  /* max-width: 1080px; */
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(96 96 96 / 50%);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}

#popup_content {
  /* max-width: 1080px; */
  display: none;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 1px;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 130;
}

.popup_card {
  display: none;
  margin: 0 auto;
  background-color: var(--popup-card-bg);
  width: 540px;
  /* margin-top:100px; */
  border-radius: 6px;
}

#popup_card_orundum {
  margin-top: -30px;
}

.popup_orundum_c2 div {
  display: inline-block;
}

.popup_orundum_c3 div {
  display: inline-block;
}

.el-card__header * {
  display: inline;
}

.popup_header {
  vertical-align: middle;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  height: 66px;
  align-items: center;
}

.popup_header_text {
  line-height: 66px;
  height: 66px;
  color: #3f51b5;
  width: 210px;
}

.popup_header_penguin {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  color: var(--popup-header-penguin-fg);
  position: relative;
  top: 24px;
  left: 80px;
}

.popup_img {
  /* width: 72px; */
  width: 64px;
  display: inline;
  vertical-align: middle;
  /* padding: 8px; */
}

.popup_table {
  text-align: center;
}

.popup_table_title {
  color: #707379;
  font-weight: 600;
}

.popup_text {
  padding: 0px 8px 6px 8px;
  color: var(--popup-text-fg);
  margin: 0px;
}

.popup_item {
  height: 24px;
  line-height: 24px;
  display: flex;
}

#popup_card_history {
  height: 80vh;
  overflow: scroll;
  width: 555px;
  margin: auto;
  display: none;
}

#popup_card_history .popup_card {
  margin-bottom: 8px;
  display: flex;
  padding: 4px;
  background-color: var(--popup-card-bg);
  align-items: center;
}

.history_actName {
  display: inline-block;
  /* height: 60px; */
  width: 120px;
  color: var(--popup-history-act-name-fg);
  font-size: 20px;
  font-weight: 600;
  padding: 0px 6px;
  text-align: center;
}

.history_actStages {
  display: inline-block;
  width: 405px;
  border-left: 1px solid #808080;
}

.history_stage {
  display: inline-block;
  height: 60px;
  width: 135px;
}

.history_stage div {
  display: inline-block;
  /* margin-top: 6px; */
}

.history_stage_table {
  font-size: 18px;
  font-weight: 600;
  width: 72px;
  border-radius: 6px;
  /* border: 1px solid #000000; */
  vertical-align: top;
  margin: 6px 0px 0px -4px;
}

.sprite_icon_up {
  transform: scale(0.8);
  margin: -10px;
}

.sprite_icon_el {
  transform: scale(0.6);
  margin: -5px;
}

.sprite_icon_small {
  transform: scale(0.6);
  margin: -12px;
  /* margin-top: -8px; */
}

.sprite_store_icon {
  transform: scale(0.8);
  /* margin-top: -80px; */
  margin-left: 10px;
}

.stage_sprite_t3_wrap {
  position: relative;
  opacity: 0.7;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  width: 110px;
  height: 110px;
}

.stage_sprite_t3 {
  position: absolute;
  transform: scale(0.8);
  top: -35px;
  left: -80px;
  /* right: 140px; */
}

.stage_sprite_sec_wrap {
  position: relative;
  width: 25px;
  height: 25px;
}

.stage_sprite_sec {
  position: absolute;
  transform: scale(0.14);
  top: -78px;
  left: -82px;
  /* top: -30px;
  right:  140px; */
}

.stage_sprite_t2_wrap {
  position: relative;
  width: 25px;
  height: 25px;
}

.stage_sprite_t2 {
  position: absolute;
  transform: scale(0.4);
  top: -60px;
  left: -66px;
  /* top: -30px;
  right:  140px; */
}

.stage_sprite_popup_wrap {
  width: 86px;
  height: 66px;
}

.stage_sprite_popup {
  position: absolute;
  transform: scale(0.32);
  top: -56px;
  left: -56px;
  margin: 2px;
  /* top: -30px;
  right:  140px; */
}

.stage_sprite_closed_wrap {
  position: relative;
  width: 60px;
  height: 60px;
}

.stage_sprite_closed {
  position: absolute;
  transform: scale(0.3);
  top: -60px;
  left: -66px;
  /* top: -30px;
  right:  140px; */
}

.store_sprite_perm_wrap {
  position: relative;
  width: 60px;
  height: 60px;
}

.store_sprite_perm {
  position: absolute;
  transform: scale(0.3);
  top: -60px;
  left: -50px;
  /* top: -30px;
  right:  140px; */
}

.store_sprite_act_wrap {
  position: relative;
  width: 60px;
  height: 60px;
}

.store_sprite_act {
  position: absolute;
  transform: scale(0.5);
  top: -40px;
  left: -40px;
  /* top: -30px;
  right:  140px; */
}

.item_sprite_value_wrap {
  position: relative;
  width: 54px;
  height: 54px;
}

.item_sprite_value {
  position: absolute;
  transform: scale(0.3);
  top: -66px;
  left: -66px;
  /* top: -30px;
  right:  140px; */
}
