.survey_page {
  max-width: 1080px;
  height: auto;
  background: white;
  margin: auto;
  box-shadow: 0px 0px 2px 2px rgb(160, 160, 160);
}

.survey_title {
  height: 70px;
  line-height: 70px;
  margin: auto;

  /* margin-bottom: 10px; */
  width: 90%;
  text-align: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
  font-weight: 900;
  /* border: 1px red solid; */
}

.survey_tip_box {
  margin: auto;
  margin-bottom: 10px;
  width: 85%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 1px red solid; */
}

.survey_tip {
  text-align: center;
  margin: auto;
  line-height: 32px;
  width: 154px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgb(160, 160, 160);
}

.survey_tip a {
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.char_form {
  margin: auto;
  width: 94%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.char_card {
  margin: 8px;
  width: 60px;
  height: 130px;
  border: 1px black solid;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(rgb(255, 230, 40), rgba(255, 195, 56), rgb(255, 188, 93));
  box-shadow: 1px 1px 1px rgb(108, 108, 108);
}



.image_avatar {
  transform: scale(0.3);
  margin: -60px;
  /* margin-top: -30px; */
  border-radius: 50%;
  /* border: 1px solid gray; */
  /* border: 1px red solid; */
}

.avatar_back{
  /* margin: -60px; */
  /* margin-top:-60px ; */
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid gray;
  background: white;
}

.char_card_index {
  height: 22px;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}

.operRate {
  margin-top: 6px;
}

.survey_button_box {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px red solid; */
}

.survey_button_title {
  text-align: center;
  /* margin: auto; */
  margin-top: 10px;
  line-height: 24px;
  width: 50px;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgb(114, 113, 113);
  background: #ffffff;
  color: rgb(0, 0, 0);
  /* border: 1px red solid; */
}

.survey_button {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 24px;

  height: 24px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgb(114, 113, 113);
  background: #0077ff;
  color: rgb(255, 255, 255);
}





.input_operBox {
  display: block;
  position: absolute;
  z-index: 50;
  top: 60px;
  left: 25px;
  width: 400px;
  height: 24px;
  text-align: left;
  border: none;
  border-bottom: 2px rgb(0, 132, 255) solid;
  outline: none;
}

.survey_popup_foot {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 160px;
  height: 30px;
  /* border: 1px red solid; */
  display: flex;
}

.survey_popup_button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  font-weight: 600;
  text-align: center;
}

.survey_popup_button:hover {
  background: rgb(241, 241, 241);
}
