

.selected_background {
    background: rgb(97, 173, 255);
    /* color: #3888FF; */
}

.selected_color {
    /* background: rgb(97, 173, 255); */
    color: #cf31ff;
    color: #ffffff;
    background-color: #6795ff !important;
    box-shadow: 1px 1px 2px #cccccc !important;

}

.setup_wrap{
    max-width: 95%;
    margin: auto;
    background: #F7F9FA;
    border-radius: 6px;
    transition: all 0.4s;
    overflow: hidden;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 6px;
}
.selector_wrap{
    max-width: 95%;
    margin: auto;
    background: #F7F9FA;
    border-radius: 6px;
    transition: all 0.4s;
    overflow: hidden;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 6px;
}
.setup_bar {
    width: 98%;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    /* border-bottom: 1px rgb(180, 180, 180) solid; */
    /* margin: auto; */
    padding: 2px;
}

.btn_setup {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    background-color: #e8f3fd;
    cursor: pointer;
    border-radius: 4px;
    /* vertical-align: middle; */
    box-shadow: 0 1px 1px 1px rgb(197, 197, 197);
    padding: 2px;
    
    margin: 4px;
}




.switch_wrap {
    max-width: 95%;
    margin: auto;
    background: #F7F9FA;
    border-radius: 6px;
    transition: all 0.4s;
    overflow: hidden;
    height: 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.btn_set_select {
    background: #6795ff;
    color: white;
}


.switch_bar {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border-bottom: 1px rgb(180, 180, 180) solid; */
    /* margin: auto; */
    padding: 2px;
}


.btn_switch {
    background-color: #eeeeee;
    margin: 6px;
    width: 108px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 4px #cccccc;
}

.btn_switch_samll {
    margin: 6px;
    width: 110px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


.switch_title {
    float: left;
    margin: 6px;
    width: 96px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    /* background: rgb(199, 226, 255); */
    border-radius: 2px;
}

.switch_btns_wrap{
    margin-left: 108px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.tool_card {
    margin: 8px;
}


.input_upload_wrap {
    position: relative;
}

.input_upload {
    width: 100%;
    height: 100%;
    outline: none;
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
}


.upload_file_text {
  width: 100%;
  overflow: hidden;
}

