.survey_rank_page {
  max-width: 1280px;
  height: auto;
  background: white;
  margin: auto;
  box-shadow: 0px 0px 2px 2px rgb(160, 160, 160);
  font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑, STHeiti, MingLiu, serif;
}

.survey_title {
  height: 100px;
  line-height: 100px;
  margin: auto;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  /* border: 1px red solid; */
}

.survey_tip_box {
  margin: auto;
  margin-bottom: 10px;
  width: 85%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 1px red solid; */
}

.survey_tip {
  text-align: center;
  margin: auto;
  line-height: 32px;
  width: 154px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgb(160, 160, 160);
}

.survey_tip a {
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.rank_wrap {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rank_card {
  height: 90px;
  width: 550px;
  display: flex;
  border: 1px rgb(211, 211, 211) solid;
  margin: auto;
  margin-top: 10px;
  
}

.rank_avatar_wrap {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px rgb(231, 231, 231) solid;
  margin: 5px;
  overflow: hidden;
}

.rank_avatar {
  transform: scale(0.44);
  position: relative;
  top: -51px;
  left: -51px;
  border-radius: 50%;
}

.survey_result {
  text-align: center;
  font-weight: 900;
}

.survey_result_titit {
  height: 50px;
  line-height: 50px;
  width: 65px;
  /* border: 1px rgb(30, 255, 0) solid; */
}

.survey_result_content {
  height: 40px;
  line-height: 40px;
 
  /* border: 1px rgb(30, 255, 0) solid; */
}

.rank_image_elite_wrap{
  height: 50px;
  width: 50px;
}

.rank_sprite_elite {
  transform: scale(0.2);
  position: relative;
  top: -80px;
  left: -90px;
}

.rank_image_skill_wrap{
  height: 50px;
  width: 50px;
}

.rank_sprite_skill {
  transform: scale(0.39);
  position: relative;
  top: -36px;
  left: -32px;
  /* border: 1px red solid; */
}