.survey_index_page {
  background: white;
  overflow: auto;
  margin: auto;
  /* border: 1px rgb(0, 0, 0) solid; */
  scrollbar-width: none;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  /* color: black; */
}

.survey_index_header {
  width: 96%;
  margin: auto;
  height: 300px;
  background: url("https://ak.hycdn.cn/announce/images/20230530/274798612f2e2bbc09df027ec42a77f2.jpg");
  background-size: cover;
  /* background-position: center; */
  padding-top: 1px;
}

.survey_index_login_wrap {
  margin-top: 250px;
  height: 50px;
  width: 100%;
  background: rgb(136, 136, 136, 0.5);
  /* border: 1px red solid; */
  display: flex;
  justify-content: flex-end;
}

.survey_index_login_text {
  color: white;
  font-size: 30px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.survey_nav_page {
  width: auto;
  display: flex;
  justify-content: flex-end;

}

.survey_top_right_btn {
  min-width: 60px;
  color: white;
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
}

.login_card {
  width: 450px;
  height: auto;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  /* padding: 10px; */
}

/*.login_input_wrap {*/
/*  display: flex;*/
/*  margin: 20px auto 20px;*/
/*  height: 32px;*/
/*  line-height: 32px;*/
/*  font-size: 18px;*/
/*  justify-content: center;*/
/*}*/

.login_input_wrap{
  margin: auto;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 400px;
  font-weight: 600;
}

.login_form{
  display: flex;
  padding: 8px 0 8px 20px;
}

.login_form_divider{
  border-top: 1px solid #dcdcdc;
}


.input_label{
   line-height: 32px;
   min-width: 60px;
}

.login_input {
  width: 200px;
  border: 0;
  outline: none;
  /*border-bottom: 1px black solid;*/
  display: block;
  height: 30px;
  line-height: 30px;
  /*font-size: 18px;*/
  /*margin: 0 0 0 4px;*/
}

.login_btn{
  width: 170px;
  line-height: 22px;
  margin: 8px 20px 8px 0;
  border-radius: 8px;
}

.login_btn_tip{
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.login_btn_wrap{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.login_tip_wrap {
  margin: 28px 0 0 0 ;
}

.login_tip {
  margin:8px;
  line-height: 28px;
}

.login_tip_warn {
  color: #d72a2a;
  font-size: 18px;
  font-weight: 600;
}

.login_tip_info {
  color: #26a3ef;
  font-size: 18px;
  font-weight: 600;
}

.user_page_wrap{
  position: relative;
}

.user_name {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  padding:0 4px 0 32px;
}

.survey_user_menu {
  color: white;
  position: absolute;
  top: 38px;
  right: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
  z-index:3000;
}

.user_page_wrap:hover .survey_user_menu{
  width:100px;
  height: 120px;
  background-color: #262f3e;
}

.survey_user_menu_item{
  display: flex;
  height: 28px;
  line-height: 28px;
  margin: 4px;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.survey_user_menu_item:hover{
  background-color:grey;

}

.logout_text {
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.logout_btn_wrap {
  display: flex;
  justify-content: flex-end;
}

.survey_index_content {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.index_card_wrap {
  width: 48%;
  box-shadow: 0px 0px 1px 1px rgb(211, 211, 211);
  padding: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
}

.index_card_wrap_null {
  width: 48%;
  margin: 4px;
}

.index_card_title {
  /* margin-top: 50px; */
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 18px;
}

@media screen and (max-width: 1080px) {
  .index_card_wrap {
    width: 98%;
  }
}

.card_content {
  /* width: 90%; */
  margin: auto;
}

.card_content p {
  margin-top: 6px;
}

.guild_question {
  font-weight: 600;
  margin-bottom: 6px;
}
