.score_page {
    background: white;
    max-width: 1280px;
    margin: auto;
    font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑, STHeiti, MingLiu, sans-serif;
}


.image_rarity {
    width: 18px;
}


.score_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    /* border-left: 1px rgb(200, 200, 200) solid; */
}


.score_card {
    display: flex;
    width: 460px;
    /* height: 190px; */
    /* border: 1px rgb(223, 223, 223) solid; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 1);
    margin: 6px 4px;
    /* margin: 14px; */
}


.score_wrap_title_6 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(255, 98, 0, 0.5));

}

.score_wrap_title_5 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(255, 221, 0, 0.5));

}

.score_wrap_title_4 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(179, 0, 255, 0.5));

}

.score_wrap_title_3 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(0, 166, 255, 0.5));

}

.score_wrap_title_2 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(109, 109, 109, 0.5));

}


.score_wrap_title_1 {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.5));
}


.score_card_header{
    display: flex;
    justify-self: flex-start;
}



.score_left_wrap{
    /* height: 260px; */
    width: 140px;
    margin: 8px 0px 0px 16px;
    /* border: 1px rgb(255, 0, 0) solid; */
 }

 .score_right_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.score_portrait_wrap{
   height: 216px;
   width: 108px;
   margin: auto;
   /* border: 1px rgb(255, 0, 0) solid; */
   margin-top: 4px;
   background-color:beige;
   box-shadow: 6px 6px 0px #808080;
}



.score_portrait {
    transform: scale(0.6);
    /* border-radius: 50%; */
    position: relative;
    top: -73px;
    left: -37px;
    /* border: 1px rgb(255, 0, 0) solid; */
}

.score_char_name {
    height: 32px;
    color: rgb(95, 95, 95);
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); */
    /* padding-left: 20px; */
    text-align: center;
    margin-top: 4px;
}

.char_description {
    height: 20px;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); */
    padding-left: 2px;
    padding-top: 2px;
}

.score_bar_wrap{
    margin-left: 20px;
}

.score_bar {
    font-size: 18px;
    font-weight: 700;
    margin: 12px auto;
    /* width: 348px; */
    display: flex;
    line-height: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image_score {
    width: 22px;
    height: 22px;
    margin: 2px;
    margin-left: 16px;
}


.score_name {
    height: 24px;
    line-height: 24px;
    font-weight: 500;
    font-style: italic;
}