

.score_page {
    background: white;
    /* height: 100%; */
    /* overflow: auto; */
    max-width: 1280px;
    margin: auto;
}

.image_score {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.image_rarity{
    width: 18px;
}

.score_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.char_card {
    display: flex;
    width: 480px;
    /* height: 190px; */
    border: 1px rgb(223, 223, 223) solid;
    margin: 14px;
    border-radius: 6px;
}

.score_wrap {
    border-left: 1px rgb(200, 200, 200) solid;
}

.score_bar {
    font-size: 22px;
    font-weight: 700;
    margin: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.score_name {
    height: 28px;
    line-height: 28px;
}

.score_avatar_wrap {
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 4px;
    overflow: hidden;
    height: 144px;
    width: 144px;
    margin-top: 30px;
    /* background: rgba(255, 81, 0, 0.5); */
    /* box-shadow: 0 0 1px 1px rgb(150, 150, 150); */
}

.score_avatar {
    transform: scale(0.8);
    border-radius: 50%;
    position: relative;
    top: -18px;
    left: -18px;
}

.char_name {
    /* margin-top: 180px; */
    height: 30px;
    color: rgb(255, 136, 0);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}