.survey_character_page {
  max-width: 1280px;
  margin: auto;
  margin-top: 10px;
  font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑, STHeiti, MingLiu, serif;
}

.char_forms {
  margin: auto;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.4s;
}


.char_card {
  /* width: 600px; */
  display: flex;
  border-radius: 4px;
  margin: 4px;
  box-shadow: 0 0 1px 1px rgb(192, 192, 192);
  width: 570px;
  /* height: 210px; */ 
  transition: all 0.2s;
}

.char_card_simple{
  max-width: 110px;
  height: 150px;
  overflow: hidden;
}

.notown{
  filter:grayscale(100%)
}




.card_title {
  font-weight: 600;
  font-size: 16px;
  border-left: 1px rgb(197, 197, 197) solid;
  height: 30px;
  line-height: 30px;
  /* margin-bottom: -6px; */
}

.card_option_left {
  margin:5px ;
}


.card_option_top_left {
  display: flex;
}

.image_avatar {
  height: 100px;
  width: 100px;
  border-radius: 14px;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid #a5a5a5;
  filter:grayscale(0%)
}

.char_name {
  text-align: center;
  margin-top: 10px;
  /* margin-left:10px; */
  width: 100px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  font-weight: 700;
  background: rgb(230, 230, 230);
  color: rgb(48, 86, 255);
}

.potential_wrap{
  display: flex;
  flex-wrap: wrap;
  width: 155px;
  height: 100px;
  margin-top: 20px;

}



.image_potential{
  width: 40px;
  height: 40px;
  margin: 5px;

  /* border: 1px solid red; */
}

.elite_wrap{
  display: flex;
  margin-top: 10px;
}


.image_elite{
  height: 50px;
  width: 72px;
  /* border: 1px solid red; */
  /* margin-left: 6px; */
  margin-right: 10px;
  border-radius: 6px;
}

.card_option_right{
  margin-top: 5px;
  display: flex;
}

.skill_wrap{
  margin-right: 10px;
}

.image_skill{
  width: 44px;
  height: 44px;
  border: 1px red solid;
}


.switch_select{
  background: rgba(0, 102, 255, 0.2);
}

.image_mod{
  width: 44px;
  height: 44px;
  line-height: 44px;
  /* border: 1px red solid; */
}


.image_rank {
  margin: auto;
  margin-top: 6px;
  margin-bottom: 4px;
  width: 44px;
  height: 40px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}









::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.sprite_skill {
  transform: scale(0.18);
  position: relative;
  top: -94px;
  left: -96px;
}

.sprite_skill_icon {
  transform: scale(0.35);
  position: relative;
  top: -42px;
  left: -42px;
  
}

.sprite_elite {
  transform: scale(0.30,0.26);
  position: relative;
  top: -80px;
  left: -92px;
}

.sprite_mod {
  transform: scale(0.16);
  position: relative;
  top: -98px;
  left: -97px;
}

.sprite_avatar {
  transform: scale(0.56);
  /* border: 1px solid red; */
  border-radius: 14px;
  position: relative;
  top: -40px;
  left: -40px;
}

.sprite_potential {
  transform: scale(0.16);
  position: relative;
  top: -130px;
  left: -130px;
}

/* 填写说明 */


.fill_course_wrap {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  /* border: 1px rgb(132, 120, 226) solid; */
}

.fill_course_title {
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 20px;
}

.fill_course_tip_btn {
  display: flex;
  /* border: 1px rgb(132, 120, 226) solid; */
}

.fill_course_tip_btn :hover {
  cursor: pointer;
}

.fill_course_tip_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px grey solid;
}

.fill_course_tip_wrap {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  /* border: 1px rgb(132, 120, 226) solid; */
  font-weight: 600;
  margin-bottom: 20px;
}

.fill_course_tip {
  padding: 2px;
  display: flex;
}

.fill_course_tip_switch {
  margin: 4px;
  /* margin-top: -10px; */
}

