.survey_charData_page {
  max-width: 1080px;
  background: white;
  overflow: auto;
  margin: auto;
  border: 4px rgb(132, 120, 226) solid;
}

.survey_charData_header {
  position: relative;
  max-width: 920px;
  margin: auto;
  margin-top: 2px;
  height: 30px;
}

.login_wrap {
  margin: 2px;
  position: absolute;
  right: 20px;
  font-weight: 600;
  display: flex;
  /* border-bottom:1px 2 ; */
  box-shadow: 0 1px 1px -1px #5e5e5e;
}

.btn_survey {
  margin: 6px;
  min-width: 80px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
  background: rgb(79, 143, 255);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px grey;
}

.login_input {
  width: 150px;
  border: 0;
  outline: none;
  border-bottom: 1px black solid;
  margin: 6px;
  font-size: 18px;
  margin-bottom: 0px;
}

.user_wrap {
  margin: 2px;
  position: absolute;
  right: 20px;
  font-weight: 600;
  display: flex;
  /* border-bottom:1px 2 ; */
  box-shadow: 0 1px 1px -1px #5e5e5e;
}

.user_name {
  margin: 6px;
  font-size: 18px;
}

.user_id {
  margin: 10px;
  font-size: 12px;
}

.setup_wrap {
  max-width: 90%;
  margin: auto;
  margin-top: 8px;
  /* display: flex; */
  /* border: 1px red solid; */
}

.setup_title {
  margin: 6px;
  margin-right: 20px;
  margin-left: 2px;
  min-width: 70px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
  background: rgb(24, 175, 75);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px grey;
}

.setup_bar {
  width: 98%;
  margin: 1%;
  display: flex;
  /* height: 30px; */
  /* border: 1px red solid; */
  border-bottom: 1px rgb(191, 191, 191) solid;
}

.char_forms {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.from_card {
  width: 520px;
  display: flex;
  margin: auto;
}

.from_title_wrap {
  width: 100%;
  display: flex;
  margin: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.from_title {
  font-weight: 600;
  font-size: 16px;
  border: 1px rgb(0, 0, 0) solid;
  height: 30px;
  line-height: 30px;
}

.card_option {
  height: 148px;
  border: 1px rgb(0, 0, 0) solid;
}

.ownAndPotential_wrap {
  margin-left: 8px;
  margin-top: 8px;
  display: flex;
  height: 30px;
}

.card_option_switch {
  margin-top: 6px;
}

.card_option_check {
  /* margin: 6px; */
  margin: auto;
  margin-top: 10px;
  width: 38px;
  height: 34px;
  line-height: 24px;
  padding: 2px;
  /* border: 1px red solid; */
  /* background: rgb(203, 203, 203); */
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px rgb(86, 86, 86);
  cursor: pointer;
}

.check_selected {
  background: rgb(0, 170, 255);
  color: white;
}

.dropDown {
  margin: auto;
  margin-top: -4px;
  width: 38px;
  height: 20px;
  line-height: 24px;
  padding: 2px;
  /* border: 1px red solid; */
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  /* box-shadow: 0px 1px 1px 1px rgb(188, 187, 187); */
  cursor: pointer;
}

.dropDown_menu {
  /* border: 1px red solid; */
  position: relative;
}

.dropDown_content {
  display: none;
  margin-top: -30px;
  position: absolute;
  z-index: 20;
  top: 35px;
  left: -30px;
  width: 140px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 1px 1px rgb(158, 158, 158);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dropDown_content_item {
  margin: 8px;
  width: 46px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
  /* border: 1px red solid; */
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px rgb(188, 187, 187);
  cursor: pointer;
}

.char_forms_own {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.char_forms_own_title {
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px rgb(174, 174, 174) solid;
}

.from_card_own {
  width: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  border: 1px rgb(0, 0, 0) solid;
  height: 300px;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.card_option_own {
  width: 78px;
  height: 78px;
  margin: 6px;
  /* border: 1px rgb(0, 0, 0) solid; */
}

.card_option_switch_own {
  margin: auto;
}

.sprite_skill {
  transform: scale(0.2);
  margin: -99px;
  /* margin-top:0px ; */
}

.sprite_phase {
  transform: scale(0.19);
  margin: -100px;
  /* margin-top:0px ; */
}

.sprite_mod {
  transform: scale(0.16);
  margin: -100px;
  /* margin-top:0px ; */
}

.sprite_avatar {
  transform: scale(0.48);
  margin: -42px;
  margin-top: -40px;
  border-radius: 50%;
  border: 1px solid gray;
  /* border: 1px red solid; */
}

.sprite_avatar_own {
  transform: scale(0.42);
  margin: -52px;
  border-radius: 50%;
}

.sprite_avatar_own_wrap {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow: hidden;
}

.own_wrap_back {
}

.sprite_potential {
  transform: scale(0.18);
  margin: -100px;
}
