.survey_charData_page {
  width: 100%;
  background: white;
  overflow: auto;
  margin: auto;
  /* border: 4px rgb(132, 120, 226) solid; */
}

.survey_charData_header {
  width: 100%;
  margin: auto;
  margin-top: 2px;
  height: 40px;
  border-bottom: 1px rgb(210, 210, 210) solid;
  display: flex;
}



.nav_item{
  min-width: 50px;
  /* border: 1px red solid; */
  text-align: center;
  line-height: 32px;
  height: 32px;
  margin: 4px;
  font-weight: 700;
}

.login_wrap {
  margin: 2px;
  position: absolute;
  right: 20px;
  font-weight: 600;
  display: flex;
}



.login_input {
  width: 150px;
  border: 0;
  outline: none;
  border-bottom: 1px black solid;
  margin: 6px;
  font-size: 18px;
  margin-bottom: 0px;
}

.user_wrap {
  margin: 2px;
  position: absolute;
  right: 20px;
  font-weight: 600;
  display: flex;
  /* border: 1px red solid; */
}

.user_name {
  font-size: 18px;
  line-height: 40px;
  height: 40;
}

.user_id {
  margin: 10px;
  font-size: 12px;
}

.setup_wrap {
  max-width: 95%;
  margin: auto;
}

.setup_bar {
  width: 100%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px rgb(191, 191, 191) solid;
}


.setup_title {
  margin: 6px;
  min-width: 80px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
  background: rgb(52, 147, 255);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px rgb(223, 223, 223);
}

.btn_survey {
  margin: 6px;
  min-width: 80px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
  /* background: rgb(79, 143, 255); */
  font-weight: 600;
  box-shadow: 0 0 1px 1px rgb(223, 223, 223);
}

.btn_select {
  background: rgb(165, 208, 255);
}


.char_forms {
  margin: auto;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.from_card {
  width: 450px;
  display: flex;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 0 1px 1px rgb(192, 192, 192);
}

.card_title {
  font-weight: 600;
  font-size: 16px;
  border-left: 1px rgb(197, 197, 197) solid;
  height: 30px;
  line-height: 30px;
  /* margin-bottom: -6px; */
}

.card_option {
  border-left: 1px rgb(197, 197, 197) solid;
}



.card_option_switch {
  margin:auto;
  margin-top: 6px;
}

.card_option_image {
  margin: auto;
  margin-top: 6px;
  margin-bottom:4px ;
  width: 40px;
  height: 36px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px rgb(86, 86, 86);
  cursor: pointer;
  /* border: 1px red solid; */
}

.switch_selected{
  background: #0abde3;
}

.card_option_image_noshadow {
  margin: auto;
  /* margin-top: 10px; */
  width: 40px;
  height: 34px;
  line-height: 24px;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.card_option_title {
  margin: auto;
  /* margin-top: 10px; */
  width: auto;
  height: 38px;
  line-height: 38px;
  text-align: center;
}



.dropDown {
  margin: auto;
  margin-top: 10px;
  width: 38px;
  height: 38px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.dropDown_menu {
  /* border: 1px red solid; */
  position: relative;
}

.dropDown_content {
  display: none;
  position: absolute;
  z-index: 2000;
  top: 0px;
  width: auto;
  margin: auto;
  background: rgb(255, 255, 255);
  border: 1px rgb(147, 147, 147) solid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dropDown_content_item {
  margin: 4px;
  width: 46px;
  height: 46px;
  line-height: 24px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.sprite_skill {
  transform: scale(0.2);
  margin: -99px;
  /* margin-top:0px ; */
}

.sprite_skill_icon {
  transform: scale(0.3);
  margin: -46px;
  border: 1px red solid;
}

.sprite_phase {
  transform: scale(0.19);
  margin: -100px;
  /* margin-top:0px ; */
}

.sprite_mod {
  transform: scale(0.16);
  margin: -100px;
  /* margin-top:0px ; */
}

.sprite_avatar {
  transform: scale(0.48);
  margin: -44px;
  /* margin-top: -40px; */
  border-radius: 50%;
  border: 1px solid gray;
  /* border: 1px red solid; */
}

.sprite_avatar_own {
  transform: scale(0.42);
  margin: -52px;
  border-radius: 50%;
}

.sprite_avatar_own_wrap {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow: hidden;
}



.sprite_potential {
  transform: scale(0.18);
  margin: -100px;
}

/* 填写说明 */


.fill_course_wrap {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  /* border: 1px rgb(132, 120, 226) solid; */
}

.fill_course_title {
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 20px;
}

.fill_course_tip_btn {
  display: flex;
  /* border: 1px rgb(132, 120, 226) solid; */
}

.fill_course_tip_btn :hover {
  cursor: pointer;
}

.fill_course_tip_icon {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px grey solid;
}

.fill_course_tip_wrap {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  /* border: 1px rgb(132, 120, 226) solid; */
  font-weight: 600;
  margin-bottom: 20px;
}

.fill_course_tip {
  width: 496px;
  height: 44px;
  line-height: 32px;
  padding: 2px;
  display: flex;
}

.fill_course_tip_switch {
  margin: 4px;
  /* margin-top: -10px; */
}

.fill_course_tip_image {
  margin: 4px;
  margin-top: -10px;
}