.survey_index_page {
  background: white;
  overflow: auto;
  margin: auto;
  /* border: 1px rgb(0, 0, 0) solid; */
  scrollbar-width: none;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  /* color: black; */
}

.survey_index_header {
  width: 96%;
  margin: auto;
  height: 300px;
  background: url("https://ak.hycdn.cn/announce/images/20230530/274798612f2e2bbc09df027ec42a77f2.jpg");
  background-size: cover;
  /* background-position: center; */
  padding-top: 1px;
}

.survey_index_login_wrap {
  margin-top: 250px;
  height: 50px;
  width: 100%;
  background: rgb(136, 136, 136, 0.5);
  /* border: 1px red solid; */
  display: flex;
  justify-content: flex-end;
}

.survey_index_login_text {
  color: white;
  font-size: 30px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
}

.login_card {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  /* padding: 10px; */
}

.login_input {
  width: 300px;
  border: 0;
  outline: none;
  border-bottom: 1px black solid;
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.user_name {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  color: white;
}

.btn_login {
  width: 100px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 0 1px 1px rgb(200, 200, 200);
  cursor: pointer;
  margin: auto;
}

.logout_text {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.logout_btn_wrap {
  display: flex;
  justify-content: flex-end;
}

.survey_index_aside {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.survey_index_menu {
  min-width: 60px;
  font-size: 20px;
  text-align: right;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px red solid; */
  box-sizing: border-box;
}

.menu_selected {
  border-right: 4px solid rgb(0, 89, 255);
  color: rgb(0, 89, 255);
}

.survey_index_content {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.index_card_wrap {
  width: 47%;
  box-shadow: 0px 0px 1px 1px rgb(211, 211, 211);
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1%;
}

.index_card_wrap_null {
  width: 47%;
  margin: 1%;
}

.index_card_title {
  /* margin-top: 50px; */
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 18px;
}

@media screen and (max-width: 1080px) {
  .index_card_wrap {
    width: 98%;
  }
}

.card_content {
  /* width: 90%; */
  margin: auto;
}

.card_content p {
  margin-top: 6px;
}

.guild_question {
  font-weight: 600;
  margin-bottom: 6px;
}
