.href {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btn_survey {
    min-width: 80px;
    height: 20px;
    padding: 3px;
    line-height: 20px;
    text-align: center;
    /* background: rgb(79, 143, 255); */
    font-weight: 600;
    box-shadow: 0 0 1px 1px rgb(200, 200, 200);
    cursor: pointer;
}

.selected_color {
    /* background: rgb(97, 173, 255); */
    color: #cf31ff;
}

.selected_background {
    background: rgb(97, 173, 255);
    /* color: #3888FF; */
}

.setup_wrap {
    max-width: 95%;
    margin: auto;
    background: #F7F9FA;
    border-radius: 6px;
    transition: all 0.4s;
    overflow: hidden;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.setup_bar {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border-bottom: 1px rgb(180, 180, 180) solid; */
    /* margin: auto; */
    padding: 2px;
}



.btn_set {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    background-color: #e8f3fd;
    cursor: pointer;
    border-radius: 4px;
    /* vertical-align: middle; */
    box-shadow: 0 1px 1px 1px rgb(197, 197, 197);
    padding: 2px;
    margin-right: 10px;
}



@media (max-width: 1080px) {
    .aside-btn {
        display: none;
    }

}

.btn_set_select {
    background: #5096ff;
    color: white;
}


.switch_set {
    margin: 6px;
    width: 110px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.switch_set_samll {
    margin: 6px;
    width: 110px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


.setup_title {
    margin: 6px;
    width: 110px;
    height: 20px;
    padding: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    background: rgb(230, 230, 230);
}

.card {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.tool_card {
    margin: 8px;
}


.input_upload_wrap {
    position: relative;
}

.input_upload {
    width: 100%;
    height: 100%;
    outline: none;
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
}


.upload_file_text {
  width: 100%;
  overflow: hidden;
}

