.survey_index_page {
  max-width: 1080px;
  background: white;
  overflow: auto;
  margin: auto;
  border: 1px rgb(0, 0, 0) solid;
  scrollbar-width: none;
  /* height: 100vh; */
  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.survey_index_header {
  margin: 14px;
  font-size: 24px;
  font-weight: 600;
}

.survey_index_content {
  width: 100%;
}

.login_card_wrap {
  width: 330px;
  /* height: 140px; */
  /* border: 1px red solid; */
  box-shadow: 0px 1px 1px 1px rgb(211, 211, 211);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.login_card {
  width: 330px;
  height: 130px;
  /* border: 1px red solid; */
  border-radius: 10px;
}

.login_card_tips {
  width: 100%;
  font-size: 14px;
  color: rgb(158, 157, 157);
  font-weight: 600;
}

.login_card_tips_title {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.login_card_input_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.login_card_input {
  width: 290px;
  border: 0;
  /* outline: 1px blue solid; */
  border: 1px rgb(196, 196, 196) solid;
  border-radius: 4px;
  font-size: 18px;
}

.login_card_btn_wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: auto;
}

.login_card_btn {
  margin: 6px;
  /* margin-right:30px; */
  min-width: 60px;
  height: 18px;
  padding: 4px;
  line-height: 18px;
  text-align: center;
  background: rgb(13,135,228);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px grey;
}

.login_card_userName {
  height: 24px;
  line-height: 24px;
}

.logout_btn {
  margin-left: 40px;
  min-width: 60px;
  height: 18px;
  padding: 4px;
  line-height: 18px;
  text-align: center;
  background: rgb(13,135,228);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px grey;
}

.login_card_guild {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  /* border: 1px red solid; */
}

.login_card_guild_question {
  width: 98%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 20px;
  /* border: 1px red solid; */
}

.login_card_guild_answer {
  width: 98%;
  margin: auto;
  /* border: 1px red solid; */
}

.login_card_link {
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  margin: auto;
  margin-top: 40px;
  width: 220px;
  padding: 4px;
  text-align: center;
  background: rgb(79, 143, 255);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 1px grey;
}
