.survey_rank_page {
  /* max-width: 1280px; */
  height: auto;
  background: white;
  margin: auto;
  /* box-shadow: 0px 0px 2px 2px rgb(160, 160, 160); */
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
}


.rank_character_name{
  text-align: center;
}

.rank_avatar_wrap {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px rgb(231, 231, 231) solid;
  margin: 5px;
  overflow: hidden;
}

.rank_avatar {
  transform: scale(0.46);
  position: relative;
  top: -51px;
  left: -50px;
  border-radius: 50%;
}


.rank_image_skill_wrap {
  height: 60px;
  width: 100px;
}

.rank_sprite_skill {
  transform: scale(0.39);
  position: relative;
  top: -36px;
  left: -32px;
  /* border: 1px red solid; */
}

.rank_table{
  text-align: center;
}

