#gachaCalculate {
  @media screen and (max-width: 600px) {

    .collapse-wrap {
      width: 350px;
    }

    .el-radio-button__inner {
      width: 110px;
      font-size: 10px;
      padding: 8px;
    }

    .el-switch{
      height: 18px;
      line-height: 16px;
    }

    .el-switch > span{
      height: 18px;
    }

    .el-collapse-item__content {
      padding-bottom: 4px;
    }

    .el-collapse-item {
      border-radius: 6px;
      overflow: hidden;
    }

    .el-collapse-item__header {
      border-bottom: 1px solid #f0f0f0;
    }

    .el-checkbox-button__inner {
      padding: 2px;
      border: var(--el-border);
      border-radius: 6px;
    }

    .result-box {
      position: static;
      height: auto;
    }

    .gachaResourcesChartPie {
      width: 170px;
      height: 150px
    }

    /*折叠面板的header的标志*/
    .collapse-title-icon {
      padding: 8px;
      margin: 8px;
      border-radius: 4px;
    }

    /*折叠面板的header的字体样式*/
    .collapse-title-font {
      font-size: 16px;
      font-weight: 600;
    }

    //抽卡资源统计表格样式
    .gacha-resources-table {
      width: 170px;
      font-size: 12px;
      line-height: 12px;
    }

    .gacha-resources-table-title {
      width: 70px;
    }

    .gacha-resources-table-quantity {
      width: 60px;
    }


    //攒抽计算结果的四项氪金资源的条状容器
    .resources-result-bar {
      margin-top: 6px;
      padding: 4px 8px;
      border-top: 1px solid #f0f0f0;
    }

    //攒抽计算结果的四项氪金资源的条状容器内的文字样式
    .resources-result-bar > span {
      font-size: 12px;
      padding-left: 8px;
      width: 60px;
    }

    //雪碧图的容器，容器相对定位，内部雪碧图绝对定位，通过这种方式让图片展示的大小和外容器大小一致
    .image-sprite {
      width: 32px;
      height: 32px;
    }

    //雪碧图的缩放
    .image-sprite > div {
      transform: scale(calc(32 / 44));
      top: calc((-44px + 32px) / 2);
      left: calc((-44px + 32px) / 2);
    }


    .switch-wrap {
      margin: 4px 0;
      display: flex;
      align-items: center;
    }

    .switch-wrap > span {
      font-size: 12px;
      padding: 0 12px;
    }

    /*折叠面板内的副标题*/
    .collapse-content-subheading {
      height: 24px;
      width: 100%;
      line-height: 24px;
      font-size: 12px;
      padding: 0 24px;

    }

    /*折叠面板内的副标题的图标*/
    .collapse-content-subheading > span {
      border-left: 8px solid transparent;
      border-top: 12px solid rgb(255, 255, 255);
      border-bottom: 2px solid transparent;
      border-right: 8px solid transparent;
      top: 6px;
    }

    .exist-resources-input-wrap{
      flex-wrap: wrap;
    }

    .exist-resources-input {
      justify-content: center;
    }

    .exist-resources-input input {
      width: 126px;
      height: 22px;
      font-size: 16px;
    }

    .resources-line {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: bolder;
      padding: 4px;
      margin: 4px 0;
    }


    .resources-line-label {
      width: 70px;
    }

    .resources-line-content {
      display: flex;
      width: 150px;
    }

    .resources-line-content > span {
      font-weight: bolder;
      padding-left: 4px;
      width: 50px;
    }

    .resources-line > input {
      width: 60px;
      height: 22px;
      margin: 0 2px;
      font-size: 14px;
      padding: 0 4px;
    }

    .tip {
      font-size: 10px;
      line-height: 12px;
    }

    .checkbox-button {
      display: flex;
      font-size: 12px;
      align-items: center;
    }

    /*礼包的单次抽卡价格*/
    .draw-efficiency {
      margin-left: 2px;
      margin-right: 4px;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      width: 30px;
    }

    .checkbox-button-zone-label-short{
      width: 40px;
    }

    .checkbox-button-zone-label-long{
      width: 100px;
    }

    .checkbox-button-zone-label{
      width: 74px;
    }

    .checkbox-button-pack-label{
      width: 120px;
    }

    /*多选盒的按钮的内容*/
    .checkbox-button-gacha-resources {
      display: flex;
      align-items: center;
    }

    .checkbox-button-gacha-resources > span {
      font-weight: bolder;
      padding-left: 2px;
      width: 40px;
      text-align: left;
    }

    .checkbox-button-pack-gacha-resources{
      width: 180px;
      display: flex;
      align-items: center;
    }

  }
}