.custom-radio-button-style{
    width: 160px;

}

.custom-radio-button-style span{
    width: 160px;
}

.gc-collapse-item{
    margin: 8px;
    box-shadow: 1px 1px 8px var(--c-box-shadow-color);
}

.gc-el-checkbox-button .el-checkbox-button__inner{
    border: var(--el-border);
    margin: 4px;
}