.schedule-v1-page {
    margin-bottom: 40px;

    .schedule-box-container {
        width: 98% !important;
        overflow: auto;
        margin: auto;
    }

    .schedule-box {
        width: fit-content;
        margin: auto;
    }

    .schedule-item-card {
        width: 300px;
        margin: 8px;

        .v-list-item__content {
            overflow: initial;
        }
    }


    .building-factory-template {
        padding: 4px;
        justify-content: center;
        margin: 4px auto;
        border-radius: 3px;
        font-weight: 600;
        width: 280px;
        height: 80px;
        user-select: none;
    }

    .room-template {
        padding: 4px;
        justify-content: center;
        margin: 4px auto;
        border-radius: 3px;
        font-weight: 600;
        width: 280px;
        height: 80px;
        user-select: none;
    }

    .room-title {
        width: 100%;
        justify-content: center;
        display: flex;
    }


    /* 设施样式 */

    .trading {
        background-color: #0288d115;
        color: #0288d1;
    }

    .manufacture {
        background-color: #ffb50015;
        color: #ffb500;
    }

    .power {
        background-color: #43a04715;
        color: #43a047;
    }

    .control {
        background-color: #43a04715;
        color: #43a047;
    }

    .dormitory {
        background-color: #009fb415;
        color: #009fb4;
    }

    .meeting {
        background-color: #7e7e7e15;
        color: #7e7e7e;
    }

    .processing {
        background-color: #7e7e7e15;
        color: #7e7e7e;

    }

    .hire {
        background-color: #7e7e7e15;
        color: #7e7e7e;

    }


}

.schedule-dialog {
    .operator-option {
        width: 60px;
        height: 76px;
        overflow: hidden;
        cursor: pointer;
        font-size: 0;
        .operator-name {
            font-size: 12px;
            text-align: center;
        }
    }
    .operator-checkbox{
        height: 300px;
        overflow-y: auto;
    }
    .selected-operator{
        position: relative;
        .selected-operator-icon-close{
            position: absolute;
            right: -2px;
            top: 0;
        }
    }

    .room-set-label{
        font-size: 14px;
        font-weight: bolder;
    }
}

@media screen and (max-width: 600px) {
    .schedule-dialog {
        .operator-option {
            width: 36px;
            .operator-name {
                font-size: 8px;
            }
        }
    }
}



