.room-wrap {
    display: flex;
    width: 1300px;
    margin: auto;
}

.schedule-control-wrap {
    display: flex;
    flex-wrap: wrap;
}

.schedule-control {
    margin: 4px;
    padding: 4px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
}

.schedule-control-option {
    display: flex;
    align-items: center;
    margin: 8px;
}

.room-times-wrap {
    display: flex;
}

.room_times {

}

.room-wrap-left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 700px;
    padding: 110px 0;
}

.room-wrap-center {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
}

.room-wrap-right {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-content: flex-start;
}

.room-bg-null{
    padding: 4px;
    display: flex;
    justify-content: center;
    margin: 4px;
    border-radius: 3px;
    flex-wrap: wrap;
    font-weight: 600;
    height: 94px;
}

.room_bg {
    padding: 4px;
    display: flex;
    justify-content: center;
    margin: 4px;
    border-radius: 3px;
    flex-wrap: wrap;
    font-weight: 600;
    height: 94px;
    box-shadow: 1px 1px 1px #eaeaea;
    /*height: 58px;*/
}

.room-product-wrap{
    width: 30px;
    height: 30px;
    position: relative;
}

.room-product {
    position: absolute;
    top: -76px;
    left: -56px;
    transform: scale(.163);
}

.room-info{
    display: flex;
    align-items: center;
}

.room-set-wrap{
}

.room-name {
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trading {
    background-color: #e0f3ff;
    color: #0288d1;
    width: 210px;
}

.manufacture {
    background-color: #FF5A0034;
    color: #ff5a00;
    width: 210px;
}

.power {
    background-color: #eeffe8;
    color: #43a047;
    width: 210px;
}

.control {
    background-color: #f2fff3;
    color: #1b5e20;
    width: 400px;
}

.dormitory {
    background-color: #f0f0f0;
    color: #006ce8;
    width: 400px;
}

.meeting {
    background-color: #f0f0f0;
    color: #323232;
    width: 200px;
}

.hire {
    background-color: #f0f0f0;
    color: #323232;
    width: 200px;
}



.room-control {
    display: flex;
    align-items: center;
    margin: 12px;
}

.check-image-wrap {
    width: 80px;
    height: 80px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #858585;
    overflow: hidden;
}

.check-image {
    position: absolute;
    top: -50px;
    left: -50px;
    transform: scale(0.5);
}

.selected-operator-wrap {
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
}

.room-popup-wrap {
    margin: 20px auto;

}

.room-popup-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.settlement_operator{
    display: flex;
    height: 74px;
    width: 100%;
    justify-content: center;
}


.room-avatar-sprite-wrap {
    height: 60px;
    width: 60px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
    overflow: hidden;
}

.room-avatar-sprite {
    position: absolute;
    top: calc((60px - 180px) / 2);
    left: calc((60px - 180px) / 2);
    transform: scale(calc(60 / 183));
}

.room-avatar-sprite-null {
    height: 70px;
    width: 1px;
    margin: 4px;
}

.show-name {
    height: 90px;
    color: black;
}

.operator-name {
    position: absolute;
    top: 72px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}



.operator-check-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operator-check-box-option {
    width: 100%;
    display: flex;
    align-items: center;
}

.building-buff-name {
    display: inline-block;
    margin: 4px;
}

.building-buff-description {
    width: 300px;
}


.product-image-wrap {
    height: 50px;
    width: 50px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    /*border: 1px solid #858585;*/
    /*background-color: #e5e5e5;*/
    overflow: hidden;
}

.product-image {
    position: absolute;
    top: -66px;
    left: -66px;
    transform: scale(0.3);
}


.product-image-select {
    background-color: hotpink;
}