.room_wrap {
    display: flex;
}

.schedule_control_wrap {
    display: flex;
    flex-wrap: wrap;
}

.schedule_control {
    margin: 4px;
    padding: 4px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
}

.schedule_control_option {
    display: flex;
    align-items: center;
    margin: 8px;
}

.room_times_wrap {
    display: flex;
}

.room_times {

}

.room_wrap_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 520px;
}

.room_wrap_center {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
}

.room_wrap_right {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-content: flex-start;
}

.room_bg {
    padding: 4px;
    display: flex;
    justify-content: center;
    margin: 4px;
    border-radius: 3px;
    flex-wrap: wrap;
    font-weight: 600;
    height: 110px;
    /*height: 58px;*/
}

.room_btn_wrap {

}

.room_name {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.trading {
    background-color: #e0f3ff;
    color: #0288d1;
    width: 240px;
}

.manufacture {
    background-color: #ffedc9;
    color: #ff7300;
    width: 240px;
}

.power {

    background-color: #b8ffa4;
    color: #43a047;
    width: 130px;
}

.control {

    background-color: #b8ffa4;
    color: #1b5e20;
    width: 500px;
}

.dormitory {
    background-color: #aff1e2;
    color: #006ce8;
    width: 460px;
}

.meeting {

    background-color: #ffedc9;
    color: #323232;
    width: 200px;
}

.hire {
    background-color: #a9a9a9;
    color: #323232;
    width: 200px;
}

.room_control {
    display: flex;
    align-items: center;
    margin: 12px;
}

.check_image_wrap {
    width: 80px;
    height: 80px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #858585;
    overflow: hidden;
}

.check_image {
    position: absolute;
    top: -50px;
    left: -50px;
    transform: scale(0.5);
}

.selected_operator_wrap {
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
}

.room_popup_wrap {
    margin: 20px auto;

}

.room_popup_title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.operator_image_wrap {
    height: 70px;
    width: 70px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    box-shadow: var(--c-box-shadow);
    background-color: var(--c-wrap-bg);
    overflow: hidden;
}

.show_name {
    height: 90px;
    color: black;
}

.operator_name {
    position: absolute;
    top: 72px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.operator_image {
    position: absolute;
    top: -56px;
    left: -56px;
    transform: scale(0.4);
}

.operator_check_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operator_check_box_option {
    width: 100%;
    display: flex;
    align-items: center;
}

.building_buff_name {
    display: inline-block;
    margin: 4px;
}

.building_buff_description {
    width: 300px;
}


.product_image_wrap {
    height: 50px;
    width: 50px;
    margin: 4px;
    position: relative;
    border-radius: 4px;
    /*border: 1px solid #858585;*/
    /*background-color: #e5e5e5;*/
    overflow: hidden;
}

.product_image {
    position: absolute;
    top: -66px;
    left: -66px;
    transform: scale(0.3);
}


.product_image_select {
    background-color: hotpink;
}