.aside-table {
  color: white;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s;
  width: 250px;
  background-color: #1e222d;
  padding-bottom: 200px;
}


.aside-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #94b9ff;
}

.aside-table::-webkit-scrollbar {
  width: 4px;
  background-color: #0059ff;
}

.aside-table::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 2px;
}

.menu-label {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  font-weight: 900;
  padding-left: 20px;
  transition: background-color 0.2s;
}

.menu-label:hover {
  background-color: dimgray;
}

.menu-bar {
  margin: 8px 12px;
  height: 32px;
  line-height: 32px;
  padding-left: 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 190px;
}

.menu-bar:hover {
  background-color: dimgray;
}

.menu-selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.aside-divider {
  width: 85%;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  margin: 10px auto auto;
}

.menu-parent {
  color: #ffd257;
  font-size: 18px;
}

.menu-child {
  margin-left: 32px;
}

.menu-parent-icon {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  margin-right: 8px;
  display: inline-block;
  background-color: #ffd04b;
  border-radius: 6px;
}

.aside-menu-child-icon {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 0px;
  display: inline-block;
}

@media (max-width: 600px) {
  .menu-label {
    font-size: 28px;
    height: 80px;
    line-height: 80px;
  }

  .menu-child {
    font-size: 20px;
  }

  .menu-parent {
    font-size: 24px;
  }

  .menu-bar {
    width: 300px;
  }

}
