.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}

.w-80 {
    width: 80px;
}

.w-90 {
    width: 90px;
}

.w-100 {
    width: 100px;
}

.w-110 {
    width: 110px;
}

.w-120 {
    width: 120px;
}

.w-130 {
    width: 130px;
}

.w-140 {
    width: 140px;
}

.w-150 {
    width: 150px;
}