.theme_light {
  --c-button-white: rgb(255, 255, 255);

  --c-button-blue-background: var(--c-blue-1);
  --c-button-blue-hover: var(--c-blue-2);
  --c-button-blue-border: var(--c-blue-5);
  --c-button-blue-text: var(--c-blue-5);
  --c-button-blue-background-active: var(--c-blue-5);

  --c-button-orange-background: var(--c-orange-1);
  --c-button-orange-hover: var(--c-orange-2);
  --c-button-orange-border: var(--c-orange-5);
  --c-button-orange-text: var(--c-orange-5);
  --c-button-orange-background-active: var(--c-orange-5);

  --c-button-green-background: var(--c-green-1);
  --c-button-green-hover: var(--c-green-2);
  --c-button-green-border: var(--c-green-5);
  --c-button-green-text: var(--c-green-5);
  --c-button-green-background-active: var(--c-green-5);

  --c-button-red-background: var(--c-red-1);
  --c-button-red-hover: var(--c-red-2);
  --c-button-red-border: var(--c-red-5);
  --c-button-red-text: var(--c-red-5);
  --c-button-red-background-active: var(--c-red-5);

  --c-button-purple-background: var(--c-purple-1);
  --c-button-purple-hover: var(--c-purple-2);
  --c-button-purple-border: var(--c-purple-5);
  --c-button-purple-text: var(--c-purple-5);
  --c-button-purple-background-active: var(--c-purple-5);

  --c-button-cyan-background: var(--c-cyan-1);
  --c-button-cyan-hover: var(--c-cyan-2);
  --c-button-cyan-border: var(--c-cyan-5);
  --c-button-cyan-text: var(--c-cyan-5);
  --c-button-cyan-background-active: var(--c-cyan-5);
}

.theme_dark {
  --c-button-white: rgb(255, 255, 255);


  --c-button-blue-background: var(--c-blue-9);
  --c-button-blue-hover: var(--c-blue-5);
  --c-button-blue-border: var(--c-blue-4);
  --c-button-blue-text: var(--c-blue-4);
  --c-button-blue-background-active: var(--c-blue-5);

  --c-button-orange-background: var(--c-orange-9);
  --c-button-orange-hover: var(--c-orange-5);
  --c-button-orange-border: var(--c-orange-4);
  --c-button-orange-text: var(--c-orange-4);
  --c-button-orange-background-active: var(--c-orange-5);

  --c-button-green-background: var(--c-green-9);
  --c-button-green-hover: var(--c-green-5);
  --c-button-green-border: var(--c-green-4);
  --c-button-green-text: var(--c-green-4);
  --c-button-green-background-active: var(--c-green-5);

  --c-button-red-background: var(--c-red-9);
  --c-button-red-hover: var(--c-red-5);
  --c-button-red-border: var(--c-red-4);
  --c-button-red-text: var(--c-red-4);
  --c-button-red-background-active: var(--c-red-5);

  --c-button-purple-background: var(--c-purple-9);
  --c-button-purple-hover: var(--c-purple-5);
  --c-button-purple-border: var(--c-purple-4);
  --c-button-purple-text: var(--c-purple-4);
  --c-button-purple-background-active: var(--c-purple-5);

  --c-button-cyan-background: var(--c-cyan-9);
  --c-button-cyan-hover: var(--c-cyan-5);
  --c-button-cyan-border: var(--c-cyan-4);
  --c-button-cyan-text: var(--c-cyan-4);
  --c-button-cyan-background-active: var(--c-cyan-5);
}


// 定义颜色变量

$button-colors: (
        'blue': (
                background: var(--c-button-blue-background),
                hover:var(--c-button-blue-hover),
                border: var(--c-button-blue-border),
                text:var(--c-button-blue-text),
                background-active:var(--c-button-blue-background-active),
        ),

        'orange': (
                background: var(--c-button-orange-background),
                hover:var(--c-button-orange-hover),
                border: var(--c-button-orange-border),
                text:var(--c-button-orange-text),
                background-active:var(--c-button-orange-background-active),
        ),

        'green': (
                background: var(--c-button-green-background),
                hover:var(--c-button-green-hover),
                border: var(--c-button-green-border),
                text:var(--c-button-green-text),
                background-active:var(--c-button-green-background-active),
        ),

        'red': (
                background: var(--c-button-red-background),
                hover:var(--c-button-red-hover),
                border: var(--c-button-red-border),
                text:var(--c-button-red-text),
                background-active:var(--c-button-red-background-active),
        ),

        'purple': (
                background: var(--c-button-purple-background),
                hover:var(--c-button-purple-hover),
                border: var(--c-button-purple-border),
                text:var(--c-button-purple-text),
                background-active:var(--c-button-purple-background-active),
        ),

        'cyan': (
                background: var(--c-button-cyan-background),
                hover:var(--c-button-cyan-hover),
                border: var(--c-button-cyan-border),
                text:var(--c-button-cyan-text),
                background-active:var(--c-button-cyan-background-active),
        ),
);


.my-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 88px;
  box-sizing: border-box;
  transition: background-color 0.2s;
  cursor: pointer;
  background-color: var(--c-background-color);
  border: 1px solid var(--c-border-color);
  outline: none;
  font-weight: 500;

  @each $color-name, $color-values in $button-colors {
    &[data-color="#{$color-name}"] {
      color: map-get($color-values, text);
      border-color: map-get($color-values, border);
      background-color: map-get($color-values,background);

      &[data-status="on"] {
        background-color: map-get($color-values, background-active);
        border-color: map-get($color-values, background-active);
        color: var(--c-button-white);
      }

      &:hover[data-status="off"] {
        background-color: map-get($color-values, background-active);
        color: var(--c-button-white);
      }

      &[data-hover]{
        background-color: map-get($color-values, background-active);
        color: var(--c-button-white);
      }
    }



    &[data-width-auto]{
      width: fit-content;
      min-width: initial;
    }
  }
}

.my-button:focus{
  outline: none;
}

@media screen and (max-width: 600px) {
  .my-button {
    padding: 0 8px;
    min-width: 70px;
    height: 22px;
    line-height: 20px;
    font-size: 12px;
  }
}