.c-module-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 12px 0;
}

.c-module-title {
    width: fit-content;
    height: 60px;
}

.c-module-title h1 {
    padding-right: 16px;
    padding-left: 2px;
    line-height: 1;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 0;
}

.c-module-title h4 {
    line-height: 1.5;
    margin-top: -28px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #888888;
    color: #ffffff;
    border-left: 8px solid #6495ed;
    z-index: 1;
}

.c-module-tip {
    padding: 4px;
    font-style: italic;
    color: #00a1d6;
    font-size: 14px;
}

.tag-group span{
    display: inline-flex;
    border-radius: 4px;
    padding: 2px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin: 4px 8px;
}

.tag {
    display: inline-flex;
    border-radius: 4px;
    padding: 2px 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 4px 8px;
}

.tag-rank-6 {
    background-color: #ffeeee;
    color: #ff1a23;
}

.tag-rank-5 {
    background-color: #fde9df;
    color: #ff6d12;
}

.tag-rank-4 {
    background-color: #efe9fc;
    color: #a335ee;
}

.tag-rank-3 {
    background-color: #e3f1ff;
    color: #0180ff;
}

.tag-rank-2 {
    background-color: #f0f9eb;
    color: #00a2a2;
}

.tag-rank-1 {
    background-color: #f3f3f3;
    color: #919191;
}


@media screen and (max-width: 600px) {

    .c-module-title {
        height: 40px;
    }

    .c-module-title h1 {
        font-size: 24px;
    }

    .c-module-title h4 {
        font-size: 10px;
        margin-top: -20px;
        z-index: 1;
    }

    .c-module-tip {
        padding: 4px;
        font-style: italic;
        color: #00a1d6;
        font-size: 8px;
    }
}