.container {
  display: flex;
  flex: 1;
  /* height: 100%; */
  /* border: 1px solid rgb(0, 119, 255); */
  overflow: hidden;
  background-color: var(--c-bg);
  color: var(--c-text-color);
  height: 100vh;
  transition: background-color 0.3s;
}

.header {
  height: 48px;
  background: #262f3e;
}

.is_vertical {
  flex-direction: column;
}

.aside_hidden {
  width: 0px;
  transform: translateX(-500px);
}

.aside {
  width: 250px;
  transition: all 0.1s;
  transform: translateX(0);
  background-color: #1e222d;
  overflow: auto;
  height: 100%;
}

.main {
  box-sizing: border-box;
  display: block;
  flex: 1;
  overflow: auto;
}

.footer {
  height: 30px;
  line-height: 30px;
  background-color: rgb(52, 68, 104);
}

.container-v1 {
  height: 100%;
  width: 100%;
  background-color: var(--c-bg);
  color: var(--c-text-color);
  transition: background-color 0.3s;
  box-sizing: border-box;
  padding-left: 250px;
  /*background-color: red;*/
}

@media (max-width: 1080px) {
  .header {
    height: 72px;
  }

  .aside_table {
    display: none;
  }

  .container-v1{
    padding-left: 0;
  }

}


