
.container {
  width: 100%;
  background-color: var(--c-background-color);
  color: var(--c-text-color);
  transition: all 0.3s;
  box-sizing: border-box;
  padding-left: 250px;
  overflow-x: hidden;
  /*background-color: red;*/
}

.header {
  height: 48px;
  background: #262f3e;
}

.main {
  box-sizing: border-box;
  display: block;
  flex: 1;
  overflow: auto;
}

.footer {
  height: 30px;
  line-height: 30px;
  background-color: rgb(52, 68, 104);
}



@media (max-width: 1080px) {
  .header {
    height: 72px;
  }

  .aside-table {
    display: none;
  }

  .container{
    padding-left: 0;
  }

}


