.header_wrap {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  /* background-color: rgb(52, 68, 104); */
  z-index: 100;
  box-shadow: none;
  gap: 8px;
  padding: 0 10px 0 10px;
}

.menu-button {
  display: none;
  width: 28px;
  height: 32px;
  padding: 6px 8px;
  margin-left: 12px;
  /* border: 2px solid white; */
  border-radius: 6px;
}

.menu-button div {
  height: 3px;

  background-color: white;
  margin: 6px 0;
}

.menu_button_desktop {
  width: 24px;
  height: 24px;
  padding: 8px 8px;
  border-radius: 24px;
  transition: background-color 0.2s;
}

.menu_button_desktop:hover {
  background-color: rgb(52, 86, 87);
}

.menu_button_desktop div {
  height: 2px;
  background-color: white;
  margin: 4px;
  width: 16px;
}

.page-title {
  color: white;
  font-size: 28px;
  display: none;
  padding-left: 24px;
}

.pageTitle {
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding-left: 8px;
  /* margin-left: 20px; */
}

@media (max-width: 1080px) {
  .menu-button {
    display: block;
  }

  .page-title {
    display: block;
    font-size: 24px;
  }
  .pageTitle {
    display: block;
    font-size: 24px;
  }
  .header_wrap {
    height: 72px;
  }

  .el-switch {
    transform: scale(1.5);
  }
}

.activate {
  color: #ffd04b;
  border-bottom: 3px solid #ffd04b;
}

.navbar-switch {
  --el-switch-on-color: rgb(52, 68, 104);
  --el-switch-off-color: rgb(52, 68, 104);
  --el-switch-border-color: white;
  /* padding-right: 28px; */
}

.spacer {
  flex-grow: 1;
}

.drawer_wrap {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  /* border: solid red 1px; */
}

.drawer {
  position: absolute;
  top: 0;
  width: 380px;
  height: 100vh;
  transform: translateX(-500px);
  transition: all 0.1s;
  background-color: #1e222d;
  overflow: auto;
}

.menu-mask {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  display: none;
}

.menu_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 100px;
}

.menu_title {
  width: 100%;
  height: 80px;
  /* border: 1px red solid; */
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  /* height: 1px; */
  background: white;
  box-shadow: 0 0 1px 1px rgb(208, 208, 208);
  margin-bottom: 10px;
}

.drawer_nav {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  height: 50px;
  padding-left: 4px;
  font-weight: 600;
}

.drawer_nav_text {
  font-size: 30px;
  width: 260px;
}

.drawer_child_icon {
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.drawer_child_icon svg {
  width: 40px;
  height: 40px;
}

.drawer_nav_child_wrap_init {
  height: auto;
  transition: all 0.2s;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 6px;
  font-weight: 500;
}

.drawer_nav_child_wrap {
  overflow: hidden;
  height: 0px;
  transition: all 0.2s;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 6px;
  font-weight: 500;
  /* border: 1px red solid; */
}

.drawer_nav_child {
  font-size: 24px;
  margin-top: 10px;
}

:global(.navbar-switch .el-icon) {
  font-size: 16px !important;
}
