.header-button-label{
    font-size: 16px;
    color:white;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    /* background-color: rgb(52, 68, 104); */
    z-index: 100;
    box-shadow: none;
    gap: 8px;
    padding: 0 10px 0 10px;
}

.theme-option-wrap{
    width: 100px;
}

svg {
    fill: red;
}

.theme-option{
    padding: 8px 4px;
    cursor: pointer;
    margin: 2px;
}


.page-title {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding:0 8px;
}

.menu-button {
    display: none;
    font-size: 24px;color: rgb(230,230,230)
}

.menu-button-desktop {
    display: block;
    font-size:32px;
    color: rgb(230,230,230);
}





.spacer {
    flex-grow: 1;
}

.drawer_wrap {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    /* border: solid red 1px; */
}

.drawer {
    position: absolute;
    top: 0;
    width: 380px;
    height: 100vh;
    transform: translateX(-500px);
    transition: translate 0.3s linear;
    background-color: #1e222d;
    overflow: auto;
}

.menu-mask {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: none;
}

.menu_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}

.menu_title {
    width: 100%;
    height: 80px;
    /* border: 1px red solid; */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}





