.header {
    height: 48px;
    background: #262f3e;
}

.header-bar {
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    z-index: 100;
    box-shadow: none;
    gap: 8px;
    padding: 0 10px 0 10px;
}


.menu-button {
    display: none;
}

.menu-button-desktop {
    display: block;
    font-size: 28px;
    color: rgb(230, 230, 230);
}

.current-page-title {
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 0 8px;
}

.icon-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 4px;
}

.icon-theme-style {
    font-size: 24px;
    font-weight: bolder;
    padding-right: 4px;
    color: rgb(255, 255, 255);
}

.icon-language-style {
    font-size: 24px;
    color: white;
    padding-right: 4px;
    font-weight: bolder;
}

.icon-feed-back-style {
    font-size: 24px;
    color: white;
    padding-right: 4px;
    font-weight: bolder;
}

.menu-icon {
    font-size: 16px;
    padding: 0 8px;

}

.spacer {
    flex-grow: 1;
}

/*侧边导航样式*/
.side-navigation-container {
    color: white;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s;
    width: 250px;
    background-color: #1e222d;
    padding-bottom: 200px;
}


.side-navigation-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #94b9ff;
}

.side-navigation-container::-webkit-scrollbar {
    width: 4px;
    background-color: #0059ff;
}

.side-navigation-container::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 2px;
}

.side-website-title {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    font-weight: 900;
    padding-left: 20px;
    transition: background-color 0.2s;
}

.side-website-title:hover {
    background-color: dimgray;
}


/*抽屉式导航样式*/
.drawer-container {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.drawer {
    position: fixed;
    top: 0;
    width: 260px;
    height: 100vh;
    transform: translateX(-500px);
    transition: translate 0.3s linear;
    background-color: #1e222d;
    overflow: auto;
    z-index:2001
}

.drawer-mask {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: none;
    z-index:2000
}

.navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}



.web-title {
    width: 100%;
    height: 80px;
    /* border: 1px red solid; */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-bar {
    margin: 8px 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 4px;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 190px;
}

.nav-bar:hover {
    background-color: dimgray;
}

.nav-bar-selected {
    background-color: rgba(255, 255, 255, 0.2);
}


.nav-bar-parent {
    color: #ffd257;
    font-size: 18px;
}

.nav-bar-child {
    margin-left: 32px;
}

.nav-bar-parent-icon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-right: 8px;
    display: inline-block;
    background-color: #ffd04b;
    border-radius: 6px;
}

.nav-bar-child-icon {
    width: 32px;
    height: 32px;
    margin: 0px 12px 0px 0px;
    display: inline-block;
}


@media (max-width: 600px) {

    .header {
        height: 60px;
    }
    .header-bar {
        height: 60px;
    }

    .menu-button {
        display: block;
        font-size: 24px;
        color: rgb(230, 230, 230)
    }

    .menu-button-desktop {
        display: none;
    }

    .nav-bar{
        height: 28px;
        line-height: 28px;
    }

    .nav-bar-parent {
        font-size: 20px;
    }

    .nav-bar-child {
        font-size: 14px;
    }

}

.language-options {
    width: 100px;
}

.language-options span {
    display: block;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    box-sizing: border-box;
}


.feedback-table {
    margin-top: 12px;
    border-collapse: collapse;
    text-align: center;
}


.feedback-table td {
    padding: 12px;
    line-height: 24px;
    border-bottom: 1px solid var(--c-border-color);
}


