.theme_init{
    --c-background-color:var(--c-white-4);
    --c-text-color:var(--c-black-1);
}

.theme_light{
    /*基础样式*/
    --c-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.12);
    --c-border:1px solid var(--c-white-2);
    --c-background-color: var(--c-white-1);
    --c-text-color:var(--c-black-2);
    --c-tip-color:var(--c-black-3);
    --c-background-white-transparent:var(--c-wrap-white-transparent-bg);
    --c-border-bottom:var(--c-white-3);

    --c-text-blue:var(--c-text-blue-light);

    /*按钮样式*/
    --c-btn-bg:var(--c-white-1);
    --c-btn-border:1px solid var(--c-white-3);
    --c-btn-color:var(--c-black-1);
    --c-btn-text-color:var(--c-white-1);
    --c-btn-bg-blue:var(--c-btn-blue-light);
    --c-btn-bg-red:var(--c-btn-red-light);
    --c-btn-bg-green:var(--c-btn-green-light);

    /*输入框样式*/
    --c-input-bg:'';
    --c-input-border:1px solid var(--c-black-5);
    --c-input-text-color:var(--c-black-2);

}

.theme_dark{
    /*基础样式*/
    --c-box-shadow:1px 1px 8px var(--c-black-1);
    --c-border:1px solid var(--c-white-6);
    --c-background-color: var(--c-black-2);
    --c-text-color: var(--c-white-2);
    --c-tip-color:var(--c-white-3);
    --c-background-white-transparent:var(--c-wrap-white-transparent-bg);
    --c-border-bottom:var(--c-black-4);

    --c-text-blue:var(--c-text-blue-dark);

    /*按钮样式*/
    --c-btn-bg:var(--c-black-5);
    --c-btn-color:var(--c-white-1);
    --c-btn-text-color:var(--c-black-1);
    --c-btn-bg-blue:var(--c-btn-blue-dark);
    --c-btn-bg-red:var(--c-btn-red-dark);
    --c-btn-bg-green:var(--c-btn-green-dark);

    /*输入框样式*/
    --c-input-bg:'';
    --c-input-border:2px solid var(--c-white-4);
    --c-input-text-color:var(--c-white-2);

}


.color_var{
    --c-black-1: #000000;
    --c-black-2: #191919;
    --c-black-3: #323232;
    --c-black-4: #4b4b4b;
    --c-black-5: #646464;
    --c-black-6: #7d7d7d;

    --c-white-1: #ffffff;
    --c-white-2: #e6e6e6;
    --c-white-3: #cdcdcd;
    --c-white-4: #b4b4b4;
    --c-white-5: #9b9b9b;
    --c-white-6: #828282;

    --c-wrap-white-transparent-bg: rgba(255, 255, 255, 0.1);

    /*亮色颜色*/
    --c-text-blue-light:#04a5ff;
    --c-text-white-light:var(--c-white-2);

    --c-btn-green-light: #04c504;
    --c-btn-blue-light: #00b2ff;
    --c-btn-red-light: #ff6262;

    /*暗色颜色*/
    --c-text-blue-dark: #56b7ff;
    --c-text-white-dark:var(--c-white-1);

    --c-btn-green-dark: #3bb6ac;
    --c-btn-blue-dark: #4ab4ef;
    --c-btn-red-dark: #fa6f6f;

}
