.theme_init{
    --c-background-color:var(--c-white-4);
    --c-text-color:var(--c-black-1);
}

.theme_light{
    /*基础样式*/
    --c-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.12);
    --c-box-shadow-color:rgba(0, 0, 0, 0.2);
    --c-border:1px solid var(--c-white-2);
    --c-border-color: var(--c-white-2);
    --c-background-color: var(--c-white-1);
    --c-text-color:var(--c-black-2);
    --c-tip-color:var(--c-black-3);
    --c-background-white-transparent:var(--c-wrap-white-transparent-bg);


    --c-blue:var(--c-blue-light);
    --c-red:var(--c-red-light);

    /*按钮样式*/
    --c-btn-bg:var(--c-white-1);
    --c-btn-border:1px solid var(--c-white-3);
    --c-btn-color:var(--c-black-1);
    --c-btn-text-color:var(--c-white-1);

    --c-btn-color-blue: #1f88ff;
    --c-btn-border-blue: rgba(31, 136, 255, 0.5);
    --c-btn-color-red: #ff3e24;
    --c-btn-border-red: rgba(255, 62, 36, 0.3);
    --c-btn-color-green: #00b28a;
    --c-btn-border-green: rgba(0, 178, 138, 0.5);
    --c-btn-color-orange: #ff8a52;
    --c-btn-border-orange: rgba(255, 138, 82, 0.5);

    --c-stage-card-background-color: #f7f7f7;
    --c-material-grey: #939393;

    --c-table-tr-background-color: #f6f6f6;

    --c-schedule-arrow-color: #c4c4c4;

    /*输入框样式*/
    --c-input-bg:'';
    --c-input-border:1px solid var(--c-white-3);
    --c-input-border-focus:1px solid #6ec3ff;
    --c-input-text-color:var(--c-black-2);

}

.theme_dark{
    /*基础样式*/
    --c-box-shadow:1px 1px 4px var(--c-black-1);
    --c-border:1px solid var(--c-black-4);
    --c-box-shadow-color:rgba(0, 0, 0);
    --c-border-color:var(--c-black-4);
    --c-background-color: #1e1e1e;
    --c-text-color: var(--c-white-2);
    --c-tip-color:var(--c-white-3);
    --c-background-white-transparent:var(--c-wrap-white-transparent-bg);


    --c-blue:var(--c-blue-dark);
    --c-red:var(--c-red-dark);

    /*按钮样式*/
    --c-btn-bg:'';
    --c-btn-border:1px solid var(--c-white-3);
    --c-btn-color:var(--c-white-1);
    --c-btn-text-color:var(--c-black-1);


    --c-btn-color-blue: #6ebeff;
    --c-btn-border-blue: #6ebeff;
    --c-btn-color-red: #ff6245;
    --c-btn-border-red:#ff6245;
    --c-btn-color-green: #2ec4b6;
    --c-btn-border-green:#2ec4b6;
    --c-btn-color-orange: #ff8a52;
    --c-btn-border-orange:#ff8a52;



    --c-stage-card-background-color: #3d3d3d;
    --c-material-grey: #cdcdcd;

    --c-table-tr-background-color: #282828;

    --c-schedule-arrow-color: #757575;

    /*输入框样式*/
    --c-input-bg:'';
    --c-input-border:1px solid var(--c-black-6);
    --c-input-border-focus:1px solid #6ec3ff;
    --c-input-text-color:var(--c-white-2);

}


.color_var{
    --c-black-1: #000000;
    --c-black-2: #191919;
    --c-black-3: #323232;
    --c-black-4: #4b4b4b;
    --c-black-5: #646464;
    --c-black-6: #7d7d7d;

    --c-white-1: #ffffff;
    --c-white-2: #e6e6e6;
    --c-white-3: #cdcdcd;
    --c-white-4: #b4b4b4;
    --c-white-5: #9b9b9b;
    --c-white-6: #828282;

    --c-wrap-white-transparent-bg: rgba(255, 255, 255, 0.1);

    /*亮色颜色*/
    --c-blue-light:#04a5ff;
    --c-red-light: #ff6262;

    --c-btn-green-light: #30da96;
    --c-btn-blue-light: #00a1d6;
    --c-btn-red-light: #ff6262;
    --c-btn-orange-light: #ff641e;

    /*暗色颜色*/
    --c-blue-dark: #56b7ff;
    --c-red-dark: #fa6f6f;

    --c-btn-green-dark: #3bb6ac;
    --c-btn-blue-dark: #4ab4ef;
    --c-btn-red-dark: #fa6f6f;
    --c-btn-orange-dark: #ff641e;
}
