@media screen and (max-width: 600px) {
  .logistics-page {


    .checkbox-button-tip {
      font-style: italic;
      font-size: 10px;
      padding: 8px;
    }

    .checkbox-button-label {
      width: 58px;
      padding-right: 6px;
      font-size: 14px;
    }

    .logistics-table {
       font-size: 10px;
    }

    .logistics-table-title td{
      height: 24px;
      line-height: 24px;
    }

    .logistics-table-title-1{
      width: 80px;
    }
    .logistics-table-title-2{
      width: 40px;
    }
    .logistics-table-title-3{
      width: 60px;
    }
    .logistics-table-title-4{
      width: 80px;
    }

    .operator-avatar-sprite{
      width: 70px;
      height: 56px;
      position: relative;
      //background-color: #0076d6;
    }

    .operator-avatar-sprite > div{
      position: absolute;
      transform: scale(calc(36 / 180));
      top: -72px;
      left: -54px;
      //background-color: #ff641e;
    }

    .operator-avatar-sprite > span {
      position: absolute;
      left: 0;
      top: 36px;
      width: 100%;
      text-align: center;
    }

    .logistics-search-line {
      height: 60px;
    }

    .logistics-search-tip {
      font-style: italic;
      font-size: 10px;
      line-height: 14px;
      height: 32px;
    }
  }
}