.app {

  line-height: 1.5;
  font-size: 15px;
}

.side-menu {
  position: fixed;

  .side-menu-title {
    color: rgb(0,0,0);
    font-weight: bold;
    display: block;
    font-size: 20px;
    padding: 24px 0 0 0;
  }

  opacity: 0.8;

  .side-menu-H1 {
    color: rgba(0,0,0,0.8);
    display: block;
    cursor: pointer;
    padding: 4px 4px 4px 12px;
  }

  .side-menu-H2 {
    color: rgba(0,0,0,0.8);
    display: block;
    padding: 4px 4px 4px 24px;
  }

  .side-menu-H3 {
    color: rgba(0,0,0,0.8);
    display: block;
    padding: 4px 4px 4px 36px;
  }

  .current-menu {
    border-left: 3px solid rgb(var(--v-theme-primary));;
  }

}


.navigation-drawer {

  .v-list-item {
    --indent-padding: 32px;
  }

  .v-list-item__spacer {
    width: 12px !important;
  }

  .router-link {
    text-decoration: none;
    color: inherit;
  }
}

.v-container {
  padding-left: 100px !important;
  padding-right: 300px !important;
}

@media screen and (max-width: 1280px) {
  .v-container {
    padding: 0 48px !important;
  }
}


@media screen and (max-width: 700px) {
  .app {
    font-size: 12px;

  }
}