.app {
  line-height: 1.5;
}

.navigation-drawer {

  .v-list-item {
    --indent-padding: 32px;
  }

  .navigation-item-content {
    display: flex;
    align-items: center;


  }

  .navigation-item-content-spacer {
    width: 16px;
  }

  .router-link {
    text-decoration: none;
    color: inherit;
  }
}


.v-container1 {
  width: calc(100% - 60px) !important;
}