h1{
    padding-top:36px;
    padding-bottom:12px;
}

h2{
  padding-top:24px;
  padding-bottom:8px;
}

h3{
  padding-top:12px;
  padding-bottom:4px;
}

h4{
  padding-top:8px;
}

p{
  padding: 4px 0;
}

ul{
  padding:8px 16px;
}


img{
  display: block;
  width: 600px;
  margin: 12px;
}

code{
  display: block;
  background-color: #111111;
  padding: 12px;
  color: white;
  //white-space: wrap
  overflow: auto;
}


@media screen and (max-width: 600px) {

  h1{
   font-size: 20px;
  }

  h2{
    font-size: 16px;
  }

  h3{
    font-size: 12px;
  }


  img{
    display: block;
    width: 90%;
    margin: auto;
  }

}