h1{
    padding-top:36px;
    padding-bottom:12px;
}

h2{
  padding-top:24px;
  padding-bottom:8px;
}

h3{
  padding-top:12px;
  padding-bottom:4px;
}

h4{
  padding-top:8px;
}


ul{
  padding:8px 12px;
}