.input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--c-input-border-color);
    background-color: transparent;
}

.input:focus {
    border-bottom: 2px solid var(--c-input-border-focus-color);
}

.checkbox {
    display: flex;
}

.checkbox-option {
    margin: 0 12px 0 0;
}

.checkbox-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    text-align: center;
}

.option-line {
    width: 0%;
    height: 3px;
}

.option-line-active {
    transition: width 0.4s;
    width: 100%;
    height: 2px;
    background-color: #6ebeff;
    margin: 0 auto;
}