.input-base {
    font-size: 16px;
    height: 28px;
    line-height: 1;
    border: none;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 3px;
    color: var(--c-input-text-color);
    border: var(--c-input-border);
    background-color: var(--c-input-bg);
}

.input-group{
    position: relative;
}

.input-group-text{
    position: absolute;
    top: 30px;
    left: 2px;
    font-style: italic;
    font-size: 14px;
    color:grey;
}

.input-base:focus {
    border:var(--c-input-border-focus);
}


.input-tip{
    position: relative;
}