

.theme-light {
  /*基础样式变量*/
  --c-box-shadow-color: rgba(185, 185, 185, 0.5);
  --c-border-color: #d7d7d7;
  --c-page-background-color: #ffffff;
  --c-page-background-color-secondary: #F9F9F9;
  --c-text-color: #191919;
  --c-text-tip-color: #858585;
  --c-card-background-color:#ffffff;

  --c-background-color:#FFFFFF;

  //每个页面的自定义样式变量
  --c-stage-card-background-color: #f7f7f7;
  --c-material-grey: #939393;
  --c-pack-card-background-color:#323232;
  --c-operator-pupup-background-color:#F0F0F0;
  --c-table-tr-background-color: #f6f6f6;



}

.theme-dark {
  /*基础样式*/
  --c-box-shadow-color: #141414;
  --c-border-color: #b6b6b6;
  --c-page-background-color: #141414;
  --c-page-background-color-secondary: #323232;
  --c-text-color:  #e6e6e6;
  --c-text-tip-color: #c0c0c0;
  --c-card-background-color:#323232;
  --c-background-color:#222222;

  //每个页面的自定义样式变量
  --c-stage-card-background-color: #3d3d3d;
  --c-material-grey: #cdcdcd;
  --c-pack-card-background-color:#323232;
  --c-table-tr-background-color: #282828;
  --c-operator-pupup-background-color:#141414;


}




