.theme_init {
  --c-page-background-color: var(--c-white-4);
  --c-text-color: var(--c-black-1);
}

.theme-light {
  /*基础样式变量*/
  --c-box-shadow-color: rgba(185, 185, 185, 0.5);
  --c-border-color: #d7d7d7;
  --c-page-background-color: #ffffff;
  --c-page-background-color-secondary: #F9F9F9;
  --c-text-color: var(--c-black-2);
  --c-text-tip-color: #858585;
  --c-background-white-transparent: var(--c-white-transparent);
  --c-card-background-color:#ffffff;

  //每个页面的自定义样式变量
  --c-stage-card-background-color: #f7f7f7;
  --c-material-grey: #939393;
  --c-pack-card-background-color:var(--c-black-3);
  --c-operator-pupup-background-color:#F0F0F0;
  --c-table-tr-background-color: #f6f6f6;

  --c-schedule-arrow-color: #c4c4c4;

  /*输入框样式*/
  --c-input-bg: '';
  --c-input-border: 1px solid var(--c-white-3);
  --c-input-border-focus: 1px solid #6ec3ff;
  --c-input-text-color: var(--c-black-2);
  --c-input-border-color: rgba(0, 0, 0, 0.3);
  --c-input-border-focus-color: rgb(73, 179, 255);
  --c-checkbox-color: rgb(31, 136, 255);
  --c-warn-color: #ff0000;
}

.theme-dark {
  /*基础样式*/
  --c-box-shadow-color: #141414;
  --c-border-color: #b6b6b6;
  --c-page-background-color: #141414;
  --c-page-background-color-secondary: var(--c-black-3);
  --c-text-color: var(--c-white-2);
  --c-text-tip-color: #c0c0c0;
  --c-background-white-transparent: var(--c-white-transparent);
  --c-card-background-color:var(--c-black-3);


  //每个页面的自定义样式变量
  --c-stage-card-background-color: #3d3d3d;
  --c-material-grey: #cdcdcd;
  --c-pack-card-background-color:var(--c-black-3);
  --c-table-tr-background-color: #282828;
  --c-operator-pupup-background-color:#141414;
  --c-schedule-arrow-color: #757575;




}

:root {
  --c-blue-1: rgb(250, 250, 255);
  --c-blue-2: rgb(212, 232, 255); 
  --c-blue-3: rgb(174, 190, 255); 
  --c-blue-4: rgb(135, 165, 255); 
  --c-blue-5: rgb(35, 145, 255);
  --c-blue-6: rgb(64, 125, 205); 
  --c-blue-7: rgb(93, 105, 175); 
  --c-blue-8: rgb(122, 85, 145); 
  --c-blue-9: rgb(24, 25, 40);

  --c-orange-1: rgb(255, 245, 235);
  --c-orange-2: rgb(255, 220, 185);
  --c-orange-3: rgb(255, 195, 135);
  --c-orange-4: rgb(255, 170, 85);
  --c-orange-5: rgb(255, 111, 62);
  --c-orange-6: rgb(205, 115, 32);
  --c-orange-7: rgb(155, 85, 29);
  --c-orange-8: rgb(105, 55, 26);
  --c-orange-9: rgb(44, 34, 24);

  --c-purple-1: rgb(245, 235, 255);
  --c-purple-2: rgb(223, 187, 255);
  --c-purple-3: rgb(200, 138, 255);
  --c-purple-4: rgb(178, 90, 255);
  --c-purple-5: rgb(155, 40, 175);
  --c-purple-6: rgb(125, 35, 140);
  --c-purple-7: rgb(95, 30, 105);
  --c-purple-8: rgb(65, 25, 70);
  --c-purple-9: rgb(35, 21, 35);

  --c-green-1: rgb(250, 255, 250);
  --c-green-2: rgb(204, 255, 204);
  --c-green-3: rgb(162, 255, 162);
  --c-green-4: rgb(120, 255, 120);
  --c-green-5: rgb(76, 175, 80);
  --c-green-6: rgb(56, 147, 60);
  --c-green-7: rgb(36, 119, 40);
  --c-green-8: rgb(16, 81, 20);
  --c-green-9: rgb(17, 37, 17);


  --c-red-1: rgb(253, 245, 245); 
  --c-red-2: rgb(250, 193, 193);
  --c-red-3: rgb(245, 140, 140);
  --c-red-4: rgb(240, 87, 87);
  --c-red-5: rgb(244, 67, 54); /* 标准MD红 */
  --c-red-6: rgb(191, 46, 39);
  --c-red-7: rgb(139, 34, 28);
  --c-red-8: rgb(85, 20, 15);
  --c-red-9: rgb(37, 19, 19);


  --c-cyan-1: rgb(245, 255, 255);
  --c-cyan-2: rgb(191, 255, 255);
  --c-cyan-3: rgb(148, 255, 255);
  --c-cyan-4: rgb(105, 255, 255);
  --c-cyan-5: rgb(0, 188, 212); /* 标准MD青色 */
  --c-cyan-6: rgb(0, 128, 255);
  --c-cyan-7: rgb(0, 85, 155);
  --c-cyan-8: rgb(0, 55, 105);
  --c-cyan-9: rgb(0, 34, 44);

  --c-black-1: #000000;
  --c-black-2: #191919;
  --c-black-3: #323232;
  --c-black-4: #4b4b4b;
  --c-black-5: #646464;
  --c-black-6: #7d7d7d;

  --c-white-1: #ffffff;
  --c-white-2: #e6e6e6;
  --c-white-3: #cdcdcd;
  --c-white-4: #b4b4b4;
  --c-white-5: #9b9b9b;
  --c-white-6: #828282;




}


