@font-face {
    font-family: 'Novecento Wide Medium';
    src: url('./font/Novecento WideMedium.otf');
}

@font-face {
    font-family: '标小智无界黑';
    src: url('./font/标小智无界黑.TTF');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('./font/HARMONYOS_SANS_SC_REGULAR.TTF');
}

.background {
    background-image: url('./images/pure-background.jpg');
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.transparent-panel {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: 1275px;
    height: 100%;
}

.rounded-rectangle {
    border: 2px solid #B7D5F7;
    border-radius: 15px;
    position: absolute;
}

.title-text {
    font-family: '标小智无界黑', sans-serif;
    font-size: 34px;
    color: #276CBC;
    position: absolute;
}

.normal-text {
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    color: #000;
    position: absolute;
}

.central-text {
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    color: #276CBC;
    text-decoration: underline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link-text {
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    color: #276CBC;
    text-decoration: underline;
    position: absolute;
}

.bold-text {
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 18px;
    color: #000;
    position: absolute;
}

.result-text {
    font-family: 'Novecento Wide Medium', sans-serif;
    font-size: 47px;
    color: #B7D5F7;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.result-unit {
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 20px;
    color: #B7D5F7;
    position: absolute;
    top: 60px;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.custom-input[type='number'] {
    -moz-appearance: textfield;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    background-color: #EFEFEF;
    border: transparent;
    position: absolute;
    width: 50px;
    height: 26px;
    text-align: center;
    appearance: none;
}

.final-input::-webkit-inner-spin-button,
.final-input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.final-input[type='number'] {
    -moz-appearance: textfield;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #B7D5F7;
    position: absolute;
    left: 630px;
    top: 563px;
    width: 166px;
    height: 38px;
    border-radius: 15px;
    text-align: center;
    appearance: none;
}

.unit-input::-webkit-inner-spin-button,
.unit-input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.unit-input {
    -moz-appearance: textfield;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #B7D5F7;
    position: absolute;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    appearance: none;
}

.custom-dropdown {
    background-color: #EFEFEF;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 54px;
    height: 26px;
    text-align: center;
    position: absolute;
}

.custom-dropdown-2 {
    background-color: #EFEFEF;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 134px;
    height: 26px;
    text-align: center;
    position: absolute;
}

.add-button {
    background-color: #EFEFEF;
    font-family: 'HarmonyOS Sans SC', sans-serif;
    font-size: 18px;
    border: 1px solid #ccc;
    width: 303px;
    height: 35px;
    text-align: center;
    position: absolute;
}

.boss-button {
    background-color: transparent;
    border: transparent;
    width: 64px;
    height: 64px;
    position: absolute;
}

.custom-table {
    background-color: transparent;
    border: transparent;
    left: 870px;
    top: 250px;
    width: 330px;
    position: absolute;
    border-collapse: collapse;
    table-layout: fixed;
}

.custom-table td:nth-child(2) {
    text-align: right;
}

.custom-table tr {
    height: 30px;
}

.highlighted {
    background-color: #DDDDDD;
    border-bottom: 2px solid #276CBC;
}