.rogue-seed-page {
  .rogue-seed-card {
    width: 500px;
    margin: 4px;
    background-color: rgba(var(--v-theme-primary),0.05);

  }

  .roll-rogue-seed-card {
    width: 500px;
    margin: auto;
    background-color: rgba(var(--v-theme-primary),0.05);

  }

  .rogue-seed{
    font-size: 16px;
    font-weight: bolder;
  }

  .rogue-seed-rating-icon {
    display: block;
    margin: 4px;
    width: 20px;
    height: 20px;
  }

}